/* line 3, ../sass/buttons.scss */
.wrapper-button {
  display: inline-block;
  padding: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  text-decoration: none;
}

/* line 10, ../sass/buttons.scss */
.wrapper-button.white .button {
  -webkit-box-shadow: 0 0 0 6px white;
  -moz-box-shadow: 0 0 0 6px white;
  box-shadow: 0 0 0 6px white;
}
/* line 13, ../sass/buttons.scss */
.wrapper-button.white .button-hint-right, .wrapper-button.white .button-hint-left {
  background: #fff;
  color: #000;
}
/* line 16, ../sass/buttons.scss */
.wrapper-button.white .button-hint-right:hover, .wrapper-button.white .button-hint-left:hover {
  color: #ffc600;
}

/* line 23, ../sass/buttons.scss */
.wrapper-button_big {
  height: 128px;
  width: 128px;
}
/* line 26, ../sass/buttons.scss */
.wrapper-button_big .button {
  width: 128px;
  height: 128px;
  line-height: 128px;
}
/* line 30, ../sass/buttons.scss */
.wrapper-button_big .button span {
  line-height: 128px;
  font-size: 48px;
}
/* line 35, ../sass/buttons.scss */
.wrapper-button_big .preloader {
  width: 110px;
  height: 110px;
  margin: -55px 0 0 -55px;
  background: url(../img/preloader-biggest.png) 50% 50% no-repeat;
}
/* line 41, ../sass/buttons.scss */
.wrapper-button_big .button-hint-right {
  top: 20px;
  left: 75px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
  font-size: 50px;
}
/* line 48, ../sass/buttons.scss */
.wrapper-button_big .button-hint-right span {
  padding: 0 40px;
}
/* line 52, ../sass/buttons.scss */
.wrapper-button_big .button-hint-right_h {
  top: 0;
  left: 122px !important;
  height: 140px;
  line-height: 140px;
}
/* line 58, ../sass/buttons.scss */
.wrapper-button_big .button-hint-left {
  top: 20px;
  right: 40px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  font-size: 50px;
}
/* line 65, ../sass/buttons.scss */
.wrapper-button_big .button-hint-left span {
  padding: 0 40px;
}
/* line 69, ../sass/buttons.scss */
.wrapper-button_big .button-hint-left_h {
  top: 0;
  right: 67px !important;
  height: 140px;
  line-height: 140px;
}
/* line 75, ../sass/buttons.scss */
.wrapper-button_big:hover .button-hint-right {
  left: 160px;
  opacity: 1;
}
/* line 79, ../sass/buttons.scss */
.wrapper-button_big:hover .button-hint-right_h {
  padding-left: 40px;
}
/* line 82, ../sass/buttons.scss */
.wrapper-button_big:hover .button-hint-left {
  opacity: 1;
  right: 108px;
}
/* line 86, ../sass/buttons.scss */
.wrapper-button_big:hover .button-hint-left_h {
  padding-right: 40px;
}

/* line 90, ../sass/buttons.scss */
.arr-right_big {
  position: absolute;
  bottom: 10px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 0 no-repeat;
  width: 23px;
  height: 24px;
}

/* line 96, ../sass/buttons.scss */
.arr-left_big {
  position: absolute;
  bottom: 10px;
  right: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 0 no-repeat;
  width: 23px;
  height: 24px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 104, ../sass/buttons.scss */
.wrapper-button_mid {
  width: 96px;
  height: 96px;
}
/* line 107, ../sass/buttons.scss */
.wrapper-button_mid .button {
  width: 96px;
  height: 96px;
  line-height: 96px;
}
/* line 111, ../sass/buttons.scss */
.wrapper-button_mid .button span {
  line-height: 96px;
  font-size: 30px;
}
/* line 116, ../sass/buttons.scss */
.wrapper-button_mid .preloader {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: url(../img/preloader-mid.png) 50% 50% no-repeat;
}
/* line 122, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-right {
  top: 18px;
  left: 75px;
  height: 76px;
  line-height: 76px;
  -webkit-border-radius: 0 38px 38px 0;
  -moz-border-radius: 0 38px 38px 0;
  -ms-border-radius: 0 38px 38px 0;
  -o-border-radius: 0 38px 38px 0;
  border-radius: 0 38px 38px 0;
  font-size: 36px;
}
/* line 129, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-right span {
  padding: 0 35px;
}
/* line 133, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-right_h {
  top: 0;
  left: 89px !important;
  height: 108px;
  line-height: 108px;
}
/* line 139, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-left {
  top: 18px;
  right: 40px;
  height: 76px;
  line-height: 76px;
  -webkit-border-radius: 38px 0 0 38px;
  -moz-border-radius: 38px 0 0 38px;
  -ms-border-radius: 38px 0 0 38px;
  -o-border-radius: 38px 0 0 38px;
  border-radius: 38px 0 0 38px;
  font-size: 36px;
}
/* line 146, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-left span {
  padding: 0 35px;
}
/* line 150, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-left_h {
  top: 0;
  right: 55px !important;
  height: 108px;
  line-height: 108px;
}
/* line 156, ../sass/buttons.scss */
.wrapper-button_mid:hover .button-hint-right {
  left: 125px;
  opacity: 1;
}
/* line 160, ../sass/buttons.scss */
.wrapper-button_mid:hover .button-hint-right_h {
  padding-left: 35px;
}
/* line 163, ../sass/buttons.scss */
.wrapper-button_mid:hover .button-hint-left {
  opacity: 1;
  right: 89px;
}
/* line 167, ../sass/buttons.scss */
.wrapper-button_mid:hover .button-hint-left_h {
  padding-right: 35px;
}

/* line 171, ../sass/buttons.scss */
.arr-right_mid {
  position: absolute;
  bottom: 10px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -34px no-repeat;
  width: 18px;
  height: 16px;
}

/* line 177, ../sass/buttons.scss */
.arr-left_mid {
  position: absolute;
  bottom: 10px;
  right: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -34px no-repeat;
  width: 18px;
  height: 16px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 185, ../sass/buttons.scss */
.wrapper-button_small {
  width: 64px;
  height: 64px;
}
/* line 188, ../sass/buttons.scss */
.wrapper-button_small .button {
  width: 64px;
  height: 64px;
  line-height: 64px;
}
/* line 192, ../sass/buttons.scss */
.wrapper-button_small .button span {
  line-height: 64px;
  font-size: 24px;
}
/* line 197, ../sass/buttons.scss */
.wrapper-button_small .preloader {
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  background: url(../img/preloader-small.png) 50% 50% no-repeat;
}
/* line 203, ../sass/buttons.scss */
.wrapper-button_small .button-hint-right {
  top: 12px;
  left: 55px;
  height: 55px;
  line-height: 55px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  font-size: 28px;
}
/* line 210, ../sass/buttons.scss */
.wrapper-button_small .button-hint-right span {
  padding: 0 25px;
}
/* line 214, ../sass/buttons.scss */
.wrapper-button_small .button-hint-right_h {
  top: 0;
  left: 60px !important;
  height: 76px;
  line-height: 76px;
}
/* line 220, ../sass/buttons.scss */
.wrapper-button_small .button-hint-left {
  top: 12px;
  right: 20px;
  height: 55px;
  line-height: 55px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
}
/* line 227, ../sass/buttons.scss */
.wrapper-button_small .button-hint-left span {
  padding: 0 25px;
}
/* line 231, ../sass/buttons.scss */
.wrapper-button_small .button-hint-left_h {
  top: 0;
  right: 35px !important;
  height: 76px;
  line-height: 76px;
}
/* line 237, ../sass/buttons.scss */
.wrapper-button_small:hover .button-hint-right {
  left: 90px;
  opacity: 1;
}
/* line 241, ../sass/buttons.scss */
.wrapper-button_small:hover .button-hint-right_h {
  padding-left: 30px;
}
/* line 244, ../sass/buttons.scss */
.wrapper-button_small:hover .button-hint-left {
  opacity: 1;
  right: 60px;
}
/* line 248, ../sass/buttons.scss */
.wrapper-button_small:hover .button-hint-left_h {
  padding-right: 30px;
}

/* line 252, ../sass/buttons.scss */
.arr-right_small {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -94px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 258, ../sass/buttons.scss */
.arr-left_small {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -94px no-repeat;
  width: 9px;
  height: 10px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 266, ../sass/buttons.scss */
.wrapper-button_smallest {
  width: 32px;
  height: 32px;
  padding: 4px;
}
/* line 270, ../sass/buttons.scss */
.wrapper-button_smallest .button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  -webkit-box-shadow: 0 0 0 4px black;
  -moz-box-shadow: 0 0 0 4px black;
  box-shadow: 0 0 0 4px black;
}
/* line 275, ../sass/buttons.scss */
.wrapper-button_smallest .button span {
  line-height: 32px;
  font-size: 12px;
}
/* line 280, ../sass/buttons.scss */
.wrapper-button_smallest .preloader {
  width: 26px;
  height: 26px;
  margin: -13px 0 0 -13px;
  background: url(../img/preloader-smallest.png) 50% 50% no-repeat;
}
/* line 286, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-right {
  top: 6px;
  left: 25px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  font-size: 20px;
}
/* line 293, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-right span {
  padding: 0 25px;
}
/* line 297, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-right_h {
  top: 0;
  left: 37px !important;
  height: 40px;
  line-height: 40px;
}
/* line 303, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-left {
  top: 6px;
  right: 5px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  font-size: 20px;
}
/* line 310, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-left span {
  padding: 0 25px;
}
/* line 314, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-left_h {
  top: 0;
  right: 16px !important;
  height: 40px;
  line-height: 40px;
}
/* line 320, ../sass/buttons.scss */
.wrapper-button_smallest:hover .button-hint-right {
  left: 37px;
  opacity: 1;
}
/* line 324, ../sass/buttons.scss */
.wrapper-button_smallest:hover .button-hint-right_h {
  padding-left: 8px;
}
/* line 327, ../sass/buttons.scss */
.wrapper-button_smallest:hover .button-hint-left {
  opacity: 1;
  right: 28px;
}
/* line 331, ../sass/buttons.scss */
.wrapper-button_smallest:hover .button-hint-left_h {
  padding-right: 8px;
}

/* line 335, ../sass/buttons.scss */
.arr-right_smallest {
  position: absolute;
  bottom: 1px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -140px no-repeat;
  width: 4px;
  height: 5px;
}

/* line 341, ../sass/buttons.scss */
.arr-left_smallest {
  position: absolute;
  bottom: 1px;
  right: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -140px no-repeat;
  width: 4px;
  height: 5px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 348, ../sass/buttons.scss */
.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px black;
  -moz-box-shadow: 0 0 0 6px black;
  box-shadow: 0 0 0 6px black;
  background: #d28e00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdc700), color-stop(100%, #ad5f00));
  background-image: -webkit-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: -moz-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: -o-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  z-index: 2;
}
/* line 358, ../sass/buttons.scss */
.button img {
  display: inline-block;
  vertical-align: middle;
}
/* line 362, ../sass/buttons.scss */
.button span {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #965300;
  text-shadow: 1px 1px 1px #e3ba00;
}

/* line 373, ../sass/buttons.scss */
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 378, ../sass/buttons.scss */
.preloader.is-loading {
  -webkit-animation: round 2s linear infinite;
  -moz-animation: round 2s linear infinite;
  -ms-animation: round 2s linear infinite;
  -o-animation: round 2s linear infinite;
  animation: round 2s linear infinite;
}

/* line 381, ../sass/buttons.scss */
.button-hint-right {
  position: absolute;
  white-space: nowrap;
  margin-left: -1em;
  opacity: 0;
  z-index: 0;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  background: #000;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
/* line 391, ../sass/buttons.scss */
.button-hint-right span {
  display: inline-block;
}
/* line 394, ../sass/buttons.scss */
.button-hint-right:hover {
  color: #ffc600;
}

/* line 398, ../sass/buttons.scss */
.button-hint-left {
  position: absolute;
  left: auto;
  white-space: nowrap;
  margin-left: -1em;
  z-index: 0;
  opacity: 0;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  background: #000;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
/* line 409, ../sass/buttons.scss */
.button-hint-left span {
  display: inline-block;
}
/* line 412, ../sass/buttons.scss */
.button-hint-left:hover {
  color: #ffc600;
}

/* line 416, ../sass/buttons.scss */
.white .arr-right_big, .white .arr-left_big {
  background: url('../img/buttons-sc2b6a12e05.png') 0 -60px no-repeat;
  width: 23px;
  height: 24px;
}

/* line 419, ../sass/buttons.scss */
.white .arr-right_mid, .white .arr-left_mid {
  background: url('../img/buttons-sc2b6a12e05.png') 0 -114px no-repeat;
  width: 18px;
  height: 16px;
}

/* line 423, ../sass/buttons.scss */
.white .arr-right_small, .white .arr-left_small {
  background: url('../img/buttons-sc2b6a12e05.png') 0 -155px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 426, ../sass/buttons.scss */
.white .arr-right_smallest, .white .arr-left_smallest {
  background: url('../img/buttons-sc2b6a12e05.png') 0 -140px no-repeat;
  width: 4px;
  height: 5px;
}

/* line 432, ../sass/buttons.scss */
.wrapper-button_big.wrapper-right {
  position: fixed;
  right: 10px;
  top: 50px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 437, ../sass/buttons.scss */
.wrapper-button_big.wrapper-right .button-hint-right {
  opacity: 1;
  left: 160px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 442, ../sass/buttons.scss */
.wrapper-button_big.wrapper-right .button-hint-right_h {
  padding-left: 40px;
}

/* line 446, ../sass/buttons.scss */
.wrapper-button_big.wrapper-right.is-active {
  right: 245px;
}

/* line 449, ../sass/buttons.scss */
.wrapper-button_mid.wrapper-right {
  position: fixed;
  right: 15px;
  top: 200px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 454, ../sass/buttons.scss */
.wrapper-button_mid.wrapper-right .button-hint-right {
  opacity: 1;
  left: 125px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 460, ../sass/buttons.scss */
.wrapper-button_mid.wrapper-right.is-active {
  right: 185px;
}

/* line 463, ../sass/buttons.scss */
.wrapper-button_small.wrapper-right {
  position: fixed;
  right: 5px;
  top: 320px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 468, ../sass/buttons.scss */
.wrapper-button_small.wrapper-right .button-hint-right {
  opacity: 1;
  left: 90px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 474, ../sass/buttons.scss */
.wrapper-button_small.wrapper-right.is-active {
  right: 143px;
}

/* line 477, ../sass/buttons.scss */
.wrapper-button_smallest.wrapper-right {
  position: fixed;
  right: 2px;
  top: 420px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 482, ../sass/buttons.scss */
.wrapper-button_smallest.wrapper-right .button-hint-right {
  opacity: 1;
  left: 37px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 488, ../sass/buttons.scss */
.wrapper-button_smallest.wrapper-right.is-active {
  right: 100px;
}

/* line 491, ../sass/buttons.scss */
.wrapper-button_big.wrapper-left {
  position: fixed;
  left: 10px;
  top: 50px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 496, ../sass/buttons.scss */
.wrapper-button_big.wrapper-left .button-hint-left {
  opacity: 1;
  right: 108px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 501, ../sass/buttons.scss */
.wrapper-button_big.wrapper-left .button-hint-left_h {
  padding-right: 40px;
}

/* line 505, ../sass/buttons.scss */
.wrapper-button_big.wrapper-left.is-active {
  left: 245px;
}

/* line 508, ../sass/buttons.scss */
.wrapper-button_mid.wrapper-left {
  position: fixed;
  left: 15px;
  top: 200px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 513, ../sass/buttons.scss */
.wrapper-button_mid.wrapper-left .button-hint-left {
  opacity: 1;
  right: 89px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 519, ../sass/buttons.scss */
.wrapper-button_mid.wrapper-left.is-active {
  left: 185px;
}

/* line 522, ../sass/buttons.scss */
.wrapper-button_small.wrapper-left {
  position: fixed;
  left: 5px;
  top: 320px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 527, ../sass/buttons.scss */
.wrapper-button_small.wrapper-left .button-hint-left {
  opacity: 1;
  right: 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 533, ../sass/buttons.scss */
.wrapper-button_small.wrapper-left.is-active {
  left: 142px;
}

/* line 536, ../sass/buttons.scss */
.wrapper-button_smallest.wrapper-left {
  position: fixed;
  left: 10px;
  top: 420px;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}
/* line 541, ../sass/buttons.scss */
.wrapper-button_smallest.wrapper-left .button-hint-left {
  opacity: 1;
  right: 28px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* line 547, ../sass/buttons.scss */
.wrapper-button_smallest.wrapper-left.is-active {
  left: 110px;
}
