/* line 3, ../sass/buttons.scss */
.wrapper-button {
  background: #000;
  display: inline-block;
  padding: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #000;
  text-decoration: none;
}

/* line 11, ../sass/buttons.scss */
.wrapper-button.white {
  background: #fff;
}
/* line 13, ../sass/buttons.scss */
.wrapper-button.white .button-hint-right, .wrapper-button.white .button-hint-left {
  background: #fff;
  color: #000;
}

/* line 19, ../sass/buttons.scss */
.wrapper-button_big {
  height: 128px;
  width: 128px;
}
/* line 22, ../sass/buttons.scss */
.wrapper-button_big .button {
  width: 128px;
  height: 128px;
  line-height: 128px;
}
/* line 26, ../sass/buttons.scss */
.wrapper-button_big .button span {
  line-height: 128px;
  font-size: 48px;
}
/* line 31, ../sass/buttons.scss */
.wrapper-button_big .preloader {
  width: 110px;
  height: 110px;
  margin: -55px 0 0 -55px;
  background: url(../img/preloader-biggest.png) 50% 50% no-repeat;
}
/* line 37, ../sass/buttons.scss */
.wrapper-button_big .button-hint-right {
  top: 20px;
  left: 75px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 0 50px 50px 0;
  -moz-border-radius: 0 50px 50px 0;
  -ms-border-radius: 0 50px 50px 0;
  -o-border-radius: 0 50px 50px 0;
  border-radius: 0 50px 50px 0;
  font-size: 50px;
}
/* line 44, ../sass/buttons.scss */
.wrapper-button_big .button-hint-right span {
  padding: 0 40px;
}
/* line 48, ../sass/buttons.scss */
.wrapper-button_big .button-hint-left {
  top: 20px;
  right: 40px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 50px 0 0 50px;
  -moz-border-radius: 50px 0 0 50px;
  -ms-border-radius: 50px 0 0 50px;
  -o-border-radius: 50px 0 0 50px;
  border-radius: 50px 0 0 50px;
  font-size: 50px;
}
/* line 55, ../sass/buttons.scss */
.wrapper-button_big .button-hint-left span {
  padding: 0 40px;
}
/* line 59, ../sass/buttons.scss */
.wrapper-button_big:hover .button-hint-right {
  left: 160px;
  opacity: 1;
}
/* line 63, ../sass/buttons.scss */
.wrapper-button_big:hover .button-hint-left {
  opacity: 1;
  right: 108px;
}

/* line 69, ../sass/buttons.scss */
.arr-right_big:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 0 no-repeat;
  width: 23px;
  height: 24px;
}

/* line 78, ../sass/buttons.scss */
.wrapper-button_mid {
  width: 96px;
  height: 96px;
}
/* line 81, ../sass/buttons.scss */
.wrapper-button_mid .button {
  width: 96px;
  height: 96px;
  line-height: 96px;
}
/* line 85, ../sass/buttons.scss */
.wrapper-button_mid .button span {
  line-height: 96px;
  font-size: 30px;
}
/* line 90, ../sass/buttons.scss */
.wrapper-button_mid .preloader {
  width: 80px;
  height: 80px;
  margin: -40px 0 0 -40px;
  background: url(../img/preloader-mid.png) 50% 50% no-repeat;
}
/* line 96, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-right {
  top: 18px;
  left: 75px;
  height: 76px;
  line-height: 76px;
  -webkit-border-radius: 0 38px 38px 0;
  -moz-border-radius: 0 38px 38px 0;
  -ms-border-radius: 0 38px 38px 0;
  -o-border-radius: 0 38px 38px 0;
  border-radius: 0 38px 38px 0;
  font-size: 36px;
}
/* line 103, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-right span {
  padding: 0 35px;
}
/* line 107, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-left {
  top: 18px;
  right: 40px;
  height: 76px;
  line-height: 76px;
  -webkit-border-radius: 38px 0 0 38px;
  -moz-border-radius: 38px 0 0 38px;
  -ms-border-radius: 38px 0 0 38px;
  -o-border-radius: 38px 0 0 38px;
  border-radius: 38px 0 0 38px;
  font-size: 36px;
}
/* line 114, ../sass/buttons.scss */
.wrapper-button_mid .button-hint-left span {
  padding: 0 35px;
}
/* line 118, ../sass/buttons.scss */
.wrapper-button_mid:hover .button-hint-right {
  left: 125px;
  opacity: 1;
}
/* line 122, ../sass/buttons.scss */
.wrapper-button_mid:hover .button-hint-left {
  opacity: 1;
  right: 89px;
}

/* line 128, ../sass/buttons.scss */
.arr-right_mid:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -34px no-repeat;
  width: 18px;
  height: 16px;
}

/* line 137, ../sass/buttons.scss */
.wrapper-button_small {
  width: 64px;
  height: 64px;
}
/* line 140, ../sass/buttons.scss */
.wrapper-button_small .button {
  width: 64px;
  height: 64px;
  line-height: 64px;
}
/* line 144, ../sass/buttons.scss */
.wrapper-button_small .button span {
  line-height: 64px;
  font-size: 24px;
}
/* line 149, ../sass/buttons.scss */
.wrapper-button_small .preloader {
  width: 50px;
  height: 50px;
  margin: -25px 0 0 -25px;
  background: url(../img/preloader-small.png) 50% 50% no-repeat;
}
/* line 155, ../sass/buttons.scss */
.wrapper-button_small .button-hint-right {
  top: 12px;
  left: 55px;
  height: 55px;
  line-height: 55px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  font-size: 28px;
}
/* line 162, ../sass/buttons.scss */
.wrapper-button_small .button-hint-right span {
  padding: 0 25px;
}
/* line 166, ../sass/buttons.scss */
.wrapper-button_small .button-hint-left {
  top: 12px;
  right: 20px;
  height: 55px;
  line-height: 55px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  font-size: 28px;
}
/* line 173, ../sass/buttons.scss */
.wrapper-button_small .button-hint-left span {
  padding: 0 25px;
}
/* line 177, ../sass/buttons.scss */
.wrapper-button_small:hover .button-hint-right {
  left: 90px;
  opacity: 1;
}
/* line 181, ../sass/buttons.scss */
.wrapper-button_small:hover .button-hint-left {
  opacity: 1;
  right: 60px;
}

/* line 187, ../sass/buttons.scss */
.arr-right_small:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -94px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 196, ../sass/buttons.scss */
.wrapper-button_smallest {
  width: 32px;
  height: 32px;
  padding: 4px;
}
/* line 200, ../sass/buttons.scss */
.wrapper-button_smallest .button {
  width: 32px;
  height: 32px;
  line-height: 32px;
}
/* line 204, ../sass/buttons.scss */
.wrapper-button_smallest .button span {
  line-height: 32px;
  font-size: 12px;
}
/* line 209, ../sass/buttons.scss */
.wrapper-button_smallest .preloader {
  width: 26px;
  height: 26px;
  margin: -13px 0 0 -13px;
  background: url(../img/preloader-smallest.png) 50% 50% no-repeat;
}
/* line 215, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-right {
  top: 6px;
  left: 25px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  font-size: 20px;
}
/* line 222, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-right span {
  padding: 0 25px;
}
/* line 226, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-left {
  top: 6px;
  right: 5px;
  height: 28px;
  line-height: 28px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  font-size: 20px;
}
/* line 233, ../sass/buttons.scss */
.wrapper-button_smallest .button-hint-left span {
  padding: 0 25px;
}
/* line 237, ../sass/buttons.scss */
.wrapper-button_smallest:hover .button-hint-right {
  left: 37px;
  opacity: 1;
}
/* line 241, ../sass/buttons.scss */
.wrapper-button_smallest:hover .button-hint-left {
  opacity: 1;
  right: 28px;
}

/* line 247, ../sass/buttons.scss */
.arr-right_smallest:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -140px no-repeat;
  width: 4px;
  height: 5px;
}

/* line 255, ../sass/buttons.scss */
.button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdc700), color-stop(100%, #ad5f00));
  background-image: -webkit-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: -moz-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: -o-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  z-index: 2;
}
/* line 263, ../sass/buttons.scss */
.button img {
  display: inline-block;
  vertical-align: middle;
}
/* line 267, ../sass/buttons.scss */
.button span {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #965300;
  text-shadow: 1px 1px 1px #e3ba00;
}

/* line 278, ../sass/buttons.scss */
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 283, ../sass/buttons.scss */
.button-hint-right {
  position: absolute;
  white-space: nowrap;
  margin-left: -1em;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  background: #000;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
/* line 293, ../sass/buttons.scss */
.button-hint-right span {
  display: inline-block;
}

/* line 297, ../sass/buttons.scss */
.button-hint-left {
  position: absolute;
  left: auto;
  white-space: nowrap;
  margin-left: -1em;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  background: #000;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
/* line 308, ../sass/buttons.scss */
.button-hint-left span {
  display: inline-block;
}

/* line 313, ../sass/buttons.scss */
.arr-right_big.white:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -60px no-repeat;
  width: 23px;
  height: 24px;
}

/* line 322, ../sass/buttons.scss */
.arr-right_mid.white:before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -114px no-repeat;
  width: 18px;
  height: 16px;
}

/* line 331, ../sass/buttons.scss */
.arr-right_small.white:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -155px no-repeat;
  width: 9px;
  height: 10px;
}

/* line 340, ../sass/buttons.scss */
.arr-right_smallest.white:before {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 4px;
  background: url('../img/buttons-sc2b6a12e05.png') 0 -140px no-repeat;
  width: 4px;
  height: 5px;
}
