/* line 3, ../sass/buttons.scss */
.wrapper-button {
  background: #000;
  display: inline-block;
  padding: 6px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: #000;
}

/* line 10, ../sass/buttons.scss */
.wrapper-button_biggest {
  height: 128px;
  width: 128px;
}
/* line 13, ../sass/buttons.scss */
.wrapper-button_biggest .button {
  width: 128px;
  height: 128px;
}
/* line 16, ../sass/buttons.scss */
.wrapper-button_biggest .button span {
  line-height: 128px;
  font-size: 48px;
}
/* line 21, ../sass/buttons.scss */
.wrapper-button_biggest .preloader {
  width: 110px;
  height: 110px;
  margin: -55px 0 0 -55px;
  background: url(../img/preloader-biggest.png) 50% 50% no-repeat;
}
/* line 27, ../sass/buttons.scss */
.wrapper-button_biggest .button-hint-right {
  top: 20px;
  left: 75px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 0 40px 40px 0;
  -moz-border-radius: 0 40px 40px 0;
  -ms-border-radius: 0 40px 40px 0;
  -o-border-radius: 0 40px 40px 0;
  border-radius: 0 40px 40px 0;
  font-size: 50px;
}
/* line 34, ../sass/buttons.scss */
.wrapper-button_biggest .button-hint-right span {
  padding: 0 40px;
}
/* line 38, ../sass/buttons.scss */
.wrapper-button_biggest .button-hint-left {
  top: 20px;
  right: 40px;
  height: 100px;
  line-height: 100px;
  -webkit-border-radius: 40px 0 0 40px;
  -moz-border-radius: 40px 0 0 40px;
  -ms-border-radius: 40px 0 0 40px;
  -o-border-radius: 40px 0 0 40px;
  border-radius: 40px 0 0 40px;
  font-size: 50px;
}
/* line 45, ../sass/buttons.scss */
.wrapper-button_biggest .button-hint-left span {
  padding: 0 40px;
}
/* line 49, ../sass/buttons.scss */
.wrapper-button_biggest:hover .button-hint-right {
  left: 160px;
  opacity: 1;
}
/* line 53, ../sass/buttons.scss */
.wrapper-button_biggest:hover .button-hint-left {
  opacity: 1;
  right: 108px;
}

/* line 58, ../sass/buttons.scss */
.button {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdc700), color-stop(100%, #ad5f00));
  background-image: -webkit-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: -moz-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: -o-linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  background-image: linear-gradient(top, #fdc700 0%, #ad5f00 100%);
  z-index: 2;
}
/* line 64, ../sass/buttons.scss */
.button i {
  display: block;
  height: 100%;
  background: url(../img/button-2-biggest.png) 50% 50% no-repeat;
}
/* line 69, ../sass/buttons.scss */
.button span {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #965300;
  text-shadow: 1px 1px 1px #e3ba00;
}

/* line 80, ../sass/buttons.scss */
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* line 85, ../sass/buttons.scss */
.button-hint-right {
  position: absolute;
  white-space: nowrap;
  margin-left: -1em;
  opacity: 0;
  z-index: 1;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  background: #000;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
/* line 95, ../sass/buttons.scss */
.button-hint-right span {
  display: inline-block;
}

/* line 99, ../sass/buttons.scss */
.button-hint-left {
  position: absolute;
  left: auto;
  white-space: nowrap;
  margin-left: -1em;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 600ms ease-in-out;
  -moz-transition: 600ms ease-in-out;
  -o-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  background: #000;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
}
/* line 110, ../sass/buttons.scss */
.button-hint-left span {
  display: inline-block;
}
