@charset "IBM866";
/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 4, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 5, ../sass/common.scss */
.out {
  width: 100%;
}

/* line 8, ../sass/common.scss */
body {
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: #8ea1cc url(../img/bg-body.jpg) 50% 0 no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'HelveticaNeue-B';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("/..fonts/HelveticaNeue-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-M';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*resets*/
/* line 35, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 36, ../sass/common.scss */
a {
  color: #00919e;
}
/* line 38, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 40, ../sass/common.scss */
button, input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 42, ../sass/common.scss */
.in {
  width: 1280px;
  margin: 0 auto;
}

/* line 46, ../sass/common.scss */
.header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a464f), color-stop(100%, #282530));
  background-image: -webkit-linear-gradient(#4a464f, #282530);
  background-image: -moz-linear-gradient(#4a464f, #282530);
  background-image: -o-linear-gradient(#4a464f, #282530);
  background-image: linear-gradient(#4a464f, #282530);
  box-shadow: 0 1px 0 0 #4f4f5b inset, 0 0 6px 5px rgba(0, 0, 0, 0.45);
  height: 60px;
  min-width: 1280px;
  position: relative;
  z-index: 10;
}
/* line 53, ../sass/common.scss */
.header .h-box {
  border-right: 1px solid #2e2b32;
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1);
  float: left;
  height: 60px;
  position: relative;
}
/* line 60, ../sass/common.scss */
.header .h-box_form {
  padding: 15px 15px 0 12px;
  height: 45px;
}
/* line 63, ../sass/common.scss */
.header .h-box_form .input {
  background: #66616c;
  border: 1px solid #2a2630;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.05);
  color: #e1e0e2;
  font-size: 12px;
  line-height: 20px;
  padding: 4px 4px 4px 38px;
  border-radius: 4px;
  width: 184px;
  height: 20px;
}
/* line 75, ../sass/common.scss */
.header .h-box_form .input-plus {
  background: url('../img/icons-sf84890c49a.png') 0 -1125px no-repeat;
  width: 28px;
  height: 20px;
  border-right: 1px solid #544f5c;
  position: absolute;
  left: 14px;
  top: 21px;
  cursor: pointer;
}
/* line 84, ../sass/common.scss */
.header .logo-block {
  float: left;
  margin: 19px 12px 0 28px;
}
/* line 88, ../sass/common.scss */
.header .logo-block:hover .drop {
  display: block;
}
/* line 89, ../sass/common.scss */
.header .logo-block:hover .logo {
  background: url('../img/icons-sf84890c49a.png') 0 -217px no-repeat;
  width: 48px;
  height: 23px;
}
/* line 92, ../sass/common.scss */
.header .logo {
  background: url('../img/icons-sf84890c49a.png') 0 -97px no-repeat;
  width: 48px;
  height: 23px;
  display: block;
}
/* line 96, ../sass/common.scss */
.header .nav-item {
  float: left;
  margin: 0 15px 0 11px;
  position: relative;
  line-height: 60px;
}
/* line 101, ../sass/common.scss */
.header .nav-item .nav-item__text {
  color: #aeacb6;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
/* line 107, ../sass/common.scss */
.header .nav-item .nav-item__text_yellow {
  color: #f2ba06;
}
/* line 109, ../sass/common.scss */
.header .nav-item:hover .drop {
  display: block;
}
/* line 110, ../sass/common.scss */
.header .nav-item:hover .nav-arr {
  background: url('../img/icons-sf84890c49a.png') 0 -312px no-repeat;
  width: 22px;
  height: 22px;
  top: 8px;
  margin: 0 -2px 0 3px;
}
/* line 117, ../sass/common.scss */
.header .nav-arr {
  background: url('../img/icons-sf84890c49a.png') 0 -380px no-repeat;
  width: 18px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
/* line 125, ../sass/common.scss */
.header .nav {
  list-style: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e3a43), color-stop(100%, #1c1a24));
  background-image: -webkit-linear-gradient(#3e3a43, #1c1a24);
  background-image: -moz-linear-gradient(#3e3a43, #1c1a24);
  background-image: -o-linear-gradient(#3e3a43, #1c1a24);
  background-image: linear-gradient(#3e3a43, #1c1a24);
  box-shadow: 0 1px 0 0 #3e3c47 inset;
  height: 60px;
  margin-left: 1px;
}
/* line 131, ../sass/common.scss */
.header .nav li {
  float: left;
  height: 44px;
  width: 59px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  line-height: 15px;
  position: relative;
}
/* line 140, ../sass/common.scss */
.header .nav li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #302d37), color-stop(100%, #232127));
  background-image: -webkit-linear-gradient(#302d37, #232127);
  background-image: -moz-linear-gradient(#302d37, #232127);
  background-image: -o-linear-gradient(#302d37, #232127);
  background-image: linear-gradient(#302d37, #232127);
}
/* line 142, ../sass/common.scss */
.header .nav li:hover .icon-chat {
  background: url('../img/icons-sf84890c49a.png') 0 -736px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 143, ../sass/common.scss */
.header .nav li:hover .icon-eye {
  background: url('../img/icons-sf84890c49a.png') 0 -814px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 144, ../sass/common.scss */
.header .nav li:hover .icon-mike {
  background: url('../img/icons-sf84890c49a.png') 0 -918px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 145, ../sass/common.scss */
.header .nav li:hover .icon-phone {
  background: url('../img/icons-sf84890c49a.png') 0 -560px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 146, ../sass/common.scss */
.header .nav li:hover .icon-pencil {
  background: url('../img/icons-sf84890c49a.png') 0 -970px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 147, ../sass/common.scss */
.header .nav li:hover .icon-graph {
  background: url('../img/icons-sf84890c49a.png') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin: 1px 0 0 9px;
}
/* line 151, ../sass/common.scss */
.header .nav li:hover .drop {
  display: block;
}
/* line 153, ../sass/common.scss */
.header .nav li .nav__link {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.7);
  display: block;
  text-decoration: none;
  height: 41px;
  padding-top: 3px;
}
/* line 160, ../sass/common.scss */
.header .nav li .nav__link span {
  color: #656167;
  font-size: 11px;
  font-weight: bold;
}
/* line 165, ../sass/common.scss */
.header .nav li .nav__link strong {
  display: inline-block;
  color: #eccdcd;
  font-size: 11px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e00d0d), color-stop(100%, #b10606));
  background-image: -webkit-linear-gradient(#e00d0d, #b10606);
  background-image: -moz-linear-gradient(#e00d0d, #b10606);
  background-image: -o-linear-gradient(#e00d0d, #b10606);
  background-image: linear-gradient(#e00d0d, #b10606);
  height: 15px;
  line-height: 15px;
  width: 14px;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 5px;
}
/* line 179, ../sass/common.scss */
.header .nav li .nav__link i {
  display: block;
  margin: 0 auto 10px;
}
/* line 184, ../sass/common.scss */
.header .nav li:first-child .nav__link {
  border: 0;
  box-shadow: none;
}
/* line 188, ../sass/common.scss */
.header .nav li .icon-chat {
  background: url('../img/icons-sf84890c49a.png') 0 -710px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 189, ../sass/common.scss */
.header .nav li .icon-eye {
  background: url('../img/icons-sf84890c49a.png') 0 -892px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 190, ../sass/common.scss */
.header .nav li .icon-mike {
  background: url('../img/icons-sf84890c49a.png') 0 -944px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 191, ../sass/common.scss */
.header .nav li .icon-phone {
  background: url('../img/icons-sf84890c49a.png') 0 -649px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 192, ../sass/common.scss */
.header .nav li .icon-pencil {
  background: url('../img/icons-sf84890c49a.png') 0 -1047px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 193, ../sass/common.scss */
.header .nav li .icon-graph {
  background: url('../img/icons-sf84890c49a.png') 0 -130px no-repeat;
  width: 36px;
  height: 37px;
  display: block;
  margin: 1px 0 0 11px;
}
/* line 200, ../sass/common.scss */
.header .icon-win {
  background: url('../img/icons-sf84890c49a.png') 0 -50px no-repeat;
  width: 36px;
  height: 37px;
  margin: 12px 10px 0 11px;
}
/* line 204, ../sass/common.scss */
.header .icon-medal {
  background: url('../img/icons-sf84890c49a.png') 0 -675px no-repeat;
  width: 14px;
  height: 25px;
  float: left;
  margin: 17px 0 18px 12px;
}
/* line 209, ../sass/common.scss */
.header .inf-medal {
  margin: 0 10px 0 33px;
  text-align: center;
}
/* line 212, ../sass/common.scss */
.header .inf-medal strong {
  font-size: 18px;
  color: #f2ba06;
  display: block;
  width: 26px;
  margin: 8px 0 0;
}
/* line 219, ../sass/common.scss */
.header .inf-medal span {
  color: #656167;
  font-size: 11px;
  font-weight: bold;
  display: block;
  width: 26px;
  border-top: 1px solid #45404a;
  padding: 8px 0 0;
}
/* line 229, ../sass/common.scss */
.header .h-box_time {
  font-size: 24px;
  color: #b2b2bf;
  padding: 0 11px 0 12px;
  line-height: 60px;
}
/* line 234, ../sass/common.scss */
.header .h-box_time .nav-arr {
  top: 2px;
  margin: 0;
}
/* line 239, ../sass/common.scss */
.header .h-box_time:hover .nav-arr {
  background: url('../img/icons-sf84890c49a.png') 0 -312px no-repeat;
  width: 22px;
  height: 22px;
  top: 5px;
  margin: 0 -3px 0 -1px;
}
/* line 244, ../sass/common.scss */
.header .h-box_time:hover .drop {
  display: block;
}
/* line 247, ../sass/common.scss */
.header .icon-pause {
  background: url('../img/icons-sf84890c49a.png') 0 -283px no-repeat;
  width: 18px;
  height: 19px;
  display: inline-block;
  margin: 0 0 0 2px;
  position: relative;
  cursor: pointer;
  top: 2px;
}
/* line 255, ../sass/common.scss */
.header .userpic {
  margin: 7px 2px 0 12px;
}
/* line 256, ../sass/common.scss */
.header .h-box_user {
  border: 0;
  box-shadow: none;
}
/* line 259, ../sass/common.scss */
.header .h-box_user .nav-arr {
  margin-top: 16px;
}

/* line 263, ../sass/common.scss */
.userpic {
  border: 1px solid #000;
  border-radius: 3px;
  height: 39px;
  width: 39px;
  padding: 3px;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.14) inset;
  margin: 7px 2px 0 12px;
  float: left;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(5%, rgba(249, 252, 254, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
}
/* line 273, ../sass/common.scss */
.userpic a {
  border: 1px solid #030303;
  display: block;
  background: url('../img/icons-sf84890c49a.png') 0 -468px no-repeat;
  width: 37px;
  height: 37px;
  background-color: #292a32;
}

/* line 282, ../sass/common.scss */
.drop .user-list {
  margin: 7px -3px;
}
/* line 284, ../sass/common.scss */
.drop .user-list .user__item {
  padding-left: 7px;
}
/* line 286, ../sass/common.scss */
.drop .user-list .user__item:first-child {
  box-shadow: none;
  border-top-color: #29262f;
}
