@charset "IBM866";
/* line 4, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 5, ../sass/common.scss */
html {
  height: 100%;
}

@-moz-keyframes anim1 {
  /* line 9, ../sass/common.scss */
  0% {
    background-position: 0 0;
  }

  /* line 12, ../sass/common.scss */
  50% {
    background-position: 0 100%;
  }

  /* line 15, ../sass/common.scss */
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes anim1 {
  /* line 9, ../sass/common.scss */
  0% {
    background-position: 0 0;
  }

  /* line 12, ../sass/common.scss */
  50% {
    background-position: 0 100%;
  }

  /* line 15, ../sass/common.scss */
  100% {
    background-position: 0 0;
  }
}

@-o-keyframes anim1 {
  /* line 9, ../sass/common.scss */
  0% {
    background-position: 0 0;
  }

  /* line 12, ../sass/common.scss */
  50% {
    background-position: 0 100%;
  }

  /* line 15, ../sass/common.scss */
  100% {
    background-position: 0 0;
  }
}

@-ms-keyframes anim1 {
  /* line 9, ../sass/common.scss */
  0% {
    background-position: 0 0;
  }

  /* line 12, ../sass/common.scss */
  50% {
    background-position: 0 100%;
  }

  /* line 15, ../sass/common.scss */
  100% {
    background-position: 0 0;
  }
}

@keyframes anim1 {
  /* line 9, ../sass/common.scss */
  0% {
    background-position: 0 0;
  }

  /* line 12, ../sass/common.scss */
  50% {
    background-position: 0 100%;
  }

  /* line 15, ../sass/common.scss */
  100% {
    background-position: 0 0;
  }
}

/* line 20, ../sass/common.scss */
.out {
  width: 100%;
  height: 100%;
}

/* line 24, ../sass/common.scss */
.out_1 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #14295a), color-stop(2%, #243c73), color-stop(4%, #344d87), color-stop(5%, #4a5d96), color-stop(6%, #636da4), color-stop(7%, #7672a5), color-stop(8%, #8470a1), color-stop(9%, #8a6699), color-stop(11%, #815390), color-stop(13%, #784b88), color-stop(14%, #663d78), color-stop(15%, #815390), color-stop(16%, #8a6699), color-stop(17%, #686ea4), color-stop(18%, #3f5792), color-stop(19%, #1e366c), color-stop(20%, #15295a), color-stop(23%, #243c73), color-stop(25%, #334c86), color-stop(26%, #3f5792), color-stop(27%, #4a5d96), color-stop(28%, #616aa1), color-stop(29%, #6b6ea4), color-stop(30%, #7c72a4), color-stop(31%, #886e9d), color-stop(33%, #896296), color-stop(34%, #815692), color-stop(36%, #7a4c89), color-stop(39%, #663d78), color-stop(40%, #80568c), color-stop(41%, #8b6295), color-stop(43%, #9a7f9b), color-stop(44%, #99899e), color-stop(45%, #95899e), color-stop(46%, #897c97), color-stop(47%, #6c6681), color-stop(48%, #615d77), color-stop(49%, #3b3a62), color-stop(50%, #282b59), color-stop(51%, #252b57), color-stop(52%, #101b4a), color-stop(53%, #091645), color-stop(54%, #141d4c), color-stop(55%, #404064), color-stop(56%, #6c6681), color-stop(57%, #95899e), color-stop(58%, #9a7f9b), color-stop(59%, #8b6295), color-stop(60%, #663d78), color-stop(62%, #7a4c89), color-stop(64%, #815692), color-stop(65%, #896296), color-stop(66%, #886e9d), color-stop(67%, #7c72a4), color-stop(68%, #636da4), color-stop(69%, #56669f), color-stop(70%, #3f5792), color-stop(71%, #344d87), color-stop(72%, #243c73), color-stop(75%, rgba(32, 51, 101, 0.99)), color-stop(76%, rgba(69, 82, 131, 0.99)), color-stop(77%, rgba(89, 100, 148, 0.99)), color-stop(78%, rgba(110, 114, 157, 0.99)), color-stop(79%, rgba(136, 127, 159, 0.99)), color-stop(80%, rgba(135, 124, 146, 0.99)), color-stop(81%, rgba(114, 110, 124, 0.99)), color-stop(82%, rgba(71, 75, 99, 0.99)), color-stop(83%, rgba(49, 58, 89, 0.99)), color-stop(84%, rgba(19, 31, 74, 0.99)), color-stop(85%, rgba(4, 20, 66, 0.99)), color-stop(86%, rgba(26, 37, 78, 0.99)), color-stop(87%, rgba(37, 46, 82, 0.99)), color-stop(88%, rgba(60, 65, 95, 0.99)), color-stop(89%, rgba(86, 87, 107, 0.99)), color-stop(90%, rgba(103, 102, 116, 0.99)), color-stop(91%, rgba(122, 115, 131, 0.99)), color-stop(92%, rgba(136, 125, 149, 0.98)), color-stop(93%, rgba(136, 126, 159, 0.97)), color-stop(94%, rgba(124, 122, 160, 0.97)), color-stop(95%, rgba(104, 111, 155, 0.97)), color-stop(96%, rgba(101, 108, 153, 0.96)), color-stop(97%, rgba(69, 82, 131, 0.96)), color-stop(98%, rgba(54, 72, 123, 0.95)), color-stop(99%, rgba(31, 51, 101, 0.95)), color-stop(100%, rgba(20, 41, 90, 0.94)));
  background-image: -webkit-linear-gradient(#14295a 0%, #243c73 2%, #344d87 4%, #4a5d96 5%, #636da4 6%, #7672a5 7%, #8470a1 8%, #8a6699 9%, #815390 11%, #784b88 13%, #663d78 14%, #815390 15%, #8a6699 16%, #686ea4 17%, #3f5792 18%, #1e366c 19%, #15295a 20%, #243c73 23%, #334c86 25%, #3f5792 26%, #4a5d96 27%, #616aa1 28%, #6b6ea4 29%, #7c72a4 30%, #886e9d 31%, #896296 33%, #815692 34%, #7a4c89 36%, #663d78 39%, #80568c 40%, #8b6295 41%, #9a7f9b 43%, #99899e 44%, #95899e 45%, #897c97 46%, #6c6681 47%, #615d77 48%, #3b3a62 49%, #282b59 50%, #252b57 51%, #101b4a 52%, #091645 53%, #141d4c 54%, #404064 55%, #6c6681 56%, #95899e 57%, #9a7f9b 58%, #8b6295 59%, #663d78 60%, #7a4c89 62%, #815692 64%, #896296 65%, #886e9d 66%, #7c72a4 67%, #636da4 68%, #56669f 69%, #3f5792 70%, #344d87 71%, #243c73 72%, rgba(32, 51, 101, 0.99) 75%, rgba(69, 82, 131, 0.99) 76%, rgba(89, 100, 148, 0.99) 77%, rgba(110, 114, 157, 0.99) 78%, rgba(136, 127, 159, 0.99) 79%, rgba(135, 124, 146, 0.99) 80%, rgba(114, 110, 124, 0.99) 81%, rgba(71, 75, 99, 0.99) 82%, rgba(49, 58, 89, 0.99) 83%, rgba(19, 31, 74, 0.99) 84%, rgba(4, 20, 66, 0.99) 85%, rgba(26, 37, 78, 0.99) 86%, rgba(37, 46, 82, 0.99) 87%, rgba(60, 65, 95, 0.99) 88%, rgba(86, 87, 107, 0.99) 89%, rgba(103, 102, 116, 0.99) 90%, rgba(122, 115, 131, 0.99) 91%, rgba(136, 125, 149, 0.98) 92%, rgba(136, 126, 159, 0.97) 93%, rgba(124, 122, 160, 0.97) 94%, rgba(104, 111, 155, 0.97) 95%, rgba(101, 108, 153, 0.96) 96%, rgba(69, 82, 131, 0.96) 97%, rgba(54, 72, 123, 0.95) 98%, rgba(31, 51, 101, 0.95) 99%, rgba(20, 41, 90, 0.94) 100%);
  background-image: -moz-linear-gradient(#14295a 0%, #243c73 2%, #344d87 4%, #4a5d96 5%, #636da4 6%, #7672a5 7%, #8470a1 8%, #8a6699 9%, #815390 11%, #784b88 13%, #663d78 14%, #815390 15%, #8a6699 16%, #686ea4 17%, #3f5792 18%, #1e366c 19%, #15295a 20%, #243c73 23%, #334c86 25%, #3f5792 26%, #4a5d96 27%, #616aa1 28%, #6b6ea4 29%, #7c72a4 30%, #886e9d 31%, #896296 33%, #815692 34%, #7a4c89 36%, #663d78 39%, #80568c 40%, #8b6295 41%, #9a7f9b 43%, #99899e 44%, #95899e 45%, #897c97 46%, #6c6681 47%, #615d77 48%, #3b3a62 49%, #282b59 50%, #252b57 51%, #101b4a 52%, #091645 53%, #141d4c 54%, #404064 55%, #6c6681 56%, #95899e 57%, #9a7f9b 58%, #8b6295 59%, #663d78 60%, #7a4c89 62%, #815692 64%, #896296 65%, #886e9d 66%, #7c72a4 67%, #636da4 68%, #56669f 69%, #3f5792 70%, #344d87 71%, #243c73 72%, rgba(32, 51, 101, 0.99) 75%, rgba(69, 82, 131, 0.99) 76%, rgba(89, 100, 148, 0.99) 77%, rgba(110, 114, 157, 0.99) 78%, rgba(136, 127, 159, 0.99) 79%, rgba(135, 124, 146, 0.99) 80%, rgba(114, 110, 124, 0.99) 81%, rgba(71, 75, 99, 0.99) 82%, rgba(49, 58, 89, 0.99) 83%, rgba(19, 31, 74, 0.99) 84%, rgba(4, 20, 66, 0.99) 85%, rgba(26, 37, 78, 0.99) 86%, rgba(37, 46, 82, 0.99) 87%, rgba(60, 65, 95, 0.99) 88%, rgba(86, 87, 107, 0.99) 89%, rgba(103, 102, 116, 0.99) 90%, rgba(122, 115, 131, 0.99) 91%, rgba(136, 125, 149, 0.98) 92%, rgba(136, 126, 159, 0.97) 93%, rgba(124, 122, 160, 0.97) 94%, rgba(104, 111, 155, 0.97) 95%, rgba(101, 108, 153, 0.96) 96%, rgba(69, 82, 131, 0.96) 97%, rgba(54, 72, 123, 0.95) 98%, rgba(31, 51, 101, 0.95) 99%, rgba(20, 41, 90, 0.94) 100%);
  background-image: -o-linear-gradient(#14295a 0%, #243c73 2%, #344d87 4%, #4a5d96 5%, #636da4 6%, #7672a5 7%, #8470a1 8%, #8a6699 9%, #815390 11%, #784b88 13%, #663d78 14%, #815390 15%, #8a6699 16%, #686ea4 17%, #3f5792 18%, #1e366c 19%, #15295a 20%, #243c73 23%, #334c86 25%, #3f5792 26%, #4a5d96 27%, #616aa1 28%, #6b6ea4 29%, #7c72a4 30%, #886e9d 31%, #896296 33%, #815692 34%, #7a4c89 36%, #663d78 39%, #80568c 40%, #8b6295 41%, #9a7f9b 43%, #99899e 44%, #95899e 45%, #897c97 46%, #6c6681 47%, #615d77 48%, #3b3a62 49%, #282b59 50%, #252b57 51%, #101b4a 52%, #091645 53%, #141d4c 54%, #404064 55%, #6c6681 56%, #95899e 57%, #9a7f9b 58%, #8b6295 59%, #663d78 60%, #7a4c89 62%, #815692 64%, #896296 65%, #886e9d 66%, #7c72a4 67%, #636da4 68%, #56669f 69%, #3f5792 70%, #344d87 71%, #243c73 72%, rgba(32, 51, 101, 0.99) 75%, rgba(69, 82, 131, 0.99) 76%, rgba(89, 100, 148, 0.99) 77%, rgba(110, 114, 157, 0.99) 78%, rgba(136, 127, 159, 0.99) 79%, rgba(135, 124, 146, 0.99) 80%, rgba(114, 110, 124, 0.99) 81%, rgba(71, 75, 99, 0.99) 82%, rgba(49, 58, 89, 0.99) 83%, rgba(19, 31, 74, 0.99) 84%, rgba(4, 20, 66, 0.99) 85%, rgba(26, 37, 78, 0.99) 86%, rgba(37, 46, 82, 0.99) 87%, rgba(60, 65, 95, 0.99) 88%, rgba(86, 87, 107, 0.99) 89%, rgba(103, 102, 116, 0.99) 90%, rgba(122, 115, 131, 0.99) 91%, rgba(136, 125, 149, 0.98) 92%, rgba(136, 126, 159, 0.97) 93%, rgba(124, 122, 160, 0.97) 94%, rgba(104, 111, 155, 0.97) 95%, rgba(101, 108, 153, 0.96) 96%, rgba(69, 82, 131, 0.96) 97%, rgba(54, 72, 123, 0.95) 98%, rgba(31, 51, 101, 0.95) 99%, rgba(20, 41, 90, 0.94) 100%);
  background-image: linear-gradient(#14295a 0%, #243c73 2%, #344d87 4%, #4a5d96 5%, #636da4 6%, #7672a5 7%, #8470a1 8%, #8a6699 9%, #815390 11%, #784b88 13%, #663d78 14%, #815390 15%, #8a6699 16%, #686ea4 17%, #3f5792 18%, #1e366c 19%, #15295a 20%, #243c73 23%, #334c86 25%, #3f5792 26%, #4a5d96 27%, #616aa1 28%, #6b6ea4 29%, #7c72a4 30%, #886e9d 31%, #896296 33%, #815692 34%, #7a4c89 36%, #663d78 39%, #80568c 40%, #8b6295 41%, #9a7f9b 43%, #99899e 44%, #95899e 45%, #897c97 46%, #6c6681 47%, #615d77 48%, #3b3a62 49%, #282b59 50%, #252b57 51%, #101b4a 52%, #091645 53%, #141d4c 54%, #404064 55%, #6c6681 56%, #95899e 57%, #9a7f9b 58%, #8b6295 59%, #663d78 60%, #7a4c89 62%, #815692 64%, #896296 65%, #886e9d 66%, #7c72a4 67%, #636da4 68%, #56669f 69%, #3f5792 70%, #344d87 71%, #243c73 72%, rgba(32, 51, 101, 0.99) 75%, rgba(69, 82, 131, 0.99) 76%, rgba(89, 100, 148, 0.99) 77%, rgba(110, 114, 157, 0.99) 78%, rgba(136, 127, 159, 0.99) 79%, rgba(135, 124, 146, 0.99) 80%, rgba(114, 110, 124, 0.99) 81%, rgba(71, 75, 99, 0.99) 82%, rgba(49, 58, 89, 0.99) 83%, rgba(19, 31, 74, 0.99) 84%, rgba(4, 20, 66, 0.99) 85%, rgba(26, 37, 78, 0.99) 86%, rgba(37, 46, 82, 0.99) 87%, rgba(60, 65, 95, 0.99) 88%, rgba(86, 87, 107, 0.99) 89%, rgba(103, 102, 116, 0.99) 90%, rgba(122, 115, 131, 0.99) 91%, rgba(136, 125, 149, 0.98) 92%, rgba(136, 126, 159, 0.97) 93%, rgba(124, 122, 160, 0.97) 94%, rgba(104, 111, 155, 0.97) 95%, rgba(101, 108, 153, 0.96) 96%, rgba(69, 82, 131, 0.96) 97%, rgba(54, 72, 123, 0.95) 98%, rgba(31, 51, 101, 0.95) 99%, rgba(20, 41, 90, 0.94) 100%);
  -webkit-animation: anim1 500s linear infinite;
  -moz-animation: anim1 500s linear infinite;
  -ms-animation: anim1 500s linear infinite;
  -o-animation: anim1 500s linear infinite;
  animation: anim1 500s linear infinite;
  background-size: 100% 1000%;
}

/* line 32, ../sass/common.scss */
.out_2 {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(50%, rgba(255, 255, 255, 0.15)), color-stop(75%, rgba(255, 255, 255, 0.03)), color-stop(80%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.03) 75%, rgba(255, 255, 255, 0) 80%);
  background-image: -moz-linear-gradient(left center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.03) 75%, rgba(255, 255, 255, 0) 80%);
  background-image: -o-linear-gradient(left center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.03) 75%, rgba(255, 255, 255, 0) 80%);
  background-image: linear-gradient(left center, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.03) 75%, rgba(255, 255, 255, 0) 80%);
  background-repeat: no-repeat;
}

/* line 41, ../sass/common.scss */
body {
  height: 100%;
  font-family: Arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.2;
  background: #8ea1cc url(../img/bg-body.jpg) 50% 0 no-repeat;
  background-size: cover;
}

@font-face {
  font-family: 'HelveticaNeue-B';
  src: url("../fonts/HelveticaNeue-Bold.eot");
  src: local("☺"), url("../fonts/HelveticaNeue-Bold.woff") format("woff"), url("../fonts/HelveticaNeue-Bold.ttf") format("truetype"), url("/..fonts/HelveticaNeue-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-M';
  src: url("../fonts/HelveticaNeueCyr-Medium.eot");
  src: local("☺"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/*resets*/
/* line 69, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 70, ../sass/common.scss */
a {
  color: #00919e;
}
/* line 72, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 74, ../sass/common.scss */
button, textarea, input[type=submit]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 76, ../sass/common.scss */
.in {
  width: 1280px;
  margin: 0 auto;
}

/* line 80, ../sass/common.scss */
.btn {
  font-size: 13px;
  color: #fff;
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 0 rgba(47, 77, 0, 0.09) inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #656671), color-stop(100%, #3f404b));
  background-image: -webkit-linear-gradient(#656671, #3f404b);
  background-image: -moz-linear-gradient(#656671, #3f404b);
  background-image: -o-linear-gradient(#656671, #3f404b);
  background-image: linear-gradient(#656671, #3f404b);
  height: 25px;
  line-height: 25px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 2px;
}
/* line 91, ../sass/common.scss */
.btn:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f404b), color-stop(100%, #656671));
  background-image: -webkit-linear-gradient(#3f404b, #656671);
  background-image: -moz-linear-gradient(#3f404b, #656671);
  background-image: -o-linear-gradient(#3f404b, #656671);
  background-image: linear-gradient(#3f404b, #656671);
}

/* line 93, ../sass/common.scss */
.btn_green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87b70d), color-stop(100%, #487d04));
  background-image: -webkit-linear-gradient(#87b70d, #487d04);
  background-image: -moz-linear-gradient(#87b70d, #487d04);
  background-image: -o-linear-gradient(#87b70d, #487d04);
  background-image: linear-gradient(#87b70d, #487d04);
}
/* line 95, ../sass/common.scss */
.btn_green:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #487d04), color-stop(100%, #87b70d));
  background-image: -webkit-linear-gradient(#487d04, #87b70d);
  background-image: -moz-linear-gradient(#487d04, #87b70d);
  background-image: -o-linear-gradient(#487d04, #87b70d);
  background-image: linear-gradient(#487d04, #87b70d);
}

/* line 97, ../sass/common.scss */
.btn_90 {
  width: 90px;
  text-align: center;
}

/* line 101, ../sass/common.scss */
.btn_140 {
  width: 140px;
  text-align: center;
  height: 27px;
}

/* line 106, ../sass/common.scss */
.btn-violet {
  color: #cdccd3;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 12px;
  border: 1px solid #252731;
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5f4c89), color-stop(100%, #402e56));
  background-image: -webkit-linear-gradient(#5f4c89, #402e56);
  background-image: -moz-linear-gradient(#5f4c89, #402e56);
  background-image: -o-linear-gradient(#5f4c89, #402e56);
  background-image: linear-gradient(#5f4c89, #402e56);
  height: 34px;
  border-radius: 17px;
  padding: 0 8px;
  cursor: pointer;
  width: 109px;
}
/* line 118, ../sass/common.scss */
.btn-violet .bullet_dark_activ {
  margin: 0 2px -7px -5px;
}
/* line 121, ../sass/common.scss */
.btn-violet:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4f4073), color-stop(100%, #352647));
  background-image: -webkit-linear-gradient(#4f4073, #352647);
  background-image: -moz-linear-gradient(#4f4073, #352647);
  background-image: -o-linear-gradient(#4f4073, #352647);
  background-image: linear-gradient(#4f4073, #352647);
}
/* line 124, ../sass/common.scss */
.btn-violet.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fecd19), color-stop(100%, #b06200));
  background-image: -webkit-linear-gradient(#fecd19, #b06200);
  background-image: -moz-linear-gradient(#fecd19, #b06200);
  background-image: -o-linear-gradient(#fecd19, #b06200);
  background-image: linear-gradient(#fecd19, #b06200);
  color: #75470a;
}

/* line 129, ../sass/common.scss */
.bullet_dark_activ {
  background: url('../img/icons-s081f150e68.png') 0 -806px no-repeat;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
}

/* line 134, ../sass/common.scss */
.input {
  background: #1f2026;
  border-radius: 4px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7) inset, 0 1px 0 0 #454754;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  padding: 3px 7px;
  width: 219px;
  color: #fff;
}

/* line 146, ../sass/common.scss */
.header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a464f), color-stop(100%, #282530));
  background-image: -webkit-linear-gradient(#4a464f, #282530);
  background-image: -moz-linear-gradient(#4a464f, #282530);
  background-image: -o-linear-gradient(#4a464f, #282530);
  background-image: linear-gradient(#4a464f, #282530);
  box-shadow: 0 1px 0 0 #4f4f5b inset, 0 0 6px 5px rgba(0, 0, 0, 0.45);
  height: 60px;
  min-width: 1280px;
  position: relative;
  z-index: 10;
}
/* line 153, ../sass/common.scss */
.header .h-box {
  border-right: 1px solid #2e2b32;
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1);
  float: left;
  height: 60px;
  position: relative;
}
/* line 160, ../sass/common.scss */
.header .h-box_form {
  padding: 15px 15px 0 12px;
  height: 45px;
}
/* line 163, ../sass/common.scss */
.header .h-box_form .input-text {
  background: #66616c;
  border: 1px solid #2a2630;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4) inset, 0 2px 1px 0 rgba(255, 255, 255, 0.05);
  color: #e1e0e2;
  font-size: 12px;
  line-height: 20px;
  padding: 4px 4px 4px 38px;
  border-radius: 4px;
  width: 184px;
  height: 20px;
}
/* line 175, ../sass/common.scss */
.header .h-box_form .input-plus {
  background: url('../img/icons-s081f150e68.png') 0 -1859px no-repeat;
  width: 28px;
  height: 20px;
  border-right: 1px solid #544f5c;
  position: absolute;
  left: 14px;
  top: 21px;
  cursor: pointer;
}
/* line 184, ../sass/common.scss */
.header .logo-block {
  float: left;
  margin: 19px 12px 0 28px;
}
/* line 188, ../sass/common.scss */
.header .logo-block:hover .drop {
  display: block;
}
/* line 189, ../sass/common.scss */
.header .logo-block:hover .logo {
  background: url('../img/icons-s081f150e68.png') 0 -325px no-repeat;
  width: 48px;
  height: 23px;
}
/* line 192, ../sass/common.scss */
.header .logo {
  background: url('../img/icons-s081f150e68.png') 0 -97px no-repeat;
  width: 48px;
  height: 23px;
  display: block;
}
/* line 196, ../sass/common.scss */
.header .nav-item {
  float: left;
  margin: 0 15px 0 11px;
  position: relative;
  line-height: 60px;
}
/* line 201, ../sass/common.scss */
.header .nav-item .nav-item__text {
  color: #aeacb6;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
/* line 207, ../sass/common.scss */
.header .nav-item .nav-item__text_yellow {
  color: #f2ba06;
}
/* line 209, ../sass/common.scss */
.header .nav-item:hover .drop {
  display: block;
}
/* line 210, ../sass/common.scss */
.header .nav-item:hover .nav-arr {
  background: url('../img/icons-s081f150e68.png') 0 -621px no-repeat;
  width: 22px;
  height: 22px;
  top: 8px;
  margin: 0 -2px 0 3px;
}
/* line 217, ../sass/common.scss */
.header .nav-arr {
  background: url('../img/icons-s081f150e68.png') 0 -718px no-repeat;
  width: 18px;
  height: 19px;
  display: inline-block;
  position: relative;
  top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
/* line 225, ../sass/common.scss */
.header .nav {
  list-style: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3e3a43), color-stop(100%, #1c1a24));
  background-image: -webkit-linear-gradient(#3e3a43, #1c1a24);
  background-image: -moz-linear-gradient(#3e3a43, #1c1a24);
  background-image: -o-linear-gradient(#3e3a43, #1c1a24);
  background-image: linear-gradient(#3e3a43, #1c1a24);
  box-shadow: 0 1px 0 0 #3e3c47 inset;
  height: 60px;
  margin-left: 1px;
}
/* line 231, ../sass/common.scss */
.header .nav li {
  float: left;
  height: 44px;
  width: 59px;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  line-height: 15px;
  position: relative;
}
/* line 240, ../sass/common.scss */
.header .nav li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #302d37), color-stop(100%, #232127));
  background-image: -webkit-linear-gradient(#302d37, #232127);
  background-image: -moz-linear-gradient(#302d37, #232127);
  background-image: -o-linear-gradient(#302d37, #232127);
  background-image: linear-gradient(#302d37, #232127);
}
/* line 242, ../sass/common.scss */
.header .nav li:hover .icon-chat {
  background: url('../img/icons-s081f150e68.png') 0 -1301px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 243, ../sass/common.scss */
.header .nav li:hover .icon-eye {
  background: url('../img/icons-s081f150e68.png') 0 -1421px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 244, ../sass/common.scss */
.header .nav li:hover .icon-mike {
  background: url('../img/icons-s081f150e68.png') 0 -1552px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 245, ../sass/common.scss */
.header .nav li:hover .icon-phone {
  background: url('../img/icons-s081f150e68.png') 0 -1071px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 246, ../sass/common.scss */
.header .nav li:hover .icon-pencil {
  background: url('../img/icons-s081f150e68.png') 0 -1628px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 247, ../sass/common.scss */
.header .nav li:hover .icon-graph {
  background: url('../img/icons-s081f150e68.png') 0 0 no-repeat;
  width: 40px;
  height: 40px;
  margin: 1px 0 0 9px;
}
/* line 251, ../sass/common.scss */
.header .nav li:hover .drop {
  display: block;
}
/* line 253, ../sass/common.scss */
.header .nav li .nav__link {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.7);
  display: block;
  text-decoration: none;
  height: 41px;
  padding-top: 3px;
}
/* line 260, ../sass/common.scss */
.header .nav li .nav__link span {
  color: #656167;
  font-size: 11px;
  font-weight: bold;
}
/* line 265, ../sass/common.scss */
.header .nav li .nav__link strong {
  display: inline-block;
  color: #eccdcd;
  font-size: 11px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e00d0d), color-stop(100%, #b10606));
  background-image: -webkit-linear-gradient(#e00d0d, #b10606);
  background-image: -moz-linear-gradient(#e00d0d, #b10606);
  background-image: -o-linear-gradient(#e00d0d, #b10606);
  background-image: linear-gradient(#e00d0d, #b10606);
  height: 15px;
  line-height: 15px;
  width: 14px;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 5px;
}
/* line 279, ../sass/common.scss */
.header .nav li .nav__link i {
  display: block;
  margin: 0 auto 10px;
}
/* line 284, ../sass/common.scss */
.header .nav li:first-child .nav__link {
  border: 0;
  box-shadow: none;
}
/* line 288, ../sass/common.scss */
.header .nav li .icon-graph {
  background: url('../img/icons-s081f150e68.png') 0 -130px no-repeat;
  width: 36px;
  height: 37px;
  display: block;
  margin: 1px 0 0 11px;
}
/* line 295, ../sass/common.scss */
.header .icon-win {
  background: url('../img/icons-s081f150e68.png') 0 -50px no-repeat;
  width: 36px;
  height: 37px;
  margin: 12px 10px 0 11px;
}
/* line 299, ../sass/common.scss */
.header .icon-medal {
  background: url('../img/icons-s081f150e68.png') 0 -1240px no-repeat;
  width: 14px;
  height: 25px;
  float: left;
  margin: 17px 0 18px 12px;
}
/* line 304, ../sass/common.scss */
.header .inf-medal {
  margin: 0 10px 0 33px;
  text-align: center;
}
/* line 307, ../sass/common.scss */
.header .inf-medal strong {
  font-size: 18px;
  color: #f2ba06;
  display: block;
  width: 26px;
  margin: 8px 0 0;
}
/* line 314, ../sass/common.scss */
.header .inf-medal span {
  color: #656167;
  font-size: 11px;
  font-weight: bold;
  display: block;
  width: 26px;
  border-top: 1px solid #45404a;
  padding: 8px 0 0;
}
/* line 324, ../sass/common.scss */
.header .h-box_time {
  font-size: 24px;
  color: #b2b2bf;
  padding: 0 11px 0 12px;
  line-height: 60px;
}
/* line 329, ../sass/common.scss */
.header .h-box_time .nav-arr {
  top: 2px;
  margin: 0;
}
/* line 334, ../sass/common.scss */
.header .h-box_time:hover .nav-arr {
  background: url('../img/icons-s081f150e68.png') 0 -621px no-repeat;
  width: 22px;
  height: 22px;
  top: 5px;
  margin: 0 -3px 0 -1px;
}
/* line 339, ../sass/common.scss */
.header .h-box_time:hover .drop {
  display: block;
}
/* line 342, ../sass/common.scss */
.header .icon-pause {
  background: url('../img/icons-s081f150e68.png') 0 -532px no-repeat;
  width: 18px;
  height: 19px;
  display: inline-block;
  margin: 0 0 0 2px;
  position: relative;
  cursor: pointer;
  top: 2px;
}
/* line 350, ../sass/common.scss */
.header .userpic {
  margin: 7px 2px 0 12px;
}
/* line 351, ../sass/common.scss */
.header .h-box_user {
  border: 0;
  box-shadow: none;
}
/* line 354, ../sass/common.scss */
.header .h-box_user .nav-arr {
  margin-top: 16px;
}

/* line 357, ../sass/common.scss */
.icon-chat {
  background: url('../img/icons-s081f150e68.png') 0 -1275px no-repeat;
  width: 16px;
  height: 16px;
}

/* line 358, ../sass/common.scss */
.icon-eye {
  background: url('../img/icons-s081f150e68.png') 0 -1526px no-repeat;
  width: 16px;
  height: 16px;
}

/* line 359, ../sass/common.scss */
.icon-mike {
  background: url('../img/icons-s081f150e68.png') 0 -1578px no-repeat;
  width: 16px;
  height: 16px;
}

/* line 360, ../sass/common.scss */
.icon-phone {
  background: url('../img/icons-s081f150e68.png') 0 -1214px no-repeat;
  width: 16px;
  height: 16px;
}

/* line 361, ../sass/common.scss */
.icon-pencil {
  background: url('../img/icons-s081f150e68.png') 0 -1741px no-repeat;
  width: 16px;
  height: 16px;
}

/* line 362, ../sass/common.scss */
.mark-count {
  display: inline-block;
  color: #eccdcd;
  font-size: 11px;
  font-weight: bold;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e00d0d), color-stop(100%, #b10606));
  background-image: -webkit-linear-gradient(#e00d0d, #b10606);
  background-image: -moz-linear-gradient(#e00d0d, #b10606);
  background-image: -o-linear-gradient(#e00d0d, #b10606);
  background-image: linear-gradient(#e00d0d, #b10606);
  height: 15px;
  line-height: 15px;
  padding: 0 4px;
  text-align: center;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  margin-left: 5px;
  font-family: Arial,sans-serif;
  text-decoration: none;
}

/* line 378, ../sass/common.scss */
.mark-count_dark {
  background: #1f2026;
  color: #949798;
  box-shadow: none;
}

/* line 383, ../sass/common.scss */
.mark-count_yl {
  background: #ffcc00;
  color: #6f3c00;
  box-shadow: none;
}

/* line 388, ../sass/common.scss */
.userpic {
  border: 1px solid #000;
  border-radius: 3px;
  height: 39px;
  width: 39px;
  padding: 3px;
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.14) inset;
  margin: 7px 2px 0 12px;
  float: left;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(5%, rgba(249, 252, 254, 0)), color-stop(100%, rgba(125, 185, 232, 0)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(249, 252, 254, 0) 5%, rgba(125, 185, 232, 0) 100%);
}
/* line 398, ../sass/common.scss */
.userpic a {
  border: 1px solid #030303;
  display: block;
  background: url('../img/icons-s081f150e68.png') 0 -865px no-repeat;
  width: 37px;
  height: 37px;
  background-color: #292a32;
}

/* line 407, ../sass/common.scss */
.drop .user-list {
  margin: 7px -3px;
}
/* line 409, ../sass/common.scss */
.drop .user-list .user-item {
  padding-left: 7px;
}
/* line 411, ../sass/common.scss */
.drop .user-list .user-item:first-child {
  box-shadow: none;
  border-top-color: #29262f;
}
