/* line 2, ../sass/win-big.scss */
.win_big {
  width: 1232px;
}
/* line 4, ../sass/win-big.scss */
.win_big .win__content {
  background: url(../img/bg-win2.png);
  padding-top: 0;
  height: 330px;
}
/* line 9, ../sass/win-big.scss */
.win_big .win__content_larger {
  height: 394px;
}
/* line 11, ../sass/win-big.scss */
.win_big .win__content_larger .win__cols .win__col3, .win_big .win__content_larger .scroll .scrollbar, .win_big .win__content_larger .scroll .track, .win_big .win__content_larger .scroll .viewport {
  height: 394px;
}
/* line 14, ../sass/win-big.scss */
.win_big .win__content_larger .win__cols .win__col1 {
  height: 342px;
}
/* line 18, ../sass/win-big.scss */
.win_big .tabs {
  padding-top: 0;
}
/* line 21, ../sass/win-big.scss */
.win_big .tabs .tabs__nav .active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.17)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
}
/* line 25, ../sass/win-big.scss */
.win_big .tabs .tabs__contant {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.17)), color-stop(25%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  padding: 10px 18px 0 9px;
}
/* line 29, ../sass/win-big.scss */
.win_big .tabs .win__header {
  padding-right: 17px;
}

/* line 36, ../sass/win-big.scss */
.win__cols {
  width: 100%;
}
/* line 38, ../sass/win-big.scss */
.win__cols .win__col3 {
  float: left;
  width: 917px;
  height: 330px;
}
/* line 43, ../sass/win-big.scss */
.win__cols .win__col1 {
  float: right;
  width: 294px;
  border-left: 5px solid #413d46;
  background: url(../img/bg-win.png);
  height: 278px;
  padding: 12px 7px 40px;
  position: relative;
}
/* line 51, ../sass/win-big.scss */
.win__cols .win__col1 .win__dev {
  width: 294px;
  margin: 11px auto;
}
/* line 55, ../sass/win-big.scss */
.win__cols .win__col1 .win__dev2 {
  margin: 13px auto 5px;
}
/* line 57, ../sass/win-big.scss */
.win__cols .scroll .overview {
  width: 917px;
}
/* line 58, ../sass/win-big.scss */
.win__cols .row-btn {
  margin: 0 -7px 10px;
  text-align: right;
}
/* line 61, ../sass/win-big.scss */
.win__cols .row-btn .btn {
  margin: 0 8px;
}
/* line 63, ../sass/win-big.scss */
.win__cols .row-btn .btn:nth-child(2) {
  margin-left: 1px;
}
/* line 66, ../sass/win-big.scss */
.win__cols .row-btn_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  margin: 0 0 10px;
}

/* line 76, ../sass/win-big.scss */
.win__header {
  height: 45px;
  padding: 4px 9px 0;
}
/* line 79, ../sass/win-big.scss */
.win__header .form-search {
  float: left;
  padding: 0;
  margin: 7px 15px 0 0;
}
/* line 84, ../sass/win-big.scss */
.win__header .tabs__nav {
  float: left;
  padding: 0;
  margin-right: 10px;
}
/* line 89, ../sass/win-big.scss */
.win__header .dev-vert {
  float: left;
}
/* line 90, ../sass/win-big.scss */
.win__header .r-btn-gray {
  float: left;
}

/* line 94, ../sass/win-big.scss */
.right-block {
  float: right;
  padding-top: 3px;
}

/* line 100, ../sass/win-big.scss */
.dev-vert {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 36px;
  width: 0;
  margin: 0 11px;
}

/* line 108, ../sass/win-big.scss */
.scroll {
  position: relative;
}
/* line 110, ../sass/win-big.scss */
.scroll .scrollbar {
  position: absolute;
  width: 12px;
  height: 330px;
  z-index: 30;
  top: 0;
  right: -2px;
}
/* line 118, ../sass/win-big.scss */
.scroll .track {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(0, 0, 0, 0.42)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.42)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: linear-gradient(right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  height: 330px;
  width: 10px;
  position: relative;
}
/* line 125, ../sass/win-big.scss */
.scroll .thumb {
  background-color: #5c5a60;
  height: 20px;
  width: 6px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 3px;
  left: 2px;
}
/* line 136, ../sass/win-big.scss */
.scroll .viewport {
  height: 330px;
  overflow: hidden;
  position: relative;
}
/* line 141, ../sass/win-big.scss */
.scroll .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 8px;
}
/* line 148, ../sass/win-big.scss */
.scroll .disable {
  display: none;
}

/* line 150, ../sass/win-big.scss */
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* line 152, ../sass/win-big.scss */
.select {
  position: relative;
  background: #1f2026;
  border-radius: 3px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7) inset, 0 1px 0 0 #454754;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  height: 26px;
  width: 292px;
  color: #fff;
}
/* line 164, ../sass/win-big.scss */
.select .trigger {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(4%, #424242), color-stop(20%, #3b3b3b), color-stop(48%, #2a2a2a), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -moz-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -o-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 4px 4px 0;
  height: 26px;
  width: 35px;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}
/* line 176, ../sass/win-big.scss */
.select .arrow {
  background: url('../img/icons-s1c42631a5e.png') 0 -2498px no-repeat;
  width: 12px;
  height: 8px;
  display: block;
  margin: 11px 0 0 12px;
}
/* line 181, ../sass/win-big.scss */
.select .select__sel {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  opacity: 0;
  width: 292px;
}
/* line 189, ../sass/win-big.scss */
.select .text {
  padding: 3px 7px;
  font-size: 13px;
  color: #cecece;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  line-height: 20px;
  display: block;
}

/* line 200, ../sass/win-big.scss */
.selectbox .dropdown {
  width: 100%;
  top: 28px !important;
  overflow: visible !important;
}
/* line 204, ../sass/win-big.scss */
.selectbox .dropdown:after {
  width: 35px;
  height: 4px;
  background: #212121;
  position: absolute;
  top: -3px;
  right: 0;
  border-right: 1px solid #000;
  content: "";
}
/* line 214, ../sass/win-big.scss */
.selectbox .dropdown:before {
  width: 1px;
  height: 1px;
  background: #000;
  position: absolute;
  top: -1px;
  left: 0;
  content: "";
}
/* line 223, ../sass/win-big.scss */
.selectbox .dropdown ul {
  border-top: 1px solid #404040;
}
/* line 226, ../sass/win-big.scss */
.selectbox .dropdown li {
  color: #cecece;
  font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 27px;
  line-height: 27px;
  border: 1px solid #080808;
  border-top: 1px solid #404040;
  text-indent: 7px;
  cursor: pointer;
  background: #212121;
}
/* line 237, ../sass/win-big.scss */
.selectbox .dropdown li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4fa1ca), color-stop(100%, #05579e));
  background-image: -webkit-linear-gradient(#4fa1ca, #05579e);
  background-image: -moz-linear-gradient(#4fa1ca, #05579e);
  background-image: -o-linear-gradient(#4fa1ca, #05579e);
  background-image: linear-gradient(#4fa1ca, #05579e);
  /*box-shadow:0 1px 0 #6fb2d4 inset, 0 -1px 0 #011424 inset, 1px 0 0 rgba(white,.1) inset, -1px 0 0 rgba(0,0,0,.3) inset;*/
  border-color: #6fb2d4 #17415d #011424 #408bbd;
}
/* line 242, ../sass/win-big.scss */
.selectbox .dropdown li:first-child {
  border-top-color: #212121;
}
/* line 244, ../sass/win-big.scss */
.selectbox .dropdown li:first-child:hover {
  border-top-color: #6fb2d4;
}
/* line 248, ../sass/win-big.scss */
.selectbox .dropdown li:last-child {
  border-radius: 0 0 3px 3px;
}

/* line 254, ../sass/win-big.scss */
.selest_search {
  position: relative;
}
/* line 256, ../sass/win-big.scss */
.selest_search .icon-search {
  top: 0;
  z-index: 100;
}
/* line 260, ../sass/win-big.scss */
.selest_search .text {
  padding-left: 24px;
}

/* line 263, ../sass/win-big.scss */
.select_green .select {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ab90e), color-stop(100%, #4b7f05));
  background-image: -webkit-linear-gradient(#8ab90e, #4b7f05);
  background-image: -moz-linear-gradient(#8ab90e, #4b7f05);
  background-image: -o-linear-gradient(#8ab90e, #4b7f05);
  background-image: linear-gradient(#8ab90e, #4b7f05);
}
/* line 266, ../sass/win-big.scss */
.select_green .text {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 272, ../sass/win-big.scss */
.select_small {
  width: 99px;
  display: inline-block;
  margin-left: 1px;
}
/* line 276, ../sass/win-big.scss */
.select_small .select {
  width: 99px;
}
/* line 281, ../sass/win-big.scss */
.select_small div.select {
  float: none !important;
}

/* line 283, ../sass/win-big.scss */
.filter-list {
  margin: 18px -7px 0;
}

/* line 286, ../sass/win-big.scss */
.filter__item {
  background: #1c1c1c;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #1c1c1c;
  line-height: 20px;
  padding: 10px 0 10px 7px;
  font-size: 13px;
  color: #cecece;
  position: relative;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}
/* line 296, ../sass/win-big.scss */
.filter__item:nth-child(even) {
  background: #222;
}
/* line 299, ../sass/win-big.scss */
.filter__item .filter__radio {
  margin-top: -1px;
  position: relative;
  top: 3px;
  margin-right: 8px;
}
/* line 305, ../sass/win-big.scss */
.filter__item .filter__arr {
  background: url('../img/icons-s1c42631a5e.png') 0 -2967px no-repeat;
  width: 6px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
}
/* line 310, ../sass/win-big.scss */
.filter__item .cancel-gray {
  top: 50%;
  margin-top: -7px;
  right: 12px;
}

/* line 317, ../sass/win-big.scss */
.array_left,
.array_right {
  position: absolute;
  top: 50%;
  margin-top: -19px;
}
/* line 321, ../sass/win-big.scss */
.array_left:hover,
.array_right:hover {
  opacity: 0.5;
}

/* line 323, ../sass/win-big.scss */
.array_left {
  background: url('../img/icons-s1c42631a5e.png') 0 -834px no-repeat;
  width: 50px;
  height: 50px;
  left: 21px;
}

/* line 327, ../sass/win-big.scss */
.array_right {
  background: url('../img/icons-s1c42631a5e.png') 0 -1004px no-repeat;
  width: 50px;
  height: 50px;
  right: 21px;
}

/* line 331, ../sass/win-big.scss */
.new-doc-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -100px;
  background: url('../img/icons-s1c42631a5e.png') 0 -894px no-repeat;
  width: 200px;
  height: 71px;
}

/* line 339, ../sass/win-big.scss */
.new-doc {
  margin-top: 39px;
  color: #fff;
  font-size: 13px;
  border: 1px solid #00284a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a9cc7), color-stop(100%, #0a5ca1));
  background-image: -webkit-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: -moz-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: -o-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: linear-gradient(#4a9cc7, #0a5ca1);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12) inset, 0 15px 15px -15px rgba(255, 255, 255, 0.3) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 200px;
  margin: 39px 0 0;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
}
/* line 352, ../sass/win-big.scss */
.new-doc:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5ca1), color-stop(100%, #4a9cc7));
  background-image: -webkit-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: -moz-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: -o-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: linear-gradient(#0a5ca1, #4a9cc7);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12) inset, 0 -15px 15px -15px rgba(255, 255, 255, 0.3) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

/* line 358, ../sass/win-big.scss */
.filter-list_light {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
}

/* line 362, ../sass/win-big.scss */
.filter__item_light {
  background: #f5f8fc;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f7fc), color-stop(41%, #f7f8fb), color-stop(78%, #ebeef4), color-stop(100%, #eaedf3));
  background-image: -webkit-linear-gradient(#f5f7fc 0%, #f7f8fb 41%, #ebeef4 78%, #eaedf3 100%);
  background-image: -moz-linear-gradient(#f5f7fc 0%, #f7f8fb 41%, #ebeef4 78%, #eaedf3 100%);
  background-image: -o-linear-gradient(#f5f7fc 0%, #f7f8fb 41%, #ebeef4 78%, #eaedf3 100%);
  background-image: linear-gradient(#f5f7fc 0%, #f7f8fb 41%, #ebeef4 78%, #eaedf3 100%);
  border: 0;
  border-bottom: 1px solid #bbc6d3;
  color: #2c2c37;
  padding: 9px 0 9px 10px;
}
/* line 369, ../sass/win-big.scss */
.filter__item_light:nth-child(even) {
  background: #eaebf3;
  background-image: none;
}
/* line 373, ../sass/win-big.scss */
.filter__item_light:first-child {
  border-radius: 5px 5px 0 0;
}
/* line 376, ../sass/win-big.scss */
.filter__item_light:last-child {
  border-radius: 0 0 5px 5px;
  border-color: #bbc6d3;
}
/* line 380, ../sass/win-big.scss */
.filter__item_light .cancel-gray {
  background: url('../img/icons-s1c42631a5e.png') 0 -2256px no-repeat;
  width: 15px;
  height: 15px;
  opacity: 1;
  right: 8px;
}
/* line 383, ../sass/win-big.scss */
.filter__item_light .cancel-gray:hover {
  opacity: 0.6;
}

/* line 387, ../sass/win-big.scss */
.icon-pencil_gray {
  background: url('../img/icons-s1c42631a5e.png') 0 -2138px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 394, ../sass/win-big.scss */
.icon-pencil_blue {
  background: url('../img/icons-s1c42631a5e.png') 0 -2184px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 401, ../sass/win-big.scss */
.datepicker {
  float: left;
  margin: 7px 15px 0 0;
  position: relative;
}

/* line 406, ../sass/win-big.scss */
.date-input {
  width: 184px;
  position: relative;
}
/* line 409, ../sass/win-big.scss */
.date-input .date-input__text {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #cecece;
}
/* line 414, ../sass/win-big.scss */
.date-input .date-input__dev {
  font-size: 13px;
  color: #f2ba06;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 420, ../sass/win-big.scss */
.date__btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(4%, #424242), color-stop(20%, #3b3b3b), color-stop(48%, #2a2a2a), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -moz-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -o-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 4px 4px 0;
  height: 28px;
  width: 37px;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}

/* line 432, ../sass/win-big.scss */
.icon-points {
  background: url('../img/icons-s1c42631a5e.png') 0 -3121px no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* line 440, ../sass/win-big.scss */
.datepicker__drop {
  border-radius: 5px;
  background: #29262f;
  border: 1px solid #000;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  padding: 4px;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  left: 70px;
  width: 210px;
  display: none;
}
/* line 452, ../sass/win-big.scss */
.datepicker__drop:before {
  content: '';
  position: absolute;
  background: url('../img/icons-s1c42631a5e.png') 0 -2075px no-repeat;
  width: 20px;
  height: 21px;
  top: -20px;
  left: 99px;
}

/* line 460, ../sass/win-big.scss */
.datepicker__header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62646f), color-stop(100%, #42444e));
  background-image: -webkit-linear-gradient(#62646f, #42444e);
  background-image: -moz-linear-gradient(#62646f, #42444e);
  background-image: -o-linear-gradient(#62646f, #42444e);
  background-image: linear-gradient(#62646f, #42444e);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(47, 77, 0, 0.09) inset;
  position: relative;
  border-radius: 3px 3px 0 0;
  padding: 6px 0 7px;
  text-align: center;
}
/* line 467, ../sass/win-big.scss */
.datepicker__header .date-prev, .datepicker__header .date-next {
  top: 50%;
  position: absolute;
  margin-top: -6px;
  cursor: pointer;
}
/* line 473, ../sass/win-big.scss */
.datepicker__header .date-prev {
  background: url('../img/icons-s1c42631a5e.png') 0 -2843px no-repeat;
  width: 6px;
  height: 11px;
  left: 8px;
}
/* line 477, ../sass/win-big.scss */
.datepicker__header .date-next {
  background: url('../img/icons-s1c42631a5e.png') 0 -2798px no-repeat;
  width: 6px;
  height: 11px;
  right: 8px;
}
/* line 481, ../sass/win-big.scss */
.datepicker__header .date-m, .datepicker__header .date-y {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 9px;
  border-radius: 9px;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  margin: 0 13px;
  cursor: pointer;
}
/* line 494, ../sass/win-big.scss */
.datepicker__header .date-m.active, .datepicker__header .date-y.active {
  border: 1px solid rgba(0, 0, 0, 0.11);
  background: #3d3d47;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 501, ../sass/win-big.scss */
.date-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 169px;
}
/* line 506, ../sass/win-big.scss */
.date-table th {
  background: #e3e3e3;
  color: #646464;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
  height: 20px;
}
/* line 514, ../sass/win-big.scss */
.date-table td {
  background: #fff;
  height: 29px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  text-align: center;
  color: #454545;
  font-size: 12px;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  width: 29px;
}
/* line 525, ../sass/win-big.scss */
.date-table .today {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  color: #000;
}
/* line 529, ../sass/win-big.scss */
.date-table .chosen {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3db86), color-stop(100%, #a6c082));
  background-image: -webkit-linear-gradient(#c3db86, #a6c082);
  background-image: -moz-linear-gradient(#c3db86, #a6c082);
  background-image: -o-linear-gradient(#c3db86, #a6c082);
  background-image: linear-gradient(#c3db86, #a6c082);
}
/* line 532, ../sass/win-big.scss */
.date-table .chosen2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67b9e8), color-stop(100%, #1a7fb8));
  background-image: -webkit-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -moz-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -o-linear-gradient(#67b9e8, #1a7fb8);
  background-image: linear-gradient(#67b9e8, #1a7fb8);
  box-shadow: 0 0 4px 1px rgba(0, 70, 110, 0.4) inset;
  color: #fff;
}
/* line 537, ../sass/win-big.scss */
.date-table .inactive {
  color: #c8c8c8;
}
/* line 541, ../sass/win-big.scss */
.date-table tr:last-child td {
  border-bottom: 0;
}
/* line 544, ../sass/win-big.scss */
.date-table tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
/* line 547, ../sass/win-big.scss */
.date-table tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
/* line 551, ../sass/win-big.scss */
.date-table td:first-child {
  border-left: 0;
}

/* line 556, ../sass/win-big.scss */
.date-table_m td {
  width: 69px;
  height: 41px;
}
/* line 560, ../sass/win-big.scss */
.date-table_m tr:first-child td {
  height: 42px;
}
/* line 561, ../sass/win-big.scss */
.date-table_m tr:last-child td {
  height: 42px;
}

/* line 563, ../sass/win-big.scss */
.datepicker__footer {
  padding: 5px 0 0;
  overflow: hidden;
}
/* line 566, ../sass/win-big.scss */
.datepicker__footer .btn {
  height: 28px;
  border-radius: 3px;
}
/* line 570, ../sass/win-big.scss */
.datepicker__footer .btn_75 {
  margin-right: 4px;
}
/* line 571, ../sass/win-big.scss */
.datepicker__footer .btn_45 {
  float: right;
}

/* line 574, ../sass/win-big.scss */
.input_half {
  width: 129px;
  display: inline-block;
}

/* line 579, ../sass/win-big.scss */
.input_full {
  width: 277px;
}

/* line 582, ../sass/win-big.scss */
.input_180 {
  width: 183px;
}

/* line 585, ../sass/win-big.scss */
.form-row {
  margin-bottom: 12px;
  line-height: 27px;
}

/* line 589, ../sass/win-big.scss */
.form-row_radio {
  margin-top: 17px;
}

/* line 592, ../sass/win-big.scss */
.label {
  font-size: 13px;
  color: #cecece;
  margin: 0 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
}

/* line 599, ../sass/win-big.scss */
.label_bold {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 602, ../sass/win-big.scss */
.help-link {
  font-size: 13px;
  color: #3e96cc;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  text-decoration: none;
  margin-left: 6px;
}
/* line 608, ../sass/win-big.scss */
.help-link:hover {
  text-decoration: underline;
}

/* line 613, ../sass/win-big.scss */
.form-note {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #8b8c92;
  line-height: 1.6;
  margin-bottom: 8px;
}
/* line 619, ../sass/win-big.scss */
.form-note a {
  color: #3e96cc;
  text-decoration: none;
}
/* line 622, ../sass/win-big.scss */
.form-note a:hover {
  text-decoration: underline;
}

/* line 628, ../sass/win-big.scss */
.navi {
  overflow: hidden;
  float: left;
  padding: 10px 0;
  margin-right: -1px;
}
/* line 633, ../sass/win-big.scss */
.navi a {
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: #323443;
  border: 1px solid #202026;
  box-shadow: 0 1px 0 0 #454754, 0 1px 0 0 rgba(0, 0, 0, 0.7) inset;
  margin: 6px 5px 0 5px;
  float: left;
}
/* line 642, ../sass/win-big.scss */
.navi a:hover {
  background: #83b30d;
  border-color: #000;
  box-shadow: 0 1px 0 0 #454754;
}
/* line 650, ../sass/win-big.scss */
.navi .navi__right,
.navi .navi__left {
  border-color: #252731;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #605e64), color-stop(100%, #413d46));
  background-image: -webkit-linear-gradient(#605e64, #413d46);
  background-image: -moz-linear-gradient(#605e64, #413d46);
  background-image: -o-linear-gradient(#605e64, #413d46);
  background-image: linear-gradient(#605e64, #413d46);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  width: 16px;
  height: 16px;
  margin-top: 0;
}
/* line 657, ../sass/win-big.scss */
.navi .navi__right:hover,
.navi .navi__left:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #413d46), color-stop(100%, #605e64));
  background-image: -webkit-linear-gradient(#413d46, #605e64);
  background-image: -moz-linear-gradient(#413d46, #605e64);
  background-image: -o-linear-gradient(#413d46, #605e64);
  background-image: linear-gradient(#413d46, #605e64);
  border-color: #252731;
}
/* line 661, ../sass/win-big.scss */
.navi .navi__right i,
.navi .navi__left i {
  display: block;
  margin: 3px 0 0 3px;
}
/* line 667, ../sass/win-big.scss */
.navi .navi__right i {
  background: url('../img/icons-s1c42631a5e.png') 0 -2162px no-repeat;
  width: 8px;
  height: 12px;
  margin: 3px 0 0 5px;
}
/* line 673, ../sass/win-big.scss */
.navi .navi__left i {
  background: url('../img/icons-s1c42631a5e.png') 0 -2208px no-repeat;
  width: 8px;
  height: 12px;
}

/* line 679, ../sass/win-big.scss */
.progress {
  border: 1px solid #2e2e37;
  border-radius: 4px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.18) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(65, 67, 86, 0.58)), color-stop(100%, rgba(46, 47, 56, 0.58)));
  background-image: -webkit-linear-gradient(rgba(65, 67, 86, 0.58), rgba(46, 47, 56, 0.58));
  background-image: -moz-linear-gradient(rgba(65, 67, 86, 0.58), rgba(46, 47, 56, 0.58));
  background-image: -o-linear-gradient(rgba(65, 67, 86, 0.58), rgba(46, 47, 56, 0.58));
  background-image: linear-gradient(rgba(65, 67, 86, 0.58), rgba(46, 47, 56, 0.58));
  float: left;
  margin: 0 0 0 3px;
}
/* line 686, ../sass/win-big.scss */
.progress li {
  font-size: 12px;
  color: #cecece;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  float: left;
  list-style: none;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  padding: 0 27px 0 8px;
  position: relative;
}
/* line 697, ../sass/win-big.scss */
.progress li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url('../img/icons-s1c42631a5e.png') 0 -1695px no-repeat;
  width: 15px;
  height: 40px;
}
/* line 704, ../sass/win-big.scss */
.progress li:last-child {
  padding-right: 13px;
}
/* line 705, ../sass/win-big.scss */
.progress li:last-child:after {
  display: none;
}
/* line 711, ../sass/win-big.scss */
.progress a {
  color: #cecece;
  text-decoration: none;
}
/* line 715, ../sass/win-big.scss */
.progress .progress__num {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  border: 1px solid #252731;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.21) inset, 0 1px 1px rgba(0, 0, 0, 0.75);
  background: #605e64;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #605e64), color-stop(100%, #413d46));
  background-image: -webkit-linear-gradient(#605e64, #413d46);
  background-image: -moz-linear-gradient(#605e64, #413d46);
  background-image: -o-linear-gradient(#605e64, #413d46);
  background-image: linear-gradient(#605e64, #413d46);
  float: left;
  vertical-align: middle;
  text-align: center;
  line-height: 26px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 6px 11px 0 0;
  text-shadow: none;
}
/* line 733, ../sass/win-big.scss */
.progress .progress__num_done {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #83b20d), color-stop(100%, #497a05));
  background-image: -webkit-linear-gradient(#83b20d, #497a05);
  background-image: -moz-linear-gradient(#83b20d, #497a05);
  background-image: -o-linear-gradient(#83b20d, #497a05);
  background-image: linear-gradient(#83b20d, #497a05);
  color: transparent;
  font: 0/0 a;
  position: relative;
}
/* line 738, ../sass/win-big.scss */
.progress .progress__num_done:before {
  content: "";
  position: absolute;
  background: url('../img/icons-s1c42631a5e.png') 0 -2673px no-repeat;
  width: 12px;
  height: 11px;
  top: 7px;
  left: 7px;
}
/* line 746, ../sass/win-big.scss */
.progress .progress__num_next {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #692ab1), color-stop(100%, #421f84));
  background-image: -webkit-linear-gradient(#692ab1, #421f84);
  background-image: -moz-linear-gradient(#692ab1, #421f84);
  background-image: -o-linear-gradient(#692ab1, #421f84);
  background-image: linear-gradient(#692ab1, #421f84);
}

/* line 751, ../sass/win-big.scss */
.win_graph {
  width: 501px;
}
/* line 753, ../sass/win-big.scss */
.win_graph .win__content {
  height: 462px;
  background: url("../img/bg-win2.png");
}

/* line 758, ../sass/win-big.scss */
.graph__img {
  height: 259px;
  padding-top: 1px;
  width: 480px;
  margin: 7px auto 15px;
  border-radius: 4px;
  background: white url(../img/grid.png);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  text-align: center;
  position: relative;
}

/* line 769, ../sass/win-big.scss */
.graph__add {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}
/* line 773, ../sass/win-big.scss */
.graph__add .graph__num {
  color: #cecece;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 13px;
  float: left;
  margin: 6px 9px 0 10px;
}
/* line 780, ../sass/win-big.scss */
.graph__add .selectbox {
  float: left;
  margin-right: 11px;
}
/* line 784, ../sass/win-big.scss */
.graph__add .select {
  width: 158px;
}
/* line 787, ../sass/win-big.scss */
.graph__add .input {
  float: left;
  width: 174px;
  margin-right: 12px;
}
/* line 792, ../sass/win-big.scss */
.graph__add .input_axis {
  width: 139px;
}
/* line 795, ../sass/win-big.scss */
.graph__add .btn {
  float: left;
  position: relative;
}

/* line 800, ../sass/win-big.scss */
.graph__color {
  border: 4px solid #ccccd5;
  background: #ccccd5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ceced7), color-stop(100%, #8e8ea0));
  background-image: -webkit-linear-gradient(#ceced7, #8e8ea0);
  background-image: -moz-linear-gradient(#ceced7, #8e8ea0);
  background-image: -o-linear-gradient(#ceced7, #8e8ea0);
  background-image: linear-gradient(#ceced7, #8e8ea0);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.6), 0 1px 1px 0 rgba(255, 255, 255, 0.38) inset;
  float: left;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 810, ../sass/win-big.scss */
.graph__color .graph__color-icon {
  background: url('../img/icons-s1c42631a5e.png') 0 -433px no-repeat;
  width: 20px;
  height: 21px;
  display: block;
}

/* line 815, ../sass/win-big.scss */
.btn_min {
  height: 28px;
  line-height: 26px;
  width: 45px;
}
/* line 819, ../sass/win-big.scss */
.btn_min span {
  left: 50%;
  margin-left: -10px;
}

/* line 824, ../sass/win-big.scss */
.legend {
  border-spacing: 0;
  width: 100%;
  margin-top: 2px;
}
/* line 828, ../sass/win-big.scss */
.legend td {
  background: #1c1c1c;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #0a0a0a;
  color: #cecece;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  height: 30px;
  padding: 5px 0 5px 14px;
  font-size: 13px;
}
/* line 838, ../sass/win-big.scss */
.legend tr:nth-child(even) td {
  background: #252525;
  border-top: 1px solid #3b3b3b;
  border-bottom: 1px solid #0f0f0f;
}
/* line 843, ../sass/win-big.scss */
.legend .cancel-gray {
  position: static;
}
/* line 846, ../sass/win-big.scss */
.legend .legend__color {
  width: 20px;
  height: 20px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.4)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4));
  border-radius: 50%;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.75);
  display: inline-block;
}
/* line 854, ../sass/win-big.scss */
.legend .legend__col1 {
  padding-left: 37px;
  width: 20px;
}
/* line 858, ../sass/win-big.scss */
.legend .legend__col2 {
  width: 48px;
}
/* line 861, ../sass/win-big.scss */
.legend .legend__col5 {
  width: 40px;
}

/* line 865, ../sass/win-big.scss */
.garph__axis {
  float: left;
  margin: -2px -4px -3px 5px;
}

/* line 869, ../sass/win-big.scss */
.garph__axis_x {
  background: url('../img/icons-s1c42631a5e.png') 0 0 no-repeat;
  width: 34px;
  height: 34px;
}

/* line 872, ../sass/win-big.scss */
.garph__axis_y {
  background: url('../img/icons-s1c42631a5e.png') 0 -44px no-repeat;
  width: 34px;
  height: 34px;
}

/* line 875, ../sass/win-big.scss */
.graph__doc {
  background: url('../img/icons-s1c42631a5e.png') 0 -1877px no-repeat;
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 6px;
  right: 7px;
  opacity: 0.3;
}
/* line 882, ../sass/win-big.scss */
.graph__doc:hover {
  opacity: 0.4;
}

/* line 887, ../sass/win-big.scss */
.graph__axis {
  background: url('../img/icons-s1c42631a5e.png') 0 -518px no-repeat;
  width: 462px;
  height: 240px;
  display: block;
  margin: 10px 0 0 9px;
}
