/* line 2, ../sass/win-big.scss */
.win_big {
  width: 1232px;
}
/* line 4, ../sass/win-big.scss */
.win_big .win__content {
  background: url(../img/bg-win2.png);
  padding-top: 0;
  height: 330px;
}
/* line 9, ../sass/win-big.scss */
.win_big .win__content_larger {
  height: 394px;
}
/* line 11, ../sass/win-big.scss */
.win_big .win__content_larger .win__cols .win__col3, .win_big .win__content_larger .scroll .scrollbar, .win_big .win__content_larger .scroll .track, .win_big .win__content_larger .scroll .viewport {
  height: 394px;
}
/* line 14, ../sass/win-big.scss */
.win_big .win__content_larger .win__cols .win__col1 {
  height: 342px;
}
/* line 18, ../sass/win-big.scss */
.win_big .tabs {
  padding-top: 0;
}
/* line 21, ../sass/win-big.scss */
.win_big .tabs .tabs__nav .active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.17)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
}
/* line 25, ../sass/win-big.scss */
.win_big .tabs .tabs__contant {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.17)), color-stop(25%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  padding: 10px 18px 0 9px;
}
/* line 29, ../sass/win-big.scss */
.win_big .tabs .win__header {
  padding-right: 17px;
}

/* line 34, ../sass/win-big.scss */
.win__cols {
  overflow: hidden;
  width: 100%;
}
/* line 37, ../sass/win-big.scss */
.win__cols .win__col3 {
  float: left;
  width: 917px;
  height: 330px;
}
/* line 42, ../sass/win-big.scss */
.win__cols .win__col1 {
  float: right;
  width: 294px;
  border-left: 5px solid #413d46;
  background: url(../img/bg-win.png);
  height: 278px;
  padding: 12px 7px 40px;
  position: relative;
}
/* line 50, ../sass/win-big.scss */
.win__cols .win__col1 .win__dev {
  width: 294px;
  margin: 11px auto;
}
/* line 54, ../sass/win-big.scss */
.win__cols .win__col1 .win__dev2 {
  margin: 13px auto 5px;
}
/* line 56, ../sass/win-big.scss */
.win__cols .scroll .overview {
  width: 917px;
}
/* line 57, ../sass/win-big.scss */
.win__cols .row-btn {
  margin: 0 -7px 10px;
  text-align: right;
}
/* line 60, ../sass/win-big.scss */
.win__cols .row-btn .btn {
  margin: 0 8px;
}
/* line 62, ../sass/win-big.scss */
.win__cols .row-btn .btn:nth-child(2) {
  margin-left: 1px;
}
/* line 65, ../sass/win-big.scss */
.win__cols .row-btn_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  margin: 0 0 10px;
}

/* line 73, ../sass/win-big.scss */
.win__header {
  height: 45px;
  padding: 4px 9px 0;
}
/* line 76, ../sass/win-big.scss */
.win__header .form-search {
  float: left;
  padding: 0;
  margin: 7px 15px 0 0;
}
/* line 81, ../sass/win-big.scss */
.win__header .tabs__nav {
  float: left;
  padding: 0;
  margin-right: 10px;
}
/* line 86, ../sass/win-big.scss */
.win__header .dev-vert {
  float: left;
}
/* line 87, ../sass/win-big.scss */
.win__header .r-btn-gray {
  float: left;
}

/* line 89, ../sass/win-big.scss */
.right-block {
  float: right;
  padding-top: 3px;
}

/* line 93, ../sass/win-big.scss */
.dev-vert {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 36px;
  width: 0;
  margin: 0 11px;
}

/* line 101, ../sass/win-big.scss */
.t {
  border-spacing: 0;
  width: 100%;
}
/* line 104, ../sass/win-big.scss */
.t th {
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #b0b0b0;
  border-right: 1px solid #c8c8c8;
  box-shadow: 1px 0 0 #e2e2e2 inset, 0 1px 0 #eee inset;
  font-weight: bold;
  color: #464646;
  text-align: left;
  height: 35px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(#dddddd, #cacaca);
  background-image: -moz-linear-gradient(#dddddd, #cacaca);
  background-image: -o-linear-gradient(#dddddd, #cacaca);
  background-image: linear-gradient(#dddddd, #cacaca);
}
/* line 114, ../sass/win-big.scss */
.t th:first-child {
  border-radius: 5px 0 0 0;
}
/* line 117, ../sass/win-big.scss */
.t th:last-child {
  border-radius: 0 5px 0 0;
}
/* line 121, ../sass/win-big.scss */
.t th, .t td {
  font-size: 13px;
  padding: 0 15px;
}
/* line 125, ../sass/win-big.scss */
.t td {
  background: #f6f8fc;
  border: 1px solid #d1d1d1;
  border-left: 0;
  border-bottom: 0;
  color: #505656;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 136, ../sass/win-big.scss */
.t tr:last-child td {
  border-bottom: 1px solid #d1d1d1;
}
/* line 137, ../sass/win-big.scss */
.t tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}
/* line 140, ../sass/win-big.scss */
.t tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}
/* line 144, ../sass/win-big.scss */
.t .t__col1 {
  width: 36px;
  padding: 0;
  text-align: center;
}
/* line 149, ../sass/win-big.scss */
.t .t__col3 {
  padding: 10px 8px;
  font-weight: bold;
}
/* line 152, ../sass/win-big.scss */
.t .t__col3 span {
  display: block;
  padding: 1px 4px 2px;
  margin: -2px 0 -1px;
}
/* line 158, ../sass/win-big.scss */
.t .t__col4 {
  width: 174px;
}
/* line 159, ../sass/win-big.scss */
.t .mark-red {
  color: #580c0c;
  background: #e33939;
}
/* line 163, ../sass/win-big.scss */
.t .t__col5 {
  font-weight: bold;
}
/* line 166, ../sass/win-big.scss */
.t .t__col_mark1 {
  background: #dde2fd;
}
/* line 167, ../sass/win-big.scss */
.t .t__col_mark2 {
  background: #ffe3d0;
}
/* line 168, ../sass/win-big.scss */
.t .t__col6 {
  font-weight: bold;
}
/* line 171, ../sass/win-big.scss */
.t .t__sort {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67b9e8), color-stop(100%, #1a7fb8));
  background-image: -webkit-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -moz-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -o-linear-gradient(#67b9e8, #1a7fb8);
  background-image: linear-gradient(#67b9e8, #1a7fb8);
  box-shadow: none;
  color: #fff;
}
/* line 176, ../sass/win-big.scss */
.t .t__sort-arr {
  background: url('../img/icons-sef9cd520f6.png') 0 -2188px no-repeat;
  width: 8px;
  height: 6px;
  display: inline-block;
  margin-left: 7px;
  position: relative;
  top: -2px;
}
/* line 185, ../sass/win-big.scss */
.t .t__col8 {
  width: 53px;
  padding: 0;
  text-align: center;
}
/* line 190, ../sass/win-big.scss */
.t .add-inf {
  display: none;
}
/* line 192, ../sass/win-big.scss */
.t .add-inf td {
  padding: 0;
  border: 0;
  background: #2d2e37 url(../img/bg-win.png);
  box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.5) inset, 0 -10px 6px -6px rgba(0, 0, 0, 0.5) inset;
}
/* line 199, ../sass/win-big.scss */
.t .add-inf__holder {
  background: transparent url(../img/bg-table.png) repeat-y;
  overflow: hidden;
  padding: 8px 0 10px 5px;
  border-bottom: 5px solid #e8eed6;
}
/* line 205, ../sass/win-big.scss */
.t .add-inf__col {
  float: left;
  padding-left: 11px;
}
/* line 208, ../sass/win-big.scss */
.t .add-inf__col h4 {
  font-size: 16px;
  color: #95ae37;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  margin-bottom: 2px;
}
/* line 214, ../sass/win-big.scss */
.t .add-inf__col span {
  font-size: 13px;
  color: #cecece;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
}
/* line 220, ../sass/win-big.scss */
.t .add-inf__col1 {
  width: 142px;
}
/* line 221, ../sass/win-big.scss */
.t .add-inf__col2 {
  width: 167px;
}
/* line 222, ../sass/win-big.scss */
.t .add-inf__col3 {
  width: 179px;
}
/* line 223, ../sass/win-big.scss */
.t .add-inf__col4 {
  width: 97px;
}
/* line 224, ../sass/win-big.scss */
.t .add-inf__col5 {
  width: 180px;
}
/* line 225, ../sass/win-big.scss */
.t .add-inf__error {
  color: #dd1b1f;
  font-size: 13px;
}
/* line 229, ../sass/win-big.scss */
.t .icon-error {
  display: inline-block;
  background: url('../img/icons-sef9cd520f6.png') 0 -682px no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  top: 3px;
  position: relative;
}
/* line 236, ../sass/win-big.scss */
.t .add-inf__ok {
  font-size: 13px;
  color: #27b010;
}
/* line 240, ../sass/win-big.scss */
.t .icon-ok {
  display: inline-block;
  background: url('../img/icons-sef9cd520f6.png') 0 -708px no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  top: 3px;
  position: relative;
}

/* line 249, ../sass/win-big.scss */
.t_pay tr:nth-child(4n+1) td {
  background: #e8edf7;
}
/* line 252, ../sass/win-big.scss */
.t_pay tr:nth-child(4n+3) td {
  background: #f6f8fc;
}
/* line 256, ../sass/win-big.scss */
.t_pay tr.active td {
  background: #d7e2b8;
}
/* line 259, ../sass/win-big.scss */
.t_pay tr.active .t__col2 {
  background: #d7e2b8 url(../img/bg-table.png) repeat-y;
}

/* line 264, ../sass/win-big.scss */
.btn-pen {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #cacaca));
  background-image: -webkit-linear-gradient(#dddddd, #cacaca);
  background-image: -moz-linear-gradient(#dddddd, #cacaca);
  background-image: -o-linear-gradient(#dddddd, #cacaca);
  background-image: linear-gradient(#dddddd, #cacaca);
  border: 1px solid #d2d2d2;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.73) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.15) inset;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/* line 273, ../sass/win-big.scss */
.icon-pencil_dark {
  background: url('../img/icons-sef9cd520f6.png') 0 -1325px no-repeat;
  width: 16px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

/* line 279, ../sass/win-big.scss */
.scroll {
  position: relative;
}
/* line 281, ../sass/win-big.scss */
.scroll .scrollbar {
  position: absolute;
  width: 12px;
  height: 330px;
  z-index: 30;
  top: 0;
  right: -2px;
}
/* line 289, ../sass/win-big.scss */
.scroll .track {
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, rgba(0, 0, 0, 0.42)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.42)));
  background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  height: 330px;
  width: 10px;
  position: relative;
}
/* line 296, ../sass/win-big.scss */
.scroll .thumb {
  background-color: #5c5a60;
  height: 20px;
  width: 6px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 3px;
  left: 2px;
}
/* line 307, ../sass/win-big.scss */
.scroll .viewport {
  height: 330px;
  overflow: hidden;
  position: relative;
}
/* line 312, ../sass/win-big.scss */
.scroll .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 8px;
}
/* line 319, ../sass/win-big.scss */
.scroll .disable {
  display: none;
}

/* line 321, ../sass/win-big.scss */
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* line 323, ../sass/win-big.scss */
.select {
  position: relative;
  background: #1f2026;
  border-radius: 4px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7) inset, 0 1px 0 0 #454754;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  height: 26px;
  width: 292px;
  color: #fff;
}
/* line 335, ../sass/win-big.scss */
.select .select__btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(4%, #424242), color-stop(20%, #3b3b3b), color-stop(48%, #2a2a2a), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -moz-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -o-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 4px 4px 0;
  height: 26px;
  width: 35px;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}
/* line 347, ../sass/win-big.scss */
.select .select__arr {
  background: url('../img/icons-sef9cd520f6.png') 0 -1732px no-repeat;
  width: 12px;
  height: 8px;
  display: block;
  margin: 11px 0 0 12px;
}
/* line 352, ../sass/win-big.scss */
.select .select__sel {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  opacity: 0;
  width: 292px;
}
/* line 360, ../sass/win-big.scss */
.select .select__text {
  padding: 3px 7px;
  font-size: 13px;
  color: #cecece;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  line-height: 20px;
  display: block;
}

/* line 371, ../sass/win-big.scss */
.selest_search .icon-search {
  top: 0;
}
/* line 372, ../sass/win-big.scss */
.selest_search .select__text {
  padding-left: 24px;
}

/* line 374, ../sass/win-big.scss */
.select_green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ab90e), color-stop(100%, #4b7f05));
  background-image: -webkit-linear-gradient(#8ab90e, #4b7f05);
  background-image: -moz-linear-gradient(#8ab90e, #4b7f05);
  background-image: -o-linear-gradient(#8ab90e, #4b7f05);
  background-image: linear-gradient(#8ab90e, #4b7f05);
}
/* line 376, ../sass/win-big.scss */
.select_green .select__text {
  color: #fff;
}

/* line 378, ../sass/win-big.scss */
.select_small {
  width: 99px;
  display: inline-block;
}
/* line 381, ../sass/win-big.scss */
.select_small .select__sel {
  width: 99px;
}

/* line 385, ../sass/win-big.scss */
.filter-list {
  margin: 18px -7px 0;
}

/* line 388, ../sass/win-big.scss */
.filter__item {
  background: #1c1c1c;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #1c1c1c;
  line-height: 20px;
  padding: 10px 0 10px 8px;
  font-size: 13px;
  color: #cecece;
  position: relative;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}
/* line 398, ../sass/win-big.scss */
.filter__item:nth-child(even) {
  background: #222;
}
/* line 401, ../sass/win-big.scss */
.filter__item .radiobtn {
  display: inline-block;
  margin-right: 10px;
}
/* line 405, ../sass/win-big.scss */
.filter__item .filter__arr {
  background: url('../img/icons-sef9cd520f6.png') 0 -2076px no-repeat;
  width: 6px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
}
/* line 410, ../sass/win-big.scss */
.filter__item .cancel-gray {
  top: 50%;
  margin-top: -7px;
  right: 12px;
}

/* line 417, ../sass/win-big.scss */
.array_left,
.array_right {
  position: absolute;
  top: 50%;
  margin-top: -19px;
}
/* line 421, ../sass/win-big.scss */
.array_left:hover,
.array_right:hover {
  opacity: 0.5;
}

/* line 423, ../sass/win-big.scss */
.array_left {
  background: url('../img/icons-sef9cd520f6.png') 0 -391px no-repeat;
  width: 50px;
  height: 50px;
  left: 21px;
}

/* line 427, ../sass/win-big.scss */
.array_right {
  background: url('../img/icons-sef9cd520f6.png') 0 -561px no-repeat;
  width: 50px;
  height: 50px;
  right: 21px;
}

/* line 431, ../sass/win-big.scss */
.new-doc-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -100px;
  background: url('../img/icons-sef9cd520f6.png') 0 -451px no-repeat;
  width: 200px;
  height: 71px;
}

/* line 439, ../sass/win-big.scss */
.new-doc {
  margin-top: 39px;
  color: #fff;
  font-size: 13px;
  border: 1px solid #00284a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a9cc7), color-stop(100%, #0a5ca1));
  background-image: -webkit-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: -moz-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: -o-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: linear-gradient(#4a9cc7, #0a5ca1);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12) inset, 0 15px 15px -15px rgba(255, 255, 255, 0.3) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 200px;
  margin: 39px 0 0;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
}
/* line 452, ../sass/win-big.scss */
.new-doc:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5ca1), color-stop(100%, #4a9cc7));
  background-image: -webkit-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: -moz-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: -o-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: linear-gradient(#0a5ca1, #4a9cc7);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12) inset, 0 -15px 15px -15px rgba(255, 255, 255, 0.3) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

/* line 458, ../sass/win-big.scss */
.filter-list_light {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
}

/* line 462, ../sass/win-big.scss */
.filter__item_light {
  background: #f5f8fc;
  border: 0;
  border-top: 1px solid #bbc6d3;
  color: #2c2c37;
  padding: 10px 0 9px 10px;
}
/* line 468, ../sass/win-big.scss */
.filter__item_light:nth-child(even) {
  background: #eaebf3;
}
/* line 471, ../sass/win-big.scss */
.filter__item_light:first-child {
  border-top: 0;
  border-radius: 5px 5px 0 0;
}
/* line 475, ../sass/win-big.scss */
.filter__item_light:last-child {
  border-radius: 0 0 5px 5px;
}
/* line 478, ../sass/win-big.scss */
.filter__item_light .cancel-gray {
  background: url('../img/icons-sef9cd520f6.png') 0 -1516px no-repeat;
  width: 15px;
  height: 15px;
  opacity: 1;
  right: 8px;
}
/* line 481, ../sass/win-big.scss */
.filter__item_light .cancel-gray:hover {
  opacity: 0.6;
}

/* line 485, ../sass/win-big.scss */
.icon-pencil_gray {
  background: url('../img/icons-sef9cd520f6.png') 0 -1442px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 492, ../sass/win-big.scss */
.icon-pencil_blue {
  background: url('../img/icons-sef9cd520f6.png') 0 -1466px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 499, ../sass/win-big.scss */
.datepicker {
  float: left;
  margin: 7px 15px 0 0;
  position: relative;
}

/* line 504, ../sass/win-big.scss */
.date-input {
  width: 184px;
  position: relative;
}
/* line 507, ../sass/win-big.scss */
.date-input .date-input__text {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #cecece;
}
/* line 512, ../sass/win-big.scss */
.date-input .date-input__dev {
  font-size: 13px;
  color: #f2ba06;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 518, ../sass/win-big.scss */
.date__btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(4%, #424242), color-stop(20%, #3b3b3b), color-stop(48%, #2a2a2a), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -moz-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -o-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 4px 4px 0;
  height: 28px;
  width: 37px;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}

/* line 530, ../sass/win-big.scss */
.icon-points {
  background: url('../img/icons-sef9cd520f6.png') 0 -2230px no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* line 538, ../sass/win-big.scss */
.datepicker__drop {
  border-radius: 5px;
  background: #29262f;
  border: 1px solid #000;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  padding: 4px;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  left: 70px;
  width: 210px;
  display: none;
}
/* line 550, ../sass/win-big.scss */
.datepicker__drop:before {
  content: '';
  position: absolute;
  background: url('../img/icons-sef9cd520f6.png') 0 -1379px no-repeat;
  width: 20px;
  height: 21px;
  top: -20px;
  left: 99px;
}

/* line 558, ../sass/win-big.scss */
.datepicker__header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62646f), color-stop(100%, #42444e));
  background-image: -webkit-linear-gradient(#62646f, #42444e);
  background-image: -moz-linear-gradient(#62646f, #42444e);
  background-image: -o-linear-gradient(#62646f, #42444e);
  background-image: linear-gradient(#62646f, #42444e);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(47, 77, 0, 0.09) inset;
  position: relative;
  border-radius: 3px 3px 0 0;
  padding: 7px 0;
  text-align: center;
}
/* line 565, ../sass/win-big.scss */
.datepicker__header .date-prev, .datepicker__header .date-next {
  top: 50%;
  position: absolute;
  margin-top: -6px;
}
/* line 570, ../sass/win-big.scss */
.datepicker__header .date-prev {
  background: url('../img/icons-sef9cd520f6.png') 0 -1978px no-repeat;
  width: 6px;
  height: 11px;
  left: 8px;
}
/* line 574, ../sass/win-big.scss */
.datepicker__header .date-next {
  background: url('../img/icons-sef9cd520f6.png') 0 -1933px no-repeat;
  width: 6px;
  height: 11px;
  right: 8px;
}
/* line 578, ../sass/win-big.scss */
.datepicker__header .date-m, .datepicker__header .date-y {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 9px;
  border-radius: 9px;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  margin: 0 13px;
  cursor: pointer;
}
/* line 591, ../sass/win-big.scss */
.datepicker__header .date-m.active, .datepicker__header .date-y.active {
  border: 1px solid rgba(0, 0, 0, 0.11);
  background: #3d3d47;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 598, ../sass/win-big.scss */
.date-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 169px;
}
/* line 603, ../sass/win-big.scss */
.date-table th {
  background: #e3e3e3;
  color: #646464;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
  height: 20px;
}
/* line 611, ../sass/win-big.scss */
.date-table td {
  background: #fff;
  height: 29px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  text-align: center;
  color: #454545;
  font-size: 12px;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  width: 29px;
}
/* line 622, ../sass/win-big.scss */
.date-table .today {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  color: #000;
}
/* line 626, ../sass/win-big.scss */
.date-table .chosen {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3db86), color-stop(100%, #a6c082));
  background-image: -webkit-linear-gradient(#c3db86, #a6c082);
  background-image: -moz-linear-gradient(#c3db86, #a6c082);
  background-image: -o-linear-gradient(#c3db86, #a6c082);
  background-image: linear-gradient(#c3db86, #a6c082);
}
/* line 629, ../sass/win-big.scss */
.date-table .chosen2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67b9e8), color-stop(100%, #1a7fb8));
  background-image: -webkit-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -moz-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -o-linear-gradient(#67b9e8, #1a7fb8);
  background-image: linear-gradient(#67b9e8, #1a7fb8);
  box-shadow: 0 0 4px 1px rgba(0, 70, 110, 0.43) inset;
  color: #fff;
}
/* line 635, ../sass/win-big.scss */
.date-table tr:last-child td {
  border-bottom: 0;
}
/* line 638, ../sass/win-big.scss */
.date-table tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
/* line 641, ../sass/win-big.scss */
.date-table tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
/* line 645, ../sass/win-big.scss */
.date-table td:first-child {
  border-left: 0;
}

/* line 650, ../sass/win-big.scss */
.date-table_m td {
  width: 69px;
  height: 41px;
}

/* line 655, ../sass/win-big.scss */
.datepicker__footer {
  padding: 5px 0 0;
  overflow: hidden;
}
/* line 658, ../sass/win-big.scss */
.datepicker__footer .btn {
  height: 28px;
  border-radius: 3px;
}
/* line 662, ../sass/win-big.scss */
.datepicker__footer .btn_75 {
  margin-right: 4px;
}
/* line 663, ../sass/win-big.scss */
.datepicker__footer .btn_45 {
  float: right;
}

/* line 666, ../sass/win-big.scss */
.input_half {
  width: 129px;
  display: inline-block;
}

/* line 671, ../sass/win-big.scss */
.input_full {
  width: 277px;
}

/* line 674, ../sass/win-big.scss */
.input_180 {
  width: 183px;
}

/* line 677, ../sass/win-big.scss */
.form-row {
  margin-bottom: 12px;
  line-height: 27px;
}

/* line 681, ../sass/win-big.scss */
.form-row_radio {
  margin-top: 17px;
}

/* line 684, ../sass/win-big.scss */
.label {
  font-size: 13px;
  color: #cecece;
  margin: 0 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
}

/* line 691, ../sass/win-big.scss */
.label_bold {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 694, ../sass/win-big.scss */
.help-link {
  font-size: 13px;
  color: #3e96cc;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  text-decoration: none;
  margin-left: 6px;
}
/* line 700, ../sass/win-big.scss */
.help-link:hover {
  text-decoration: underline;
}

/* line 705, ../sass/win-big.scss */
.form-note {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #8b8c92;
  line-height: 1.6;
  margin-bottom: 8px;
}
/* line 711, ../sass/win-big.scss */
.form-note a {
  color: #3e96cc;
  text-decoration: none;
}
/* line 714, ../sass/win-big.scss */
.form-note a:hover {
  text-decoration: underline;
}

/* line 720, ../sass/win-big.scss */
.pay {
  background: #fff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.38);
  border-radius: 5px;
  padding-bottom: 10px;
}

/* line 726, ../sass/win-big.scss */
.pay__header {
  overflow: hidden;
  border-bottom: 1px solid #d2d2d2;
}
/* line 729, ../sass/win-big.scss */
.pay__header dl {
  float: right;
}
/* line 733, ../sass/win-big.scss */
.pay__header dt, .pay__header .total {
  float: left;
  color: #c1c1c1;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  padding: 16px 3px 0 0;
  width: 87px;
  text-align: right;
}
/* line 743, ../sass/win-big.scss */
.pay__header .total {
  width: auto;
  margin-left: 12px;
}
/* line 747, ../sass/win-big.scss */
.pay__header dd {
  float: left;
  font-size: 28px;
  font-weight: bold;
  border-right: 1px solid #ced0d3;
  box-shadow: 1px 0 0 #ebebf3;
  padding: 11px 0 0 5px;
  width: 100px;
  height: 40px;
  color: #464646;
}
/* line 757, ../sass/win-big.scss */
.pay__header dd:last-child {
  border: 0;
  box-shadow: none;
}
/* line 762, ../sass/win-big.scss */
.pay__header .mark-invoced {
  color: #df5353;
}
/* line 765, ../sass/win-big.scss */
.pay__header .mark-paid {
  color: #95ae37;
}

/* line 769, ../sass/win-big.scss */
.pay__name {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #a7a7a7));
  background-image: -webkit-linear-gradient(#dddddd, #a7a7a7);
  background-image: -moz-linear-gradient(#dddddd, #a7a7a7);
  background-image: -o-linear-gradient(#dddddd, #a7a7a7);
  background-image: linear-gradient(#dddddd, #a7a7a7);
  height: 34px;
  line-height: 34px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #929292;
  padding: 0 13px;
  position: relative;
}
/* line 777, ../sass/win-big.scss */
.pay__name h3 {
  font-size: 16px;
  color: #464646;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.57);
}
/* line 782, ../sass/win-big.scss */
.pay__name .btn-print {
  background: url('../img/icons-sef9cd520f6.png') 0 -1220px no-repeat;
  width: 16px;
  height: 17px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 54px;
}
/* line 789, ../sass/win-big.scss */
.pay__name .pay__name-arr {
  background: url('../img/icons-sef9cd520f6.png') 0 -1144px no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 12px;
  cursor: pointer;
}
/* line 797, ../sass/win-big.scss */
.pay__name .pay__name-arr_b {
  background: url('../img/icons-sef9cd520f6.png') 0 -1116px no-repeat;
  width: 18px;
  height: 18px;
}
