/* line 2, ../sass/win-big.scss */
.win_big {
  width: 1232px;
}
/* line 4, ../sass/win-big.scss */
.win_big .win__content {
  background: url(../img/bg-win2.png);
  padding-top: 0;
  height: 330px;
}
/* line 9, ../sass/win-big.scss */
.win_big .win__content_larger {
  height: 394px;
}
/* line 11, ../sass/win-big.scss */
.win_big .win__content_larger .win__cols .win__col3, .win_big .win__content_larger .scroll .scrollbar, .win_big .win__content_larger .scroll .track, .win_big .win__content_larger .scroll .viewport {
  height: 394px;
}
/* line 14, ../sass/win-big.scss */
.win_big .win__content_larger .win__cols .win__col1 {
  height: 342px;
}
/* line 18, ../sass/win-big.scss */
.win_big .tabs {
  padding-top: 0;
}
/* line 21, ../sass/win-big.scss */
.win_big .tabs .tabs__nav .active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.35)), color-stop(100%, rgba(0, 0, 0, 0.17)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.17));
}
/* line 25, ../sass/win-big.scss */
.win_big .tabs .tabs__contant {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.17)), color-stop(25%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.17), transparent 25%, transparent);
  padding: 10px 18px 0 9px;
}
/* line 29, ../sass/win-big.scss */
.win_big .tabs .win__header {
  padding-right: 17px;
}

/* line 36, ../sass/win-big.scss */
.win__cols {
  overflow: hidden;
  width: 100%;
}
/* line 39, ../sass/win-big.scss */
.win__cols .win__col3 {
  float: left;
  width: 917px;
  height: 330px;
}
/* line 44, ../sass/win-big.scss */
.win__cols .win__col1 {
  float: right;
  width: 294px;
  border-left: 5px solid #413d46;
  background: url(../img/bg-win.png);
  height: 278px;
  padding: 12px 7px 40px;
  position: relative;
}
/* line 52, ../sass/win-big.scss */
.win__cols .win__col1 .win__dev {
  width: 294px;
  margin: 11px auto;
}
/* line 56, ../sass/win-big.scss */
.win__cols .win__col1 .win__dev2 {
  margin: 13px auto 5px;
}
/* line 58, ../sass/win-big.scss */
.win__cols .scroll .overview {
  width: 917px;
}
/* line 59, ../sass/win-big.scss */
.win__cols .row-btn {
  margin: 0 -7px 10px;
  text-align: right;
}
/* line 62, ../sass/win-big.scss */
.win__cols .row-btn .btn {
  margin: 0 8px;
}
/* line 64, ../sass/win-big.scss */
.win__cols .row-btn .btn:nth-child(2) {
  margin-left: 1px;
}
/* line 67, ../sass/win-big.scss */
.win__cols .row-btn_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  margin: 0 0 10px;
}

/* line 77, ../sass/win-big.scss */
.win__header {
  height: 45px;
  padding: 4px 9px 0;
}
/* line 80, ../sass/win-big.scss */
.win__header .form-search {
  float: left;
  padding: 0;
  margin: 7px 15px 0 0;
}
/* line 85, ../sass/win-big.scss */
.win__header .tabs__nav {
  float: left;
  padding: 0;
  margin-right: 10px;
}
/* line 90, ../sass/win-big.scss */
.win__header .dev-vert {
  float: left;
}
/* line 91, ../sass/win-big.scss */
.win__header .r-btn-gray {
  float: left;
}

/* line 95, ../sass/win-big.scss */
.right-block {
  float: right;
  padding-top: 3px;
}

/* line 101, ../sass/win-big.scss */
.dev-vert {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  height: 36px;
  width: 0;
  margin: 0 11px;
}

/* line 109, ../sass/win-big.scss */
.scroll {
  position: relative;
}
/* line 111, ../sass/win-big.scss */
.scroll .scrollbar {
  position: absolute;
  width: 12px;
  height: 330px;
  z-index: 30;
  top: 0;
  right: -2px;
}
/* line 119, ../sass/win-big.scss */
.scroll .track {
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, rgba(0, 0, 0, 0.42)), color-stop(50%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.42)));
  background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.42) 100%);
  height: 330px;
  width: 10px;
  position: relative;
}
/* line 126, ../sass/win-big.scss */
.scroll .thumb {
  background-color: #5c5a60;
  height: 20px;
  width: 6px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  border-radius: 3px;
  left: 2px;
}
/* line 137, ../sass/win-big.scss */
.scroll .viewport {
  height: 330px;
  overflow: hidden;
  position: relative;
}
/* line 142, ../sass/win-big.scss */
.scroll .overview {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 8px;
}
/* line 149, ../sass/win-big.scss */
.scroll .disable {
  display: none;
}

/* line 151, ../sass/win-big.scss */
.noSelect {
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* line 153, ../sass/win-big.scss */
.select {
  position: relative;
  background: #1f2026;
  border-radius: 4px;
  border: 1px solid #000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7) inset, 0 1px 0 0 #454754;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  height: 26px;
  width: 292px;
  color: #fff;
}
/* line 165, ../sass/win-big.scss */
.select .select__btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(4%, #424242), color-stop(20%, #3b3b3b), color-stop(48%, #2a2a2a), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -moz-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -o-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 4px 4px 0;
  height: 26px;
  width: 35px;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}
/* line 177, ../sass/win-big.scss */
.select .select__arr {
  background: url('../img/icons-s462c527d94.png') 0 -1925px no-repeat;
  width: 12px;
  height: 8px;
  display: block;
  margin: 11px 0 0 12px;
}
/* line 182, ../sass/win-big.scss */
.select .select__sel {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  opacity: 0;
  width: 292px;
}
/* line 190, ../sass/win-big.scss */
.select .select__text {
  padding: 3px 7px;
  font-size: 13px;
  color: #cecece;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  line-height: 20px;
  display: block;
}

/* line 201, ../sass/win-big.scss */
.selest_search .icon-search {
  top: 0;
}
/* line 202, ../sass/win-big.scss */
.selest_search .select__text {
  padding-left: 24px;
}

/* line 204, ../sass/win-big.scss */
.select_green {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8ab90e), color-stop(100%, #4b7f05));
  background-image: -webkit-linear-gradient(#8ab90e, #4b7f05);
  background-image: -moz-linear-gradient(#8ab90e, #4b7f05);
  background-image: -o-linear-gradient(#8ab90e, #4b7f05);
  background-image: linear-gradient(#8ab90e, #4b7f05);
}
/* line 206, ../sass/win-big.scss */
.select_green .select__text {
  color: #fff;
}

/* line 208, ../sass/win-big.scss */
.select_small {
  width: 99px;
  display: inline-block;
}
/* line 211, ../sass/win-big.scss */
.select_small .select__sel {
  width: 99px;
}

/* line 215, ../sass/win-big.scss */
.filter-list {
  margin: 18px -7px 0;
}

/* line 218, ../sass/win-big.scss */
.filter__item {
  background: #1c1c1c;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #1c1c1c;
  line-height: 20px;
  padding: 10px 0 10px 8px;
  font-size: 13px;
  color: #cecece;
  position: relative;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}
/* line 228, ../sass/win-big.scss */
.filter__item:nth-child(even) {
  background: #222;
}
/* line 231, ../sass/win-big.scss */
.filter__item .radiobtn {
  display: inline-block;
  margin-right: 10px;
}
/* line 235, ../sass/win-big.scss */
.filter__item .filter__arr {
  background: url('../img/icons-s462c527d94.png') 0 -2373px no-repeat;
  width: 6px;
  height: 10px;
  display: inline-block;
  margin: 0 6px;
}
/* line 240, ../sass/win-big.scss */
.filter__item .cancel-gray {
  top: 50%;
  margin-top: -7px;
  right: 12px;
}

/* line 247, ../sass/win-big.scss */
.array_left,
.array_right {
  position: absolute;
  top: 50%;
  margin-top: -19px;
}
/* line 251, ../sass/win-big.scss */
.array_left:hover,
.array_right:hover {
  opacity: 0.5;
}

/* line 253, ../sass/win-big.scss */
.array_left {
  background: url('../img/icons-s462c527d94.png') 0 -465px no-repeat;
  width: 50px;
  height: 50px;
  left: 21px;
}

/* line 257, ../sass/win-big.scss */
.array_right {
  background: url('../img/icons-s462c527d94.png') 0 -635px no-repeat;
  width: 50px;
  height: 50px;
  right: 21px;
}

/* line 261, ../sass/win-big.scss */
.new-doc-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -35px 0 0 -100px;
  background: url('../img/icons-s462c527d94.png') 0 -525px no-repeat;
  width: 200px;
  height: 71px;
}

/* line 269, ../sass/win-big.scss */
.new-doc {
  margin-top: 39px;
  color: #fff;
  font-size: 13px;
  border: 1px solid #00284a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4a9cc7), color-stop(100%, #0a5ca1));
  background-image: -webkit-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: -moz-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: -o-linear-gradient(#4a9cc7, #0a5ca1);
  background-image: linear-gradient(#4a9cc7, #0a5ca1);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12) inset, 0 15px 15px -15px rgba(255, 255, 255, 0.3) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 200px;
  margin: 39px 0 0;
  font-weight: bold;
  height: 40px;
  cursor: pointer;
}
/* line 282, ../sass/win-big.scss */
.new-doc:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0a5ca1), color-stop(100%, #4a9cc7));
  background-image: -webkit-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: -moz-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: -o-linear-gradient(#0a5ca1, #4a9cc7);
  background-image: linear-gradient(#0a5ca1, #4a9cc7);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.12) inset, 0 -15px 15px -15px rgba(255, 255, 255, 0.3) inset, 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

/* line 288, ../sass/win-big.scss */
.filter-list_light {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
}

/* line 292, ../sass/win-big.scss */
.filter__item_light {
  background: #f5f8fc;
  border: 0;
  border-top: 1px solid #bbc6d3;
  color: #2c2c37;
  padding: 10px 0 9px 10px;
}
/* line 298, ../sass/win-big.scss */
.filter__item_light:nth-child(even) {
  background: #eaebf3;
}
/* line 301, ../sass/win-big.scss */
.filter__item_light:first-child {
  border-top: 0;
  border-radius: 5px 5px 0 0;
}
/* line 305, ../sass/win-big.scss */
.filter__item_light:last-child {
  border-radius: 0 0 5px 5px;
}
/* line 308, ../sass/win-big.scss */
.filter__item_light .cancel-gray {
  background: url('../img/icons-s462c527d94.png') 0 -1683px no-repeat;
  width: 15px;
  height: 15px;
  opacity: 1;
  right: 8px;
}
/* line 311, ../sass/win-big.scss */
.filter__item_light .cancel-gray:hover {
  opacity: 0.6;
}

/* line 315, ../sass/win-big.scss */
.icon-pencil_gray {
  background: url('../img/icons-s462c527d94.png') 0 -1565px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 322, ../sass/win-big.scss */
.icon-pencil_blue {
  background: url('../img/icons-s462c527d94.png') 0 -1611px no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

/* line 329, ../sass/win-big.scss */
.datepicker {
  float: left;
  margin: 7px 15px 0 0;
  position: relative;
}

/* line 334, ../sass/win-big.scss */
.date-input {
  width: 184px;
  position: relative;
}
/* line 337, ../sass/win-big.scss */
.date-input .date-input__text {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #cecece;
}
/* line 342, ../sass/win-big.scss */
.date-input .date-input__dev {
  font-size: 13px;
  color: #f2ba06;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 348, ../sass/win-big.scss */
.date__btn {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(4%, #424242), color-stop(20%, #3b3b3b), color-stop(48%, #2a2a2a), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -moz-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: -o-linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  background-image: linear-gradient(#333333 0%, #424242 4%, #3b3b3b 20%, #2a2a2a 48%, #212121 100%);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 0 4px 4px 0;
  height: 28px;
  width: 37px;
  position: absolute;
  top: -1px;
  right: -1px;
  cursor: pointer;
}

/* line 360, ../sass/win-big.scss */
.icon-points {
  background: url('../img/icons-s462c527d94.png') 0 -2527px no-repeat;
  width: 13px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

/* line 368, ../sass/win-big.scss */
.datepicker__drop {
  border-radius: 5px;
  background: #29262f;
  border: 1px solid #000;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset;
  padding: 4px;
  position: absolute;
  top: 100%;
  margin-top: 4px;
  left: 70px;
  width: 210px;
  display: none;
}
/* line 380, ../sass/win-big.scss */
.datepicker__drop:before {
  content: '';
  position: absolute;
  background: url('../img/icons-s462c527d94.png') 0 -1502px no-repeat;
  width: 20px;
  height: 21px;
  top: -20px;
  left: 99px;
}

/* line 388, ../sass/win-big.scss */
.datepicker__header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #62646f), color-stop(100%, #42444e));
  background-image: -webkit-linear-gradient(#62646f, #42444e);
  background-image: -moz-linear-gradient(#62646f, #42444e);
  background-image: -o-linear-gradient(#62646f, #42444e);
  background-image: linear-gradient(#62646f, #42444e);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(47, 77, 0, 0.09) inset;
  position: relative;
  border-radius: 3px 3px 0 0;
  padding: 6px 0 7px;
  text-align: center;
}
/* line 395, ../sass/win-big.scss */
.datepicker__header .date-prev, .datepicker__header .date-next {
  top: 50%;
  position: absolute;
  margin-top: -6px;
  cursor: pointer;
}
/* line 401, ../sass/win-big.scss */
.datepicker__header .date-prev {
  background: url('../img/icons-s462c527d94.png') 0 -2249px no-repeat;
  width: 6px;
  height: 11px;
  left: 8px;
}
/* line 405, ../sass/win-big.scss */
.datepicker__header .date-next {
  background: url('../img/icons-s462c527d94.png') 0 -2204px no-repeat;
  width: 6px;
  height: 11px;
  right: 8px;
}
/* line 409, ../sass/win-big.scss */
.datepicker__header .date-m, .datepicker__header .date-y {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0 9px;
  border-radius: 9px;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  margin: 0 13px;
  cursor: pointer;
}
/* line 422, ../sass/win-big.scss */
.datepicker__header .date-m.active, .datepicker__header .date-y.active {
  border: 1px solid rgba(0, 0, 0, 0.11);
  background: #3d3d47;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 429, ../sass/win-big.scss */
.date-table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  height: 169px;
}
/* line 434, ../sass/win-big.scss */
.date-table th {
  background: #e3e3e3;
  color: #646464;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 9px;
  font-weight: normal;
  height: 20px;
}
/* line 442, ../sass/win-big.scss */
.date-table td {
  background: #fff;
  height: 29px;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  text-align: center;
  color: #454545;
  font-size: 12px;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  width: 29px;
}
/* line 453, ../sass/win-big.scss */
.date-table .today {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e0e0e0), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  background-image: linear-gradient(#e0e0e0, rgba(255, 255, 255, 0));
  color: #000;
}
/* line 457, ../sass/win-big.scss */
.date-table .chosen {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3db86), color-stop(100%, #a6c082));
  background-image: -webkit-linear-gradient(#c3db86, #a6c082);
  background-image: -moz-linear-gradient(#c3db86, #a6c082);
  background-image: -o-linear-gradient(#c3db86, #a6c082);
  background-image: linear-gradient(#c3db86, #a6c082);
}
/* line 460, ../sass/win-big.scss */
.date-table .chosen2 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #67b9e8), color-stop(100%, #1a7fb8));
  background-image: -webkit-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -moz-linear-gradient(#67b9e8, #1a7fb8);
  background-image: -o-linear-gradient(#67b9e8, #1a7fb8);
  background-image: linear-gradient(#67b9e8, #1a7fb8);
  box-shadow: 0 0 4px 1px rgba(0, 70, 110, 0.4) inset;
  color: #fff;
}
/* line 465, ../sass/win-big.scss */
.date-table .inactive {
  color: #c8c8c8;
}
/* line 469, ../sass/win-big.scss */
.date-table tr:last-child td {
  border-bottom: 0;
}
/* line 472, ../sass/win-big.scss */
.date-table tr:last-child td:first-child {
  border-radius: 0 0 0 3px;
}
/* line 475, ../sass/win-big.scss */
.date-table tr:last-child td:last-child {
  border-radius: 0 0 3px 0;
}
/* line 479, ../sass/win-big.scss */
.date-table td:first-child {
  border-left: 0;
}

/* line 484, ../sass/win-big.scss */
.date-table_m td {
  width: 69px;
  height: 41px;
}
/* line 488, ../sass/win-big.scss */
.date-table_m tr:first-child td {
  height: 42px;
}
/* line 489, ../sass/win-big.scss */
.date-table_m tr:last-child td {
  height: 42px;
}

/* line 491, ../sass/win-big.scss */
.datepicker__footer {
  padding: 5px 0 0;
  overflow: hidden;
}
/* line 494, ../sass/win-big.scss */
.datepicker__footer .btn {
  height: 28px;
  border-radius: 3px;
}
/* line 498, ../sass/win-big.scss */
.datepicker__footer .btn_75 {
  margin-right: 4px;
}
/* line 499, ../sass/win-big.scss */
.datepicker__footer .btn_45 {
  float: right;
}

/* line 502, ../sass/win-big.scss */
.input_half {
  width: 129px;
  display: inline-block;
}

/* line 507, ../sass/win-big.scss */
.input_full {
  width: 277px;
}

/* line 510, ../sass/win-big.scss */
.input_180 {
  width: 183px;
}

/* line 513, ../sass/win-big.scss */
.form-row {
  margin-bottom: 12px;
  line-height: 27px;
}

/* line 517, ../sass/win-big.scss */
.form-row_radio {
  margin-top: 17px;
}

/* line 520, ../sass/win-big.scss */
.label {
  font-size: 13px;
  color: #cecece;
  margin: 0 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
}

/* line 527, ../sass/win-big.scss */
.label_bold {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}

/* line 530, ../sass/win-big.scss */
.help-link {
  font-size: 13px;
  color: #3e96cc;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  text-decoration: none;
  margin-left: 6px;
}
/* line 536, ../sass/win-big.scss */
.help-link:hover {
  text-decoration: underline;
}

/* line 541, ../sass/win-big.scss */
.form-note {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #8b8c92;
  line-height: 1.6;
  margin-bottom: 8px;
}
/* line 547, ../sass/win-big.scss */
.form-note a {
  color: #3e96cc;
  text-decoration: none;
}
/* line 550, ../sass/win-big.scss */
.form-note a:hover {
  text-decoration: underline;
}
