/* BACKGROUND SIZE */
/* ROTATE*/
/* TRANSITION */
/* line 2, ../sass/win.scss */
.win {
  position: absolute;
  border-radius: 6px;
  width: 340px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  left: 50%;
  top: 100px;
  margin-left: -170px;
}
/* line 10, ../sass/win.scss */
.win .win__header {
  background: #414141;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414141), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#414141, #212121);
  background-image: -moz-linear-gradient(#414141, #212121);
  background-image: -o-linear-gradient(#414141, #212121);
  background-image: linear-gradient(#414141, #212121);
  border: 1px solid #000;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.06) inset;
  text-align: center;
  line-height: 30px;
  height: 30px;
  position: relative;
}
/* line 20, ../sass/win.scss */
.win .win__header h1 {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #cecece;
  font-size: 13px;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  padding-left: 9px;
}
/* line 28, ../sass/win.scss */
.win .win__close {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -575px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 4px;
  cursor: pointer;
}
/* line 35, ../sass/win.scss */
.win .win__content {
  background: url(../img/bg-win.png);
  border-radius: 0 0 6px 6px;
  border: 1px solid #000;
  border-top: 0;
}
/* line 41, ../sass/win.scss */
.win .win__box {
  padding-top: 9px;
}
/* line 44, ../sass/win.scss */
.win .win__text-box {
  padding: 13px 0 5px;
}
/* line 47, ../sass/win.scss */
.win .win__dev {
  width: 322px;
  margin: 0 auto;
  height: 0;
  border-top: 1px solid #000100;
  border-bottom: 1px solid #4c4b53;
}
/* line 54, ../sass/win.scss */
.win .win__footer {
  background: #222;
  border-top: 1px solid #000;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 0 0 #414141 inset;
  text-align: center;
  padding: 14px 0;
}
/* line 62, ../sass/win.scss */
.win .win__footer-tr {
  padding: 14px 10px;
  overflow: hidden;
}
/* line 65, ../sass/win.scss */
.win .win__footer-tr .btn {
  float: right;
  margin-left: 16px;
}

/* line 71, ../sass/win.scss */
.h2 {
  color: #cecece;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  font-weight: bold;
  margin: 7px 23px 10px;
}

/* line 78, ../sass/win.scss */
.chat-title {
  font-size: 18px;
  color: #e3ad12;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  margin: 0 23px 15px;
}

/* line 84, ../sass/win.scss */
.h2 + .chat-title {
  margin-top: -6px;
}

/* line 86, ../sass/win.scss */
.user-list {
  text-align: left;
}

/* line 87, ../sass/win.scss */
.user-item {
  overflow: hidden;
  padding: 6px 0 0 17px;
  background: #1c1c1c;
  border-top: 1px solid #29262f;
  border-bottom: 1px solid #1c1c1c;
  height: 52px;
  position: relative;
}
/* line 95, ../sass/win.scss */
.user-item:nth-child(even) {
  background: #252525;
  border-top-color: #3a3a3a;
  border-bottom-color: #0f0f0f;
}
/* line 100, ../sass/win.scss */
.user-item:first-child {
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.7) inset;
  border-top-color: #000;
}
/* line 104, ../sass/win.scss */
.user-item .userpic {
  margin: 0;
}
/* line 106, ../sass/win.scss */
.user-item .userpic a {
  padding: 0;
}
/* line 108, ../sass/win.scss */
.user-item .user__name {
  font-size: 12px;
  color: #cecece;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  float: left;
  margin: 1px 10px 0 11px;
  width: 90px;
  line-height: 16px;
}
/* line 117, ../sass/win.scss */
.user-item .user__name span {
  display: block;
}
/* line 121, ../sass/win.scss */
.user-item .user__lang {
  font-size: 11px;
  color: #8b8c92;
  font-family: Helvetica, Arial, sans-serif;
  float: left;
  margin-left: 14px;
  width: 60px;
  font-weight: bold;
}
/* line 130, ../sass/win.scss */
.user-item .user__time {
  color: #eeb411;
  font-size: 11px;
  font-family: Helvetica, Arial, sans-serif;
  float: left;
  margin-left: 7px;
  font-weight: bold;
}
/* line 138, ../sass/win.scss */
.user-item .user__time_gr {
  color: #a7cc14;
}
/* line 139, ../sass/win.scss */
.user-item .user__time_rd {
  color: #e10030;
}
/* line 140, ../sass/win.scss */
.user-item .user__mic {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -177px no-repeat;
  width: 30px;
  height: 30px;
  float: right;
  margin: 8px 8px 0 0;
}
/* line 145, ../sass/win.scss */
.user-item .user__block {
  float: left;
}
/* line 147, ../sass/win.scss */
.user-item .user__block * {
  float: none;
  margin-left: 0;
  margin-right: 0;
}
/* line 153, ../sass/win.scss */
.user-item .user__link {
  color: #3686b8;
  font-size: 11px;
  font-weight: bold;
}
/* line 157, ../sass/win.scss */
.user-item .user__link a {
  text-decoration: none;
  color: #3686b8;
}
/* line 160, ../sass/win.scss */
.user-item .user__link a:hover {
  text-decoration: underline;
}
/* line 163, ../sass/win.scss */
.user-item .user__phone-pic {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -217px no-repeat;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 3px;
}
/* line 168, ../sass/win.scss */
.user-item .user__mic-pic {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -271px no-repeat;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 3px;
}
/* line 173, ../sass/win.scss */
.user-item .user__radio {
  float: left;
  margin: 15px 19px 0 4px;
}

/* line 179, ../sass/win.scss */
.call-box {
  background: rgba(0, 0, 0, 0.44);
  position: absolute;
  top: 0;
  left: 0;
  height: 48px;
  width: 287px;
  padding: 10px 19px 0 24px;
}
/* line 187, ../sass/win.scss */
.call-box .call-box_btn {
  float: right;
}
/* line 190, ../sass/win.scss */
.call-box .r-btn_inf {
  float: left;
}

/* line 197, ../sass/win.scss */
.user-item_blur * {
  color: transparent  !important;
}
/* line 198, ../sass/win.scss */
.user-item_blur .user__name {
  text-shadow: 0 0 5px #cecece !important;
}
/* line 199, ../sass/win.scss */
.user-item_blur .user__lang {
  text-shadow: 0 0 5px #8b8c92 !important;
}
/* line 200, ../sass/win.scss */
.user-item_blur .user__time {
  text-shadow: 0 0 5px #eeb411 !important;
}
/* line 201, ../sass/win.scss */
.user-item_blur .user__time_gr {
  text-shadow: 0 0 5px #a7cc14 !important;
}
/* line 202, ../sass/win.scss */
.user-item_blur .user__time_rd {
  text-shadow: 0 0 5px #e10030 !important;
}

/* line 205, ../sass/win.scss */
.user-item_big {
  padding: 9px 11px 0 9px;
  border: 0;
  background: none;
  box-shadow: none;
  height: auto;
  margin-bottom: 10px;
}
/* line 212, ../sass/win.scss */
.user-item_big .user__name {
  font-size: 18px;
  line-height: 22px;
  margin: 3px 0 0 9px;
}
/* line 217, ../sass/win.scss */
.user-item_big .user__block {
  float: right;
  text-align: right;
  line-height: 18px;
}
/* line 221, ../sass/win.scss */
.user-item_big .user__block * {
  margin-bottom: 3px;
}
/* line 223, ../sass/win.scss */
.user-item_big .user__add {
  width: 261px;
  clear: both;
  padding: 14px 0 0 57px;
}
/* line 228, ../sass/win.scss */
.user-item_big .user__link {
  margin: 0 0 7px;
}

/* line 231, ../sass/win.scss */
.user-list-header {
  height: 27px;
  line-height: 27px;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #424242;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #424242), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#424242, #212121);
  background-image: -moz-linear-gradient(#424242, #212121);
  background-image: -o-linear-gradient(#424242, #212121);
  background-image: linear-gradient(#424242, #212121);
  box-shadow: 0 1px 0 0 #505050 inset;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.09);
  position: relative;
}
/* line 241, ../sass/win.scss */
.user-list-header li {
  float: left;
  list-style: none;
  color: #919192;
  font-weight: bold;
  font-size: 11px;
}
/* line 248, ../sass/win.scss */
.user-list-header .user__name {
  padding-left: 81px;
  width: 97px;
}
/* line 252, ../sass/win.scss */
.user-list-header .user__lang {
  background: #4c4c4c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c4c4c), color-stop(100%, #2c2c2c));
  background-image: -webkit-linear-gradient(#4c4c4c, #2c2c2c);
  background-image: -moz-linear-gradient(#4c4c4c, #2c2c2c);
  background-image: -o-linear-gradient(#4c4c4c, #2c2c2c);
  background-image: linear-gradient(#4c4c4c, #2c2c2c);
  box-shadow: 0 1px 0 0 #595959 inset, 1px 0 0 0 rgba(0, 0, 0, 0.2), -1px 0 0 0 rgba(0, 0, 0, 0.2);
  width: 93px;
  text-align: center;
  cursor: pointer;
}
/* line 259, ../sass/win.scss */
.user-list-header .user__lang .sort-arr {
  margin: 0 -11px 0 3px;
}
/* line 261, ../sass/win.scss */
.user-list-header .user__time {
  margin-left: 7px;
}

/* line 269, ../sass/win.scss */
.user-name-lang .user-list-header .user__name {
  padding-left: 116px;
  width: 119px;
}
/* line 275, ../sass/win.scss */
.user-name-lang .user-item .user__lang {
  margin-left: 54px;
}

/* line 282, ../sass/win.scss */
.sort-arr {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -1240px no-repeat;
  width: 8px;
  height: 6px;
  display: inline-block;
  position: relative;
}

/* line 287, ../sass/win.scss */
.text-note {
  background: #eaebf3;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  color: #686a78;
  font-size: 13px;
  line-height: 19px;
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  margin: 0 8px 11px 17px;
  border-radius: 5px;
  position: relative;
  padding: 11px 9px;
  min-height: 57px;
}
/* line 299, ../sass/win.scss */
.text-note:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #eaebf3;
  position: absolute;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  top: 19px;
  left: -5px;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.35);
}
/* line 310, ../sass/win.scss */
.text-note textarea {
  border: 0;
  padding: 0;
  font-size: 13px;
  line-height: 19px;
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  background: none;
  width: 100%;
  color: #686a78;
  min-height: 57px;
  display: block;
  resize: vertical;
}

/* line 324, ../sass/win.scss */
.r-btn {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  margin: 0 5px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 -1px 0 0 rgba(46, 77, 0, 0.09) inset, 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
/* line 334, ../sass/win.scss */
.r-btn span {
  display: inline-block;
  position: relative;
}
/* line 338, ../sass/win.scss */
.r-btn:hover {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 0 rgba(46, 77, 0, 0.09) inset, 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

/* line 342, ../sass/win.scss */
.r-btn_up {
  background: #87b60d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87b60d), color-stop(100%, #417204));
  background-image: -webkit-linear-gradient(#87b60d, #417204);
  background-image: -moz-linear-gradient(#87b60d, #417204);
  background-image: -o-linear-gradient(#87b60d, #417204);
  background-image: linear-gradient(#87b60d, #417204);
}
/* line 345, ../sass/win.scss */
.r-btn_up span {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -605px no-repeat;
  width: 18px;
  height: 19px;
  top: 3px;
}
/* line 349, ../sass/win.scss */
.r-btn_up:hover {
  background: #417204;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #417204), color-stop(100%, #87b60d));
  background-image: -webkit-linear-gradient(#417204, #87b60d);
  background-image: -moz-linear-gradient(#417204, #87b60d);
  background-image: -o-linear-gradient(#417204, #87b60d);
  background-image: linear-gradient(#417204, #87b60d);
}

/* line 354, ../sass/win.scss */
.r-btn_down {
  background: #d70018;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d70018), color-stop(100%, #7f0211));
  background-image: -webkit-linear-gradient(#d70018, #7f0211);
  background-image: -moz-linear-gradient(#d70018, #7f0211);
  background-image: -o-linear-gradient(#d70018, #7f0211);
  background-image: linear-gradient(#d70018, #7f0211);
}
/* line 357, ../sass/win.scss */
.r-btn_down span {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -681px no-repeat;
  width: 22px;
  height: 10px;
  top: -1px;
}
/* line 361, ../sass/win.scss */
.r-btn_down:hover {
  background: #7f0211;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f0211), color-stop(100%, #d70018));
  background-image: -webkit-linear-gradient(#7f0211, #d70018);
  background-image: -moz-linear-gradient(#7f0211, #d70018);
  background-image: -o-linear-gradient(#7f0211, #d70018);
  background-image: linear-gradient(#7f0211, #d70018);
}

/* line 366, ../sass/win.scss */
.r-btn_arr {
  background: #636570;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636570), color-stop(100%, #42434d));
  background-image: -webkit-linear-gradient(#636570, #42434d);
  background-image: -moz-linear-gradient(#636570, #42434d);
  background-image: -o-linear-gradient(#636570, #42434d);
  background-image: linear-gradient(#636570, #42434d);
}
/* line 369, ../sass/win.scss */
.r-btn_arr span {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -701px no-repeat;
  width: 14px;
  height: 15px;
}
/* line 370, ../sass/win.scss */
.r-btn_arr:hover {
  background: #42434d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42434d), color-stop(100%, #636570));
  background-image: -webkit-linear-gradient(#42434d, #636570);
  background-image: -moz-linear-gradient(#42434d, #636570);
  background-image: -o-linear-gradient(#42434d, #636570);
  background-image: linear-gradient(#42434d, #636570);
}

/* line 375, ../sass/win.scss */
.r-btn_inf {
  background: #4c9ec8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c9ec8), color-stop(100%, #0d5fa3));
  background-image: -webkit-linear-gradient(#4c9ec8, #0d5fa3);
  background-image: -moz-linear-gradient(#4c9ec8, #0d5fa3);
  background-image: -o-linear-gradient(#4c9ec8, #0d5fa3);
  background-image: linear-gradient(#4c9ec8, #0d5fa3);
}
/* line 378, ../sass/win.scss */
.r-btn_inf span {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -752px no-repeat;
  width: 7px;
  height: 17px;
}
/* line 379, ../sass/win.scss */
.r-btn_inf:hover {
  background: #0d5fa3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d5fa3), color-stop(100%, #4c9ec8));
  background-image: -webkit-linear-gradient(#0d5fa3, #4c9ec8);
  background-image: -moz-linear-gradient(#0d5fa3, #4c9ec8);
  background-image: -o-linear-gradient(#0d5fa3, #4c9ec8);
  background-image: linear-gradient(#0d5fa3, #4c9ec8);
}

/* line 384, ../sass/win.scss */
.icon-audio {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -358px no-repeat;
  width: 19px;
  height: 23px;
  display: inline-block;
  margin: 0 3px -11px -15px;
  position: relative;
  top: -3px;
}

/* line 392, ../sass/win.scss */
.sidebar {
  background: url(../img/bg-win.png);
  width: 330px;
  border-right: 5px solid #413d46;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 401, ../sass/win.scss */
.sidebar .form-search {
  margin: 0 25px;
}
/* line 403, ../sass/win.scss */
.sidebar .form-search .input-search {
  width: 225px;
}
/* line 405, ../sass/win.scss */
.sidebar .user-item {
  padding-left: 25px;
}
/* line 407, ../sass/win.scss */
.sidebar .user-item .user__name {
  width: 102px;
}
/* line 411, ../sass/win.scss */
.sidebar .sidebar__arr {
  position: absolute;
  background: #413d46;
  border-radius: 50%;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 0 4px 0 rgba(0, 0, 0, 0.3);
  right: -24px;
  top: 50%;
  margin-top: -26px;
  height: 48px;
  width: 48px;
  cursor: pointer;
  z-index: 10;
}
/* line 423, ../sass/win.scss */
.sidebar .sidebar__arr i {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -1282px no-repeat;
  width: 8px;
  height: 14px;
  display: block;
  margin: 17px 0 0 10px;
}
/* line 430, ../sass/win.scss */
.sidebar .tabs .tabs__nav {
  padding-left: 25px;
}
/* line 433, ../sass/win.scss */
.sidebar .tabs .tabs__contant {
  padding-top: 15px;
}

/* line 436, ../sass/win.scss */
.tabs {
  padding-top: 8px;
  overflow: hidden;
}
/* line 439, ../sass/win.scss */
.tabs .tabs__nav {
  padding-left: 9px;
  height: 45px;
}
/* line 442, ../sass/win.scss */
.tabs .tabs__nav li {
  float: left;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.55) inset, 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  list-style: none;
}
/* line 453, ../sass/win.scss */
.tabs .tabs__nav li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
/* line 457, ../sass/win.scss */
.tabs .tabs__nav a {
  display: block;
  color: #aeacb6;
  text-decoration: none;
  padding: 0 21px;
}
/* line 463, ../sass/win.scss */
.tabs .tabs__nav .active {
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  border-radius: 3px 3px 0 0;
  height: 44px;
  position: relative;
}
/* line 471, ../sass/win.scss */
.tabs .tabs__nav .active:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
}
/* line 472, ../sass/win.scss */
.tabs .tabs__nav .active a {
  padding: 0 20px;
  color: #f2ba06;
  height: 45px;
}
/* line 477, ../sass/win.scss */
.tabs .tabs__nav .active:before, .tabs .tabs__nav .active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 330px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.32);
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  height: 0;
}
/* line 486, ../sass/win.scss */
.tabs .tabs__nav .active:before {
  left: 100%;
}
/* line 489, ../sass/win.scss */
.tabs .tabs__nav .active:after {
  right: 100%;
}
/* line 495, ../sass/win.scss */
.tabs .tabs__nav_w li a {
  padding: 0;
  width: 90px;
  text-align: center;
}
/* line 500, ../sass/win.scss */
.tabs .tabs__nav_w .active a {
  padding: 0;
  width: 88px;
}
/* line 504, ../sass/win.scss */
.tabs .tabs__nav_w .mark-count {
  margin-right: -10px;
  position: relative;
}
/* line 509, ../sass/win.scss */
.tabs .tabs__contant {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(25%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  padding-top: 8px;
  display: none;
}

/* line 515, ../sass/win.scss */
.nav-sm {
  display: inline-block;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.55) inset, 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
  border-radius: 4px;
  margin: 1px 0 11px 25px;
}
/* line 521, ../sass/win.scss */
.nav-sm li {
  float: left;
  list-style: none;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.1);
}
/* line 526, ../sass/win.scss */
.nav-sm li:last-child {
  border: 0;
  box-shadow: none;
}
/* line 529, ../sass/win.scss */
.nav-sm li:last-child a {
  border-radius: 0 4px 4px 0;
  width: 53px;
  padding: 1px;
}
/* line 535, ../sass/win.scss */
.nav-sm li:first-child a {
  border-radius: 4px 0 0 4px;
}
/* line 539, ../sass/win.scss */
.nav-sm a {
  display: block;
  width: 54px;
  text-align: center;
  height: 38px;
  padding: 1px 0 1px 1px;
  line-height: 38px;
  text-decoration: none;
}
/* line 547, ../sass/win.scss */
.nav-sm a:hover {
  background: #202127;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #202127), color-stop(100%, #393b44));
  background-image: -webkit-linear-gradient(#202127, #393b44);
  background-image: -moz-linear-gradient(#202127, #393b44);
  background-image: -o-linear-gradient(#202127, #393b44);
  background-image: linear-gradient(#202127, #393b44);
  background-clip: content-box;
}
/* line 550, ../sass/win.scss */
.nav-sm a:hover .icon-chat {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -929px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 551, ../sass/win.scss */
.nav-sm a:hover .icon-eye {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -1007px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 552, ../sass/win.scss */
.nav-sm a:hover .icon-mike {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -1111px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 553, ../sass/win.scss */
.nav-sm a:hover .icon-phone {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -726px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 554, ../sass/win.scss */
.nav-sm a:hover .icon-pencil {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -1163px no-repeat;
  width: 16px;
  height: 16px;
}
/* line 558, ../sass/win.scss */
.nav-sm i {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
/* line 564, ../sass/win.scss */
.nav-sm .mark-count {
  margin: 0 -6px 0 3px;
}

/* line 569, ../sass/win.scss */
.control {
  padding: 73px 0 0;
}
/* line 574, ../sass/win.scss */
.control .control__title {
  height: 40px;
  line-height: 40px;
  padding: 0 24px 0 25px;
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.57);
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.45) inset;
  background: #6e726a;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6e726a), color-stop(100%, #3f413c));
  background-image: -webkit-linear-gradient(#6e726a, #3f413c);
  background-image: -moz-linear-gradient(#6e726a, #3f413c);
  background-image: -o-linear-gradient(#6e726a, #3f413c);
  background-image: linear-gradient(#6e726a, #3f413c);
  color: #b3b2b9;
  overflow: hidden;
}
/* line 586, ../sass/win.scss */
.control .control__title .btn-arr-up, .control .control__title .btn-close {
  float: right;
  margin: 10px 0 0 4px;
}
/* line 591, ../sass/win.scss */
.control .control__title_violet {
  background: #6b2bb3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6b2bb3), color-stop(100%, #301565));
  background-image: -webkit-linear-gradient(#6b2bb3, #301565);
  background-image: -moz-linear-gradient(#6b2bb3, #301565);
  background-image: -o-linear-gradient(#6b2bb3, #301565);
  background-image: linear-gradient(#6b2bb3, #301565);
  color: #d5d3dd;
}
/* line 596, ../sass/win.scss */
.control .control__title_orange {
  background: #c3693f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c3693f), color-stop(100%, #822b24));
  background-image: -webkit-linear-gradient(#c3693f, #822b24);
  background-image: -moz-linear-gradient(#c3693f, #822b24);
  background-image: -o-linear-gradient(#c3693f, #822b24);
  background-image: linear-gradient(#c3693f, #822b24);
  color: #bbb1b8;
}
/* line 601, ../sass/win.scss */
.control .control__inf {
  padding: 1px 0 13px;
  display: none;
}

/* line 606, ../sass/win.scss */
.btn-close {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -452px no-repeat;
  width: 18px;
  height: 19px;
  display: block;
  cursor: pointer;
}

/* line 611, ../sass/win.scss */
.btn-arr-up {
  background: url('../img/icons-s1af3d0ddaa.png') 0 -546px no-repeat;
  width: 18px;
  height: 19px;
  display: block;
  cursor: pointer;
}
