/* line 2, ../sass/win.scss */
.win-bg {
  background-image: -webkit-gradient(radial, 660px 660px, 0, 660px 660px, 150, color-stop(50%, rgba(0, 0, 0, 0.7)), color-stop(150%, rgba(0, 0, 0, 0.95)));
  background-image: -webkit-radial-gradient(660px 660px, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.95) 150%);
  background-image: -moz-radial-gradient(660px 660px, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.95) 150%);
  background-image: -o-radial-gradient(660px 660px, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.95) 150%);
  background-image: radial-gradient(660px 660px, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.95) 150%);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}

/* line 11, ../sass/win.scss */
.win {
  position: absolute;
  border-radius: 6px;
  width: 340px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.75);
  left: 50%;
  top: 100px;
  margin-left: -170px;
  z-index: 15;
}
/* line 20, ../sass/win.scss */
.win .win__title {
  background: #414141;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #414141), color-stop(100%, #212121));
  background-image: -webkit-linear-gradient(#414141, #212121);
  background-image: -moz-linear-gradient(#414141, #212121);
  background-image: -o-linear-gradient(#414141, #212121);
  background-image: linear-gradient(#414141, #212121);
  border: 1px solid #000;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.06) inset;
  text-align: center;
  line-height: 30px;
  height: 30px;
  position: relative;
}
/* line 30, ../sass/win.scss */
.win .win__title h1 {
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  color: #cecece;
  font-size: 13px;
  text-shadow: rgba(0, 0, 0, 0.75) 0 1px 0;
  padding-left: 9px;
}
/* line 38, ../sass/win.scss */
.win .win__close {
  background: url('../img/icons-sbf4fb99930.png') 0 -776px no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  left: 4px;
  cursor: pointer;
}
/* line 45, ../sass/win.scss */
.win .win__content {
  background: url(../img/bg-win.png);
  border-radius: 0 0 6px 6px;
  border: 1px solid #000;
  border-top: 0;
  padding-top: 1px;
}
/* line 52, ../sass/win.scss */
.win .win__box {
  padding-top: 9px;
}
/* line 55, ../sass/win.scss */
.win .win__text-box {
  margin-top: 13px;
}
/* line 58, ../sass/win.scss */
.win .win__dev {
  width: 322px;
  margin: 0 auto;
  height: 0;
  border-top: 1px solid #000100;
  border-bottom: 1px solid #4c4b53;
}
/* line 65, ../sass/win.scss */
.win .win__footer {
  background: #222;
  border-top: 1px solid #000;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 1px 0 0 #414141 inset;
  text-align: center;
  padding: 14px 0;
}
/* line 73, ../sass/win.scss */
.win .win__footer-tr {
  padding: 14px 10px;
  overflow: hidden;
}
/* line 76, ../sass/win.scss */
.win .win__footer-tr .btn {
  float: right;
  margin-left: 16px;
}

/* line 82, ../sass/win.scss */
.h2 {
  color: #cecece;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  font-weight: bold;
  margin: 6px 23px 10px;
}

/* line 89, ../sass/win.scss */
.chat-title {
  font-size: 18px;
  color: #e3ad12;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  margin: 0 23px 15px;
}

/* line 95, ../sass/win.scss */
.h2 + .chat-title {
  margin-top: -6px;
}

/* line 98, ../sass/win.scss */
.text-note {
  background: #eaebf3;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
  color: #686a78;
  font-size: 13px;
  line-height: 19px;
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  margin: 0 8px 11px 17px;
  border-radius: 5px;
  position: relative;
  padding: 11px 9px;
  min-height: 57px;
}
/* line 110, ../sass/win.scss */
.text-note:after {
  content: "";
  height: 12px;
  width: 12px;
  background: #eaebf3;
  position: absolute;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
  zoom: 1;
  top: 19px;
  left: -5px;
  box-shadow: -3px 3px 3px 0px rgba(0, 0, 0, 0.35);
}
/* line 121, ../sass/win.scss */
.text-note textarea {
  border: 0;
  padding: 0;
  font-size: 13px;
  line-height: 19px;
  font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
  background: none;
  width: 100%;
  color: #686a78;
  min-height: 57px;
  display: block;
  resize: vertical;
}

/* line 137, ../sass/win.scss */
.r-btn {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 0;
  margin: 0 5px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 -1px 0 0 rgba(46, 77, 0, 0.09) inset, 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
/* line 147, ../sass/win.scss */
.r-btn span {
  display: inline-block;
  position: relative;
}
/* line 151, ../sass/win.scss */
.r-btn:hover {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 1px 0 0 rgba(46, 77, 0, 0.09) inset, 0 0 3px 0 rgba(0, 0, 0, 0.5);
}

/* line 156, ../sass/win.scss */
.r-btn_l {
  height: 34px;
  width: 34px;
  line-height: 34px;
  margin: 0 2px;
}

/* line 162, ../sass/win.scss */
.r-btn_up, .r-btn_plus {
  background: #87b60d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87b60d), color-stop(100%, #417204));
  background-image: -webkit-linear-gradient(#87b60d, #417204);
  background-image: -moz-linear-gradient(#87b60d, #417204);
  background-image: -o-linear-gradient(#87b60d, #417204);
  background-image: linear-gradient(#87b60d, #417204);
}
/* line 165, ../sass/win.scss */
.r-btn_up span, .r-btn_plus span {
  background: url('../img/icons-sbf4fb99930.png') 0 -836px no-repeat;
  width: 18px;
  height: 19px;
  top: 3px;
}
/* line 169, ../sass/win.scss */
.r-btn_up:hover, .r-btn_plus:hover {
  background: #417204;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #417204), color-stop(100%, #87b60d));
  background-image: -webkit-linear-gradient(#417204, #87b60d);
  background-image: -moz-linear-gradient(#417204, #87b60d);
  background-image: -o-linear-gradient(#417204, #87b60d);
  background-image: linear-gradient(#417204, #87b60d);
}

/* line 174, ../sass/win.scss */
.r-btn_plus span {
  background: url('../img/icons-sbf4fb99930.png') 0 -1846px no-repeat;
  width: 13px;
  height: 14px;
  top: 1px;
}

/* line 178, ../sass/win.scss */
.r-btn_down, .r-btn_cansel {
  background: #d70018;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d70018), color-stop(100%, #7f0211));
  background-image: -webkit-linear-gradient(#d70018, #7f0211);
  background-image: -moz-linear-gradient(#d70018, #7f0211);
  background-image: -o-linear-gradient(#d70018, #7f0211);
  background-image: linear-gradient(#d70018, #7f0211);
}
/* line 181, ../sass/win.scss */
.r-btn_down span, .r-btn_cansel span {
  background: url('../img/icons-sbf4fb99930.png') 0 -1064px no-repeat;
  width: 22px;
  height: 10px;
  top: -1px;
}
/* line 185, ../sass/win.scss */
.r-btn_down:hover, .r-btn_cansel:hover {
  background: #7f0211;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7f0211), color-stop(100%, #d70018));
  background-image: -webkit-linear-gradient(#7f0211, #d70018);
  background-image: -moz-linear-gradient(#7f0211, #d70018);
  background-image: -o-linear-gradient(#7f0211, #d70018);
  background-image: linear-gradient(#7f0211, #d70018);
}

/* line 190, ../sass/win.scss */
.r-btn_cansel span {
  background: url('../img/icons-sbf4fb99930.png') 0 -1574px no-repeat;
  width: 13px;
  height: 14px;
  top: 1px;
}

/* line 194, ../sass/win.scss */
.r-btn_arr {
  background: #636570;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #636570), color-stop(100%, #42434d));
  background-image: -webkit-linear-gradient(#636570, #42434d);
  background-image: -moz-linear-gradient(#636570, #42434d);
  background-image: -o-linear-gradient(#636570, #42434d);
  background-image: linear-gradient(#636570, #42434d);
}
/* line 197, ../sass/win.scss */
.r-btn_arr span {
  background: url('../img/icons-sbf4fb99930.png') 0 -1166px no-repeat;
  width: 14px;
  height: 15px;
}
/* line 198, ../sass/win.scss */
.r-btn_arr:hover {
  background: #42434d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #42434d), color-stop(100%, #636570));
  background-image: -webkit-linear-gradient(#42434d, #636570);
  background-image: -moz-linear-gradient(#42434d, #636570);
  background-image: -o-linear-gradient(#42434d, #636570);
  background-image: linear-gradient(#42434d, #636570);
}

/* line 203, ../sass/win.scss */
.r-btn_inf {
  background: #4c9ec8;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c9ec8), color-stop(100%, #0d5fa3));
  background-image: -webkit-linear-gradient(#4c9ec8, #0d5fa3);
  background-image: -moz-linear-gradient(#4c9ec8, #0d5fa3);
  background-image: -o-linear-gradient(#4c9ec8, #0d5fa3);
  background-image: linear-gradient(#4c9ec8, #0d5fa3);
}
/* line 206, ../sass/win.scss */
.r-btn_inf span {
  background: url('../img/icons-sbf4fb99930.png') 0 -1244px no-repeat;
  width: 7px;
  height: 17px;
}
/* line 207, ../sass/win.scss */
.r-btn_inf:hover {
  background: #0d5fa3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0d5fa3), color-stop(100%, #4c9ec8));
  background-image: -webkit-linear-gradient(#0d5fa3, #4c9ec8);
  background-image: -moz-linear-gradient(#0d5fa3, #4c9ec8);
  background-image: -o-linear-gradient(#0d5fa3, #4c9ec8);
  background-image: linear-gradient(#0d5fa3, #4c9ec8);
}

/* line 213, ../sass/win.scss */
.r-btn-gray {
  height: 35px;
  width: 35px;
  line-height: 34px;
  margin: 0 2px;
  border: 1px solid #252731;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 2px 0 6px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.21) inset, 0 1px 1px 0 rgba(0, 0, 0, 0.75);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #605e64), color-stop(100%, #413d46));
  background-image: -webkit-linear-gradient(#605e64, #413d46);
  background-image: -moz-linear-gradient(#605e64, #413d46);
  background-image: -o-linear-gradient(#605e64, #413d46);
  background-image: linear-gradient(#605e64, #413d46);
}
/* line 225, ../sass/win.scss */
.r-btn-gray span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
/* line 230, ../sass/win.scss */
.r-btn-gray:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #404040), color-stop(100%, #282828));
  background-image: -webkit-linear-gradient(#404040, #282828);
  background-image: -moz-linear-gradient(#404040, #282828);
  background-image: -o-linear-gradient(#404040, #282828);
  background-image: linear-gradient(#404040, #282828);
}
/* line 233, ../sass/win.scss */
.r-btn-gray.active, .r-btn-gray:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fecd19), color-stop(100%, #b06200));
  background-image: -webkit-linear-gradient(#fecd19, #b06200);
  background-image: -moz-linear-gradient(#fecd19, #b06200);
  background-image: -o-linear-gradient(#fecd19, #b06200);
  background-image: linear-gradient(#fecd19, #b06200);
}
/* line 235, ../sass/win.scss */
.r-btn-gray.active .btn-icon-doc, .r-btn-gray:active .btn-icon-doc {
  background: url('../img/icons-sbf4fb99930.png') 0 -912px no-repeat;
  width: 18px;
  height: 18px;
}
/* line 236, ../sass/win.scss */
.r-btn-gray.active .btn-icon-graph, .r-btn-gray:active .btn-icon-graph {
  background: url('../img/icons-sbf4fb99930.png') 0 -1139px no-repeat;
  width: 17px;
  height: 17px;
}

/* line 239, ../sass/win.scss */
.btn-icon-doc {
  background: url('../img/icons-sbf4fb99930.png') 0 -1084px no-repeat;
  width: 18px;
  height: 18px;
  left: 2px;
  top: -2px;
}

/* line 244, ../sass/win.scss */
.btn-icon-graph {
  background: url('../img/icons-sbf4fb99930.png') 0 -1668px no-repeat;
  width: 17px;
  height: 17px;
  left: 1px;
  top: -1px;
}

/* line 249, ../sass/win.scss */
.btn-icon-save {
  background: url('../img/icons-sbf4fb99930.png') 0 -1520px no-repeat;
  width: 18px;
  height: 18px;
  left: 1px;
  top: -1px;
}

/* line 255, ../sass/win.scss */
.icon-audio {
  background: url('../img/icons-sbf4fb99930.png') 0 -358px no-repeat;
  width: 19px;
  height: 23px;
  display: inline-block;
  position: relative;
}

/* line 261, ../sass/win.scss */
.h2 .icon-audio {
  top: -3px;
  margin: 0 3px -11px -15px;
}

/* line 266, ../sass/win.scss */
.tabs {
  padding-top: 8px;
  overflow: hidden;
}
/* line 269, ../sass/win.scss */
.tabs .tabs__nav {
  padding-left: 9px;
  height: 45px;
}
/* line 272, ../sass/win.scss */
.tabs .tabs__nav li {
  float: left;
  margin-right: 5px;
  font-size: 12px;
  font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.23), 0 1px 0 0 rgba(255, 255, 255, 0.1) inset, 0 -1px 0 0 rgba(0, 0, 0, 0.55) inset, 0 0 0 1px rgba(255, 255, 255, 0.05) inset;
  border-radius: 3px;
  height: 40px;
  line-height: 40px;
  list-style: none;
}
/* line 283, ../sass/win.scss */
.tabs .tabs__nav li:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
}
/* line 287, ../sass/win.scss */
.tabs .tabs__nav a {
  display: block;
  color: #aeacb6;
  text-decoration: none;
  width: 90px;
  text-align: center;
}
/* line 294, ../sass/win.scss */
.tabs .tabs__nav .active {
  border: 1px solid rgba(255, 255, 255, 0.13);
  border-bottom: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25) inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  border-radius: 3px 3px 0 0;
  height: 44px;
  position: relative;
}
/* line 302, ../sass/win.scss */
.tabs .tabs__nav .active:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.07)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.07));
}
/* line 303, ../sass/win.scss */
.tabs .tabs__nav .active a {
  width: 88px;
  color: #f2ba06;
  height: 45px;
}
/* line 308, ../sass/win.scss */
.tabs .tabs__nav .active:before, .tabs .tabs__nav .active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 1500px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.32);
  border-top: 1px solid rgba(255, 255, 255, 0.13);
  height: 0;
}
/* line 317, ../sass/win.scss */
.tabs .tabs__nav .active:before {
  left: 100%;
}
/* line 320, ../sass/win.scss */
.tabs .tabs__nav .active:after {
  right: 100%;
}
/* line 324, ../sass/win.scss */
.tabs .tabs__nav .mark-count {
  margin-right: -10px;
  position: relative;
}
/* line 330, ../sass/win.scss */
.tabs .tabs__nav_b a {
  width: 105px;
}
/* line 333, ../sass/win.scss */
.tabs .tabs__nav_b .active a {
  width: 103px;
}
/* line 335, ../sass/win.scss */
.tabs .tabs__contant {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(25%, transparent), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  background-image: linear-gradient(rgba(0, 0, 0, 0.07), transparent 25%, transparent);
  padding-top: 8px;
  display: none;
}

/* line 343, ../sass/win.scss */
.room .room__header {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #544169), color-stop(100%, #403255));
  background-image: -webkit-linear-gradient(#544169, #403255);
  background-image: -moz-linear-gradient(#544169, #403255);
  background-image: -o-linear-gradient(#544169, #403255);
  background-image: linear-gradient(#544169, #403255);
  overflow: hidden;
  box-shadow: 0 5px 4px -4px rgba(0, 0, 0, 0.8) inset;
  padding: 0 6px 0 12px;
  min-height: 56px;
  border-top: 1px solid #1e1725;
}
/* line 351, ../sass/win.scss */
.room .room__title {
  float: left;
  display: table;
  width: 190px;
  height: 56px;
}
/* line 356, ../sass/win.scss */
.room .room__title h2 {
  font-size: 16px;
  color: #b2b2bf;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.75);
  line-height: 1.3;
  display: table-cell;
  vertical-align: middle;
}
/* line 363, ../sass/win.scss */
.room .room__title h2 .mark-count {
  font-weight: normal;
  padding: 0 5px;
  position: relative;
  top: -2px;
}
/* line 371, ../sass/win.scss */
.room .room__btns {
  padding: 10px 0 0;
  float: right;
}
/* line 375, ../sass/win.scss */
.room .room__meta {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #403255), color-stop(100%, #362a4b));
  background-image: -webkit-linear-gradient(#403255, #362a4b);
  background-image: -moz-linear-gradient(#403255, #362a4b);
  background-image: -o-linear-gradient(#403255, #362a4b);
  background-image: linear-gradient(#403255, #362a4b);
  border-bottom: 1px solid #47474e;
  box-shadow: 0 -5px 4px -4px rgba(0, 0, 0, 0.8) inset;
  margin-bottom: 7px;
}
/* line 380, ../sass/win.scss */
.room .room__meta ul {
  padding: 4px 8px 1px 13px;
  height: 24px;
}
/* line 384, ../sass/win.scss */
.room .room__meta li {
  list-style-type: none;
  color: #66537b;
  font-size: 11px;
  float: left;
  margin-left: 29px;
  font-weight: bold;
}
/* line 391, ../sass/win.scss */
.room .room__meta li:last-child {
  float: right;
}
/* line 394, ../sass/win.scss */
.room .room__meta li:first-child {
  margin-left: 0;
}
/* line 398, ../sass/win.scss */
.room .room__meta span {
  font-size: 16px;
  color: #b1b1be;
  vertical-align: baseline;
  min-width: 41px;
}
/* line 404, ../sass/win.scss */
.room .room__meta .icon-audio {
  margin: 1px 0 0 3px;
  top: -3px;
  vertical-align: middle;
}
