@import "base";

ul{
	list-style-type: none;
}
.win_mod{
	position: relative;
	left: 0;
	top: 0;
	width: 300px;
	margin-left: 0px;
	h2{
		margin-bottom: 10px;
		color: #cecece; 
	}
	p{
		@include font-B;
		font-size: 12px;
		font-weight: bold;
		line-height: 1.8em;
		color: #8b8c92;
	}
	.select-container{
		margin: 18px 0 40px;
	}
	.select-container_mod{
		margin: 12px 0 20px;
	}
	.row{
		position: relative;
		margin: 7px 0 0;
	}
	.sel-holder{
		display: inline-block;
		padding-left: 5px;
		.select{
			width: 233px;
		}
	}
	.icon-tabs{
		text-align: center;
		i{
			margin: 0 3px;
			@include sized-sprite($icons, icon-tab);
			display: inline-block;
		}
		.icon-tabs__is-active{
			@include sized-sprite($icons, icon-tab-active);
		}
	}
}
.dark-grid{
	padding:15px 3px;
	background: #191919;
	.dark-grid__container{
		background: url(../img/dark-grid.png) 0 0;
	}
}
.connection-type ul{
	overflow: hidden;
	list-style-type: none;
	height: 92px;
	vertical-align: middle;
	li{
		float: left;
		width: 20%;
		height: 100%;
		a{
			display: block;
			height: 25px;
			text-decoration: none;
			padding-top: 67px;
			text-align: center;
			@include font-B;
			font-weight: bold;
			color: #8b8c92; 
		}
	}
	.connection-type__video{
		background: url(../img/video.png) 50% 20% no-repeat;
		&:hover{
			background: url(../img/video-hover.png) 50% 20% no-repeat;
		}
		&:active{
			background: url(../img/video-active.png) 50% 20% no-repeat;
		}
	}
	.connection-type__voice{
		background: url(../img/voice.png) 50% 20% no-repeat;
		&:hover{
			background: url(../img/voice-hover.png) 50% 20% no-repeat;
		}
		&:active{
			background: url(../img/voice-active.png) 50% 20% no-repeat;
		}
	}
	.connection-type__text{
		background: url(../img/text.png) 50% 20% no-repeat;
		&:hover{
			background: url(../img/text-hover.png) 50% 20% no-repeat;
		}
		&:active{
			background: url(../img/text-active.png) 50% 20% no-repeat;
		}
	}
	.connection-type__callback{
		background: url(../img/callback.png) 50% 20% no-repeat;
		&:hover{
			background: url(../img/callback-hover.png) 50% 20% no-repeat;
		}
		&:active{
			background: url(../img/callback-active.png) 50% 20% no-repeat;
		}
	}
	.connection-type__comment{
		background: url(../img/comment.png) 50% 20% no-repeat;
		&:hover{
			background: url(../img/comment-hover.png) 50% 20% no-repeat;
		}
		&:active{
			background: url(../img/comment-active.png) 50% 20% no-repeat;
		}
	}
}
.btn_alert_green{
	width: 128px;
	height: 35px;
	line-height: 35px;
	margin: 17px auto;
	background: #689a09;
	@include background-image(linear-gradient(#8bba0e, #407304));
	&:hover{
		background: #7cad0b;
		@include background-image(linear-gradient(#b0d013, #407304));
	}
	&:active{
		background: #639508;
		@include background-image(linear-gradient(#447a04, #82b00d));
	}
}
.btn_alert_gray{
	width: 128px;
	height: 35px;
	line-height: 35px;
	margin: 17px auto;
	background: #52535e;
	@include background-image(linear-gradient(#656771, #40414b));
	&:hover{
		background: #676976;
		@include background-image(linear-gradient(#858895, #3b3c45));
	}
	&:active{
		background: #4a4b56;
		@include background-image(linear-gradient(#3f404b, #646671));
	}
}
.alert-announce{
	overflow: hidden;
	img{
		float: left;
		margin: 7px 12px 7px 9px;
	}
	p{
		@include font-B;
		font-size: 16px;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		color: #cdcdcd;
	}
}
.video-player{
	position: relative;
	margin: 0px 1px 14px;
	width: 99%;
	border-bottom: 1px solid #42434c;
	img{
		width: 100%;
	}
	.video-player__more{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0, .5);
		.video-player__full-screen{
			position: absolute;
			left: 40%;
			top: 50%;
			margin: -18px 0 0 -18px;
			@include sized-sprite($icons, full-screen);
		}
		.video-player__volume{
			position: absolute;
			left: 60%;
			top: 50%;
			margin: -18px 0 0 -18px;
			@include sized-sprite($icons, sound-control);
		}
	}
}
.chat-begin__answer{
	overflow: hidden;
	margin: 15px 15px 11px;
}
.chat-begin__logo{
	float: left;
	width: 39px;
	height: 39px;
	padding: 4px;
	border: 1px solid #000;
	@include border-radius(4px);
	@include box-shadow(inset 0 -1px 2px rgba(255,255,255,.14));
	@include background-image(linear-gradient(bottom, rgba(255,255,255,0) 1.5%, rgba(255,255,255,0) 93.5%, rgba(255,255,255,.26) 98.5%));
	img{
		width: 39px;
		height: 39px;
	}
}
.chat-begin__message-in{
	position: relative;
	float: right;
	width: 172px;
	padding: 7px 9px;
	text-align: left;
	@include border-radius(6px);
	border: 1px solid #000;
	@include box-shadow(0 1px 0 #454654, inset 0 0 0 1px rgba(0,0,0,.35));
	background: #272830;
	color: #c1c1cb;
	@include font-N;
	font-size: 13px;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	&:before{
		content: "";
		position: absolute;
		top: 50%;
		left: -6px;
		width: 10px;
		height: 10px;
		margin-top: -3px;
		@include rotate(45deg);
		background: #272830;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}
p.operator__question{
	margin-bottom: 15px;
	padding: 0 15px;
	text-align: left;
	line-height: 1.4;
	color: #cdcdcd;
	@include font-B;
	font-size: 16px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
}
.operator__answers{
	overflow: hidden;
	width: 270px;
	margin: 0 auto 10px;
	list-style-type: none;
	@include border-radius(6px);
	@include box-shadow(0 0 15px 0 rgba(0, 0, 0, 0.75));
	background: #fff;
	li{
		padding: 0 15px;
		line-height: 39px;
		a, span{
			display: inline-block;
			@include font-B;
			font-weight: bold;
			text-decoration: none;
			font-size: 14px;
			color: #000;
		}
		a{
			width: 92%;
		}
		span{
			padding-right: 10px;
			color: #afb0c0;
		}
		&:hover{
			background: #3385b9;
			@include background-image(linear-gradient(#4ea0c9, #07599f));
			@include text-shadow(0 -1px 0 rgba(0,0,0,.4));
			a{
				color: #fff;
			}
		}
	}
}
.chat-begin__buttons{
	overflow: hidden;
	padding: 0 15px;
	button{
		float: right;
		&:first-child{
			float: left;
		}
	}
}
.question-input{
	width: 237px;
	max-width: 237px;
	min-height: 84px;
	max-height: 168px;
	margin: 0 0 5px 36px;
	border: 1px solid #000;
	background-color: #1f2026;
	@include border-radius(3px);
	@include box-shadow(0 1px 0 #454654, inset 0 0 0 1px rgba(0,0,0,.35));
	@include font-N;
	font-size: 12px;
	color: #cecece;
}
.win__media-container{
	margin: 0px 1px 14px;
	border-bottom: 1px solid #42434c;
	img{
		width: 100%;
	}
}
.testing{
	list-style-type: none;
	.testing__mark{
		color: #fff;
		span{
			display: inline-block;
			float: right;
			margin-right: 29px;
		}
	}
	.testing__mark_yellow{
		color: #ffc000;
	}
}
.microphone{
	position: relative;
	margin: 5px 0;
	.microphone__progress-bar, .internet__progress-bar{
		position: relative;
		width: 244px;
		height: 9px;
		padding: 2px;
		border: 1px solid #000;
		@include border-radius(7px);
		background-color: #1f1f25;
		@include box-shadow(0 1px 0 #454654, inset 0 0 0 1px rgba(0,0,0,.35));
		.microphone__sound-level, .internet__download{
			height: 9px;
			@include border-radius(7px);
			background: url(../img/microphone-progress-bar.png) repeat-x;
		}
		.internet__download{
			@include box-shadow(0 1px 2px rgba(0,0,0,.67), 0 0 3px rgba(0,0,0,.07));
			@include background-image(linear-gradient(bottom, #0a5ca1 0%, #4697c3 100%));
		}
		.internet__download_violet{
			@include background-image(linear-gradient(bottom, #470d62 0%, #470d62 0.76%, #8000cb 100%));
		}
		.microphone__min-level, .microphone__max-level{
			height: 26px;
			width: 1px;
			position: absolute;
			@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 2px rgba(0,0,0,.43));
			@include background-image(linear-gradient(bottom, #7a0000 0%, #7a0000 0.24%, #f80000 100%));
		}
		.microphone__min-level{
			top: -5px;
			left: 53px;
		}
		.microphone__max-level{
			top: -5px;
			right: 53px;
		}
	}
	.internet__progress-bar{
		background: #1f1f25 url(../img/progress-bar-bg.png);
	}
	.microphone__done{
		position: absolute;
		top: 0px;
		right: 0px;
	}
}

.l-growl{
	position: relative;
	width: 300px;
	@include border-radius(6px);
	@include box-shadow(0 0 15px rgba(0,0,0,.7), inset 0 1px 0 rgba(255,255,255,.06));
	background: #242a3a;
	@include background-image(linear-gradient(top, #414856, #262d3d));
	.close-growl{
		display: none;
		position: absolute;
		top: 50%;
		right: -12px;
		margin: -12px 0 0 -12px;
		@include sized-sprite($icons, close-growl);
	}
	&:hover{
		margin: -2px 0 0 -2px;
		border: 2px solid #bcbcc3;
		.close-growl{
			display: block;
		}
	}
}
.growl{
	overflow: hidden;
	@include border-radius(6px);
	border: 1px solid rgba(0,0,0,.9);
	.growl__img{
		float: left;
		width: 86px;
		height: 99px;
		border-right: 1px solid #1a2232;
		background: #1e2535;
		@include background-image(linear-gradient(top, #333a4a, #1f2738));
		img{
			width: 55px;
			height: 57px;
			padding: 20px 15px;
		}
	}
	.growl__text{
		float: right;
		width: 180px;
		height: 49px;
		padding: 25px 15px;
		border-left: 1px solid #404959;
		color: #cfcfd6;
		line-height: 1.4;
		@include font-B;
		font-size: 13px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
}

// ============== button ==============
.button{
	position: relative;
	display: block;
	height: 42px;
	width: 118px;
	padding-left: 42px;
	line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;
	@include border-radius(15px);
	font-weight: bold;
	font-size: 15px;
	background: #000;
	color: #fff;
	&:hover{
		color: #ffce00;
	}
}
.button_mini{
	padding-left: 0px;
	width: 40px;
	@include border-radius(15px 0 0 15px);
}
.button__logo{
	position: absolute;
	top: 0px;
	left: -7px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	@include border-radius(22px);
	border: 3px solid #000;
	background: #ffce00;
	text-align: center;
	@include background-image(linear-gradient(top, #ffdd00, #aa5d00));
	img{
		vertical-align: middle;
		line-height: 1;
	}
	.button__corner{
		position: absolute;
		left: 0px;
		bottom: 0px;
		@include sized-sprite($icons, button-corner);
	}
	.button__corner-big{
		position: absolute;
		left: 0px;
		bottom: 0px;
		@include sized-sprite($icons, button-corner-big);
	}
	.button__corner-bigger{
		position: absolute;
		left: -2px;
		bottom: -2px;
		@include sized-sprite($icons, button-corner-bigger);
	}
	.button__corner-biggest{
		position: absolute;
		left: 0px;
		bottom: 0px;
		@include sized-sprite($icons, button-corner-biggest);
	}
}
.button_white{
	background: #fff;
	color: #000;
	.button__logo{
		border: 3px solid #fff;
	}
}
.button_slim{
	height: 30px;
	line-height: 30px;
	.button__logo{
		top: -7px;
	}
}
.button_big{
	width: 275px;
	height: 64px;
	padding-left: 60px;
	font: bold 36px Arial, sans-serif;
	line-height: 64px;
	@include border-radius(31px);
	.button__logo{
		width: 58px;
		height: 58px;
		line-height: 53px;
		top: 0px;
		left: -15px;
		@include border-radius(31px);
	}
}
.button_big-mini{
	width: 60px;
	padding-left: 0px;
	@include border-radius(31px 0 0 31px);
}
.button_bigger{
	width: 370px;
	height: 96px;
	padding-left: 90px;
	font: bold 48px Arial, sans-serif;
	line-height: 96px;
	@include border-radius(44px);
	.button__logo{
		width: 86px;
		height: 86px;
		line-height: 79px;
		top: 0px;
		left: -15px;
		border: 5px solid #000;
		@include border-radius(51px);
	}
}
.button_bigger-mini{
	width: 90px;
	padding-left: 0px;
	@include border-radius(50px 0 0 50px);
}
.button_biggest{
	width: 368px;
	height: 142px;
	padding-left: 163px;
	@include border-radius(50px);
	font: bold 50px Tahoma, sans-serif;
	line-height: 142px;
	.button__logo{
		left: -22px;
		height: 130px;
		line-height: 130px;
		width: 130px;
		border: 6px solid #000;
		@include border-radius(71px);
	}
}
.button_biggest-slim{
	height: 99px;
	line-height: 99px;
	font-weight: normal;
	.button__logo{
		top: -20px;
	}
}
// ===================  chat  =========================
.win_chat{
	width: 350px;
	h3{
		color: #cdcdcd;
		font-size: 13px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
}
.win div.chat{
	position: relative;
	overflow: hidden;
	padding: 0 15px;
}
.chat__icons{
	position: relative;
	.chat__text-tab, .chat__files-tab{
		position: relative;
		display: inline-block;
		height: 11px;
		width:40px;
		padding-top: 40px;
		margin: 0 5px;
		@include font-B;
		text-decoration: none;
		text-align: center;
		font-size: 11px;
		color: #8b8c92;
		background: url(../img/text.png) 0 0 no-repeat;
		.chat__message-ind{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 16px;
			height: 16px;
			@include border-radius(8px);
			background: #3f3933;
			@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25));
			@include background-image(linear-gradient(bottom, #900010 0%, #e40000 100%));
			@include text-shadow(0 -1px 0 rgba(0,0,0,.4));
			line-height: 16px;
			text-align: center;
			font-size: 10px;
			color: #fff;
		}
	}
	.chat__text-tab.is-active {
		background: url(../img/text-active.png) 0 0 no-repeat;
		&:after{
			content: "";
			position: absolute;
			left: 35%;
			bottom: -23px;
			width: 12px;
			height: 12px;
			border-top: 1px solid #42434c;
			border-left: 1px solid #42434c;
			@include rotate(45deg);
			background: url(../img/bg-win.png);
		}
	}
	.chat__files-tab{
		background: url(../img/files.png) 0 0 no-repeat;
	}
	.chat__files-tab.is-active{
		background: url(../img/files-active.png) 0 0 no-repeat;
	}
}
.form-search_chat{
	position: absolute;
	top: 0px;
	right: 15px;
	width: 182px;
	margin: 1px 0 0;
	.input-search{
		width: 149px;
	}
}
.win .win__dev_chat{
	margin: 14px 0;
}
.chat__operator{
	overflow: hidden;
	h3{
		float: left;
		width: 250px;
		margin-left: 10px;
	}
}
.chat__outcoming{
	position: relative;
	margin: 17px 0;
	padding: 0 12px;
	@include border-radius(5px);
	background: #cce3ef;
	@include box-shadow(0 0 6px rgba(0,0,0,.75));
	&:before{
		content: "";
		position: absolute;
		top: 17px;
		left: -5px;
		width: 10px;
		height: 10px;
		background: #cce3ef;
		@include rotate(45deg);
	}
	li{
		position: relative;
		padding: 12px 0;
		border-top: 1px solid #abbfc9;
		.message-time{
			position: absolute;
			top: -6px;
			right: 0px;
			padding: 0 5px;
			background: #cce3ef;
			color: #7ba0b0;
			@include font-B;
			font-size: 11px;
			@include text-shadow(0 1px 0 rgba(255,255,255,.65));
		}
		&:first-child{
			border-top: none;
			.message-time{
				top: 17px;
			}
		}
		p{
			@include font-B;
			font-size: 13px;
			color: #456a7a;
		}
	}
}
.user{
	margin-bottom: 12px;
	@include font-B;
	font-size: 12px;
	color: #2b3a41;
	@include text-shadow(0 1px 0 rgba(255,255,255,.65));
	.operator-config{
		position: relative;
		display: inline-block;
		top: 3px;
		@include sized-sprite($icons, config);
	}
}
.sending-file{
	overflow: hidden;
	padding-left: 36px;
	background: url(../img/sending-file.png) 0% 0% no-repeat;
}
.sending-file__info{
	float: left;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	@include font-N;
	line-height: 1.5;
}
.sending-file__name{
	color: #3d95cb;			
	font-size: 13px;
}
.sending-file__weight{
	color: #8b8b92;
	font-size: 11px;
	font-weight: bold;
}
.sending-file__buttons{
	float: right;
}
.btn_chat{
	width: 84px;
	margin: 0 0 0 8px;
}
.chat__incoming{
	position: relative;
	margin: 17px 0;
	padding: 0 12px;
	@include border-radius(5px);
	background: #eaebf3;
	@include box-shadow(0 0 6px rgba(0,0,0,.75));
	&:after{
		content: "";
		position: absolute;
		top: 17px;
		right: -5px;
		width: 10px;
		height: 10px;
		background: #eaebf3;
		@include rotate(45deg);
	}
	li{
		position: relative;
		padding: 12px 0;
		border-top: 1px solid #c9cacf;
		.message-time{
			position: absolute;
			top: -6px;
			right: 0px;
			padding: 0 5px;
			background: #eaebf3;
			color: #7ba0b0;
			@include font-B;
			font-size: 11px;
			@include text-shadow(0 1px 0 rgba(255,255,255,.65));
		}
		.user{
			color: #000;
		}
		&:first-child{
			border-top: none;
			.message-time{
				top: 17px;
			}
		}
		p{
			@include font-B;
			font-size: 13px;
			color: #456a7a;
		}
	}
}
.chat__incoming_pink{
	background: #f5d3d3;
	&:after{
		content: "";
		background: #f5d3d3;
	}
	li{
		.message-time{
			background: #f5d3d3;
		}
	} 
}
.chat__censored{
	position: relative;
	margin: 17px 0;
	padding: 15px 12px;
	@include border-radius(5px);
	background: #9799a3;
	@include box-shadow(0 0 6px rgba(0,0,0,.75));
	&:after{
		content: "";
		position: absolute;
		top: 17px;
		right: -5px;
		width: 10px;
		height: 10px;
		background: #9799a3;
		@include rotate(45deg);
	}
	div{
		width: 68px;
		padding: 6px 9px;
		@include border-radius(10px);
		@include background-image(linear-gradient(bottom, #414247 0%, #212228 100%)); 
		@include font-B;
		font-weight: bold;
		text-transform: uppercase;
		color: #cdcdcd;
	} 
}
.chat__loading{
	.sending-file{
		background: url(../img/downloading-file.png) 0% 0% no-repeat;
	}
	.sending-file_upload{
		background: url(../img/uploading-file.png) 0% 0% no-repeat;
	}
	.download__cancel{
		position: absolute;
		top: 0px;
		right: -28px;
		cursor: pointer;
	}
}
.chat__user-status{
	position: relative;
	padding-left: 20px;
	line-height: 30px;
	@include font-B;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	color: #cdcdcd;
	i{
		position: absolute;
		top: 6px;
		left: -2px;
		@include sized-sprite($icons, bullet-red);
	}
	span{
		color: #bc262c;
	}
}
.chat__user-status_online{
	i{
		top: 8px;
		left: 0;
		@include sized-sprite($icons, bullet-green);
	}
	span{
		color: #83b30d;
	}
}
.chat__user-status_notify{
	i{
		top: 8px;
		left: 0;
		@include sized-sprite($icons, bullet-yellow);
	}
	span{
		color: #ffc000;
	}
}
.chat__counter{
	overflow: hidden;
}
.chat__progress-bar{
	float: left;
	width: 242px;
	height: 1px;
	margin-top: 5px;
	padding: 1px;
	@include border-radius(1px);
	background-color: #131417;
	@include box-shadow(0 1px 0 rgba(255,255,255,.06), inset 0 1px 0 rgba(0,0,0,.51));
	.chat__counter-progress{
		height: 1px;
		background: #a8c85c;
	}
}
.chat__counter-nunber{
	float: left;
	margin-left: 10px;
	color: #8b8b92;
	font-size: 11px;
	font-weight: bold;
}
.input-message{
	position: relative;
	overflow: hidden;
	margin: 5px 0;
}
.input-message__text{
	overflow: hidden;
	width: 270px;
	@include border-radius(5px);
	background: #eaebf3;
	.input-message__config{
		float: left;
		width: 37px;
		height: 20px;
		margin: 10px 8px;
		border-right: 1px solid #bdbec8;
		a{
			position: relative;
		}
		.config-message{
			position: absolute;
			top: 3px;
			left: 5px;
			@include sized-sprite($icons, config-message);
		}
		.arr-15{
			position: absolute;
			top: 7px;
			left: 24px;
			@include sized-sprite($icons, arr-15);
		}
	}
	form{
		float: left;
		overflow: hidden;
		width: 206px;
		padding: 5px 10px 0px 0px;
		.input-message__input{
			width: 100%;
			height: 100%;
			outline: none;
			border:none;
			background: transparent;
		}
	}
}
.button-round{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	@include border-radius(20px);
	@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25));
	@include background-image(linear-gradient(bottom, #457b03 0%, #8bb90d 100%));
	border: none;
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 -6px;
		@include sized-sprite($icons, arr-16);
	}
	&:hover{
		@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25), inset 0 20px 18px rgba(255,255,255,.32));
		@include background-image(linear-gradient(bottom, #477b03 0%, #477b03 1%, #87b50d 100%));
	}
	&:active{
		@include background-image(linear-gradient(bottom, #8bb90d 0%, #457b03 100%));
	}
}
.button-round_send-message{
	position: absolute;
	top: 0px;
	right: 0px;
}

// chat files-tab
.upload-file{
	position: relative;
	overflow: hidden;
	height: 77px;
	margin-bottom: 25px;
	@include border-radius(5px); 
	border: 1px dashed #66686e;
	button{
		position: absolute;
		top: 5px;
		left: 18px;
	}
	p{
		float: right;
		width: 135px;
		padding: 15px;
		@include font-B;
		font-size: 13px;
		font-weight: bold;
		color: #8b8c92;
	}
}
.files-history{
	margin: 25px 0 0 0;
	ul{
		margin: 12px -15px 0;
	}
	li{
		overflow: hidden;
		padding: 0 15px;
		height: 27px;
		line-height: 27px;
		border-top: 1px solid #000;
		@include box-shadow(inset 0px 1px 1px #46474d);
		@include font-N;
		font-size: 13px;
		text-transform: uppercase;
		color: #8b8c92;
		&:first-child{
			text-transform: none;
			font-size: 11px;
			@include background-image(linear-gradient(top, #505050, #212121));
			.files-history__name{
				cursor: pointer;
				color: #8b8c92;
				margin-left: -15px;
				padding-left: 15px;
			}
			.files-history__kind, .files-history__size{
				border-left: 1px solid #292929;
				cursor: pointer;
			}
			.files-history__size{
				margin-right: -15px;
				padding-right: 15px;
			}
			.is-sorted{
				position: relative;
				background: url(../img/arr-04.png) 0 0 no-repeat;
				@include background-image(linear-gradient(top, #545454, #383838)); 
				&:after{
					content: "";
					position: absolute;
					top: 11px;
					right: 10px;
					@include sized-sprite($icons, arr-04);
				}
			}
		}
		.files-history__name{
			float: left;
			width: 168px;
			text-transform: none;
			color: #3e96cc;
		}
		.files-history__kind, .files-history__size{
			float: left;
			width: 74px;
			text-align: center;
		}
	}	
}

// chat settings
.chat-settings{
	position: relative;
	.chat-settings__close{
		position: absolute;
		top: -12px;
		left: 50%;
		margin-left: -12px;
		i{
			display: block;
			@include sized-sprite($icons, close-growl);
		}
	}
}
.chat-settings__ptofile{
	overflow: hidden;
	padding: 10px 0;
	margin: 0px 13px 0px 22px;
	.chat-begin__name{
		float: left;
		width: 145px;
		margin-left: 22px;
		color: #8b8b92;
		@include font-B;
		font-size: 12px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		h3{
			padding-bottom: 5px;
			color: #cdcdcd;
			@include font-B;
			font-size: 16px;
			font-weight: bold;
			@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		}
	}
}
.chat-settings__list{
	position: relative;
	color: #cdcdcd;
	@include font-B;
	font-size: 13px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	li{
		position: relative;
		height: 40px;
		line-height: 40px;
		padding: 0 30px;
		border-top: 1px solid #2f2f2f;
		border-bottom: 1px solid #0a0a0a;
		background: #1c1c1c;
		cursor: pointer;
		i{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
		&:hover{
			border-top: 1px solid #75b5d5;
			@include background-image(linear-gradient(top, #4ea0c9, #07599f));
		}
		.chat-settings__langs{
			position: absolute;
			top: 5px;
			left: 70px;
			.select{
				width: 250px;
			}
		} 
	}
	.chat-settings__info{
		@include sized-sprite($icons, info);
	}
	.chat-settings__language{
		@include sized-sprite($icons, language-small);
	}
	.chat-settings__ban{
		@include sized-sprite($icons, ban);
	}
	.chat-settings__filter{
		@include sized-sprite($icons, filter);
	}
	.chat-settings__message{
		@include sized-sprite($icons, message);
	}
	.chat-settings__save{
		@include sized-sprite($icons, save);
	}
	.chat-settings__print{
		@include sized-sprite($icons, print2);
	}
	.chat-settings__delete{
		@include sized-sprite($icons, delete);
	}
	.chat-settings__lib{
		@include sized-sprite($icons, lib);
	}
}
.btn_small{
	height: 25px;
	line-height: 25px;
}

// q-lib window
.q-lib{
	position: relative;
	height: 50px;
	padding: 0 10px;
	.input-search{
		width: 295px;
	}
}
.q-lib-results{
	li{
		height: 40px;
		line-height: 40px;
		border-top: 1px solid #2f2f2f;
		border-bottom: 1px solid #0a0a0a;
		background: #1c1c1c;
		a{
			display: block;
			height: 100%;
			padding: 0 10px;
			color: #cdcdcd;
			@include font-B;
			text-decoration: none;
			font-size: 13px;
			font-weight: bold;
			&:hover{
				border-top: 1px solid #75b5d5;
				@include background-image(linear-gradient(top, #4ea0c9, #07599f));
			}
		}
	}
}
.input-search__cancel{
	position: absolute;
	top: 6px;
	right: 6px;
	@include sized-sprite($icons, cancel3);
}