@import "lib/base";
@import "lib/animations";
@import "lib/keyframes";
@import "lib/fonts";

// global sprites
$icons: sprite-map("icons/*.png", $spacing: 10px);

$video: sprite-map("video/*.png", $spacing: 10px);

$buttons: sprite-map("buttons/*.png", $spacing: 10px);
