@import "base";

html{
	height:100%;
}
*{margin:0;padding:0;-webkit-text-size-adjust: none; }
/*resets*/
a img,fieldset{border:none;}
a{
	color:#00919e;
	&:hover{text-decoration:none;}
}
button,textarea,input[type=submit]::-moz-focus-inner { padding: 0; border: 0 }
input, textarea, select,button,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
@include keyframes(anim1) {
	0% {
		background-position:0 0;
	}
	50%{
		background-position:0 100%;
	}
	100%{
		background-position:0 0;
	}
}
*{
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
input, textarea{
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
}
.out{
	width:100%;
	height:100%;
}
.out_1{
	@include background-image(
		linear-gradient(rgba(20,41,90,1) 0%,rgba(36,60,115,1) 2%,rgba(52,77,135,1) 4%,rgba(74,93,150,1) 5%,rgba(99,109,164,1) 6%,rgba(118,114,165,1) 7%,rgba(132,112,161,1) 8%,rgba(138,102,153,1) 9%,rgba(129,83,144,1) 11%,rgba(120,75,136,1) 13%,rgba(102,61,120,1) 14%,rgba(129,83,144,1) 15%,rgba(138,102,153,1) 16%,rgba(104,110,164,1) 17%,rgba(63,87,146,1) 18%,rgba(30,54,108,1) 19%,rgba(21,41,90,1) 20%,rgba(36,60,115,1) 23%,rgba(51,76,134,1) 25%,rgba(63,87,146,1) 26%,rgba(74,93,150,1) 27%,rgba(97,106,161,1) 28%,rgba(107,110,164,1) 29%,rgba(124,114,164,1) 30%,rgba(136,110,157,1) 31%,rgba(137,98,150,1) 33%,rgba(129,86,146,1) 34%,rgba(122,76,137,1) 36%,rgba(102,61,120,1) 39%,rgba(128,86,140,1) 40%,rgba(139,98,149,1) 41%,rgba(154,127,155,1) 43%,rgba(153,137,158,1) 44%,rgba(149,137,158,1) 45%,rgba(137,124,151,1) 46%,rgba(108,102,129,1) 47%,rgba(97,93,119,1) 48%,rgba(59,58,98,1) 49%,rgba(40,43,89,1) 50%,rgba(37,43,87,1) 51%,rgba(16,27,74,1) 52%,rgba(9,22,69,1) 53%,rgba(20,29,76,1) 54%,rgba(64,64,100,1) 55%,rgba(108,102,129,1) 56%,rgba(149,137,158,1) 57%,rgba(154,127,155,1) 58%,rgba(139,98,149,1) 59%,rgba(102,61,120,1) 60%,rgba(122,76,137,1) 62%,rgba(129,86,146,1) 64%,rgba(137,98,150,1) 65%,rgba(136,110,157,1) 66%,rgba(124,114,164,1) 67%,rgba(99,109,164,1) 68%,rgba(86,102,159,1) 69%,rgba(63,87,146,1) 70%,rgba(52,77,135,1) 71%,rgba(36,60,115,1) 72%,rgba(32,51,101,0.99) 75%,rgba(69,82,131,0.99) 76%,rgba(89,100,148,0.99) 77%,rgba(110,114,157,0.99) 78%,rgba(136,127,159,0.99) 79%,rgba(135,124,146,0.99) 80%,rgba(114,110,124,0.99) 81%,rgba(71,75,99,0.99) 82%,rgba(49,58,89,0.99) 83%,rgba(19,31,74,0.99) 84%,rgba(4,20,66,0.99) 85%,rgba(26,37,78,0.99) 86%,rgba(37,46,82,0.99) 87%,rgba(60,65,95,0.99) 88%,rgba(86,87,107,0.99) 89%,rgba(103,102,116,0.99) 90%,rgba(122,115,131,0.99) 91%,rgba(136,125,149,0.98) 92%,rgba(136,126,159,0.97) 93%,rgba(124,122,160,0.97) 94%,rgba(104,111,155,0.97) 95%,rgba(101,108,153,0.96) 96%,rgba(69,82,131,0.96) 97%,rgba(54,72,123,0.95) 98%,rgba(31,51,101,0.95) 99%,rgba(20,41,90,0.94) 100%)
		);
	@include animation(anim1 500s linear infinite);
	background-size:100% 1000%
	
}
.out_2{
	width:100%;
	height:100%;
	@include background-image(
		linear-gradient(left center, rgba(255,255,255,.6) 0%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.03) 75%, rgba(255,255,255,0) 80%)
		);
	background-repeat:no-repeat;
}

body{
	height:100%;
	font: {
	    family: Arial,sans-serif;
	    weight: normal;
	    size: 12px;
	  	}
	line-height:1.2;
	background: #8ea1cc url(../img/bg-body.jpg) 50% 0 no-repeat;
	background-size:cover;
}

@include font-face('HelveticaNeue',
	font-files(
		'HelveticaNeue.woff', woff,
		'HelveticaNeue.ttf', ttf,
		'HelveticaNeue.eot', eot)
);
@include font-face('HelveticaNeue-M',
	font-files(
		'HelveticaNeueMedium.woff', woff,
		'HelveticaNeueMedium.ttf', ttf,
		'HelveticaNeueMedium.eot', eot)
);
@include font-face('HelveticaNeue-B',
	font-files(
		'HelveticaNeueBold.woff', woff,
		'HelveticaNeueBold.ttf', ttf,
		'HelveticaNeueBold.eot', eot)
);

// BEGIN global classes for positioning elements in containers

.tocenter{
	margin: 0 auto;
}
.toright{
	float: right;
}
.toleft{
	float: left;
}
.toheight{
	height: 100%;
}
.towidth{
	width: 100%;
}
// END global classes for positioning elements in containers

.in{
	width:1280px;
	margin:0 auto;
}
.btn{
	font-size:13px;
	color:#fff;
	@include font-M;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.5), 0 1px 0 0 rgba(white,.3) inset, 0 -1px 0 0 rgba(47,77,0,.09) inset;
	background: #656671;
	@include background-image(linear-gradient(#656671, #3f404b));
	height:25px;
	line-height:25px;
	text-shadow:0 -1px 0 rgba(0,0,0,.5);
	cursor:pointer;
	border-radius:3px;
	border:0;
	&:hover{
		background: #3f404b;
		@include background-image(linear-gradient(#3f404b, #656671));
	}
}
.btn_green{
	background: #87b70d;
	@include background-image(linear-gradient(#87b70d, #487d04));
	&:hover{
		background: #487d04;
		@include background-image(linear-gradient(#487d04, #87b70d));
	}
}
.btn_90{
	width:90px;
	text-align: center;
}
.btn_140{
	width:140px;
	text-align: center;
	height: 28px;
	line-height:28px; 
}
.btn_75{
	width:75px;
	text-align: center;
}
.btn_45{
	width:45px;
	text-align: center;
}
.btn_140_ico{
	padding-left:20px;
	width: 140px;
	text-align: center;
	height: 28px;
	line-height:28px;
	position: relative;
}
.btn-violet{
	color:#cdccd3;
	@include font-B;
	font-size:12px;
	border:1px solid #252731;
	box-shadow:0 1px 1px 0 rgba(white,.2) inset, 0 1px 1px 0 rgba(0,0,0,.75);
	background: #5f4c89;
	@include background-image(linear-gradient(#5f4c89, #402e56));
	height:36px;
	border-radius:17px;
	cursor:pointer;
	width:109px;
	box-shadow:0 1px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 1px -1px rgba(0, 0, 0, 0.95);
	text-shadow:0 1px 0 rgba(0,0,0,.3);
	.bullet_dark_activ{
		margin: 0 2px -7px -5px;
	}
	&:hover{
		background: #4f4073;
		@include background-image(linear-gradient(#4f4073, #352647));
	}
	&.active, &:active{
		background: #fecd19;
		@include background-image(linear-gradient(#fecd19, #b06200));
		color:#75470a;
	}
}
.btn-icon-plus{
	@include sized-sprite($icons, 'btn-plus');
	position: absolute;
	left:6px;
	top:50%;
	margin-top:-11px; 
}
.btn-icon-arrt{
	@include sized-sprite($icons, 'btn-arrt');
	position: absolute;
	left:6px;
	top:50%;
	margin-top:-11px; 
}
.btn-icon-arrb{
	@include sized-sprite($icons, 'btn-arrb');
	position: absolute;
	left:6px;
	top:50%;
	margin-top:-11px; 
}
.btn-icon-arrt2{
	@include sized-sprite($icons, 'btn-arrt2');
	position: absolute;
	left:6px;
	top:50%;
	margin-top:-11px; 
}

.bullet_dark_activ{
	@include sized-sprite($icons, 'bullet-active');
	display: inline-block;
	position: relative;
}
.input{
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background:#1f2026;
	border-radius:4px;
	border:1px solid #000;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.7) inset, 0 1px 0 0 #454754;
	font-size:12px;
	height: 26px;
	line-height:20px;
	padding: 3px 7px;
	color:#cecece;
	@include font-N;
	position: relative;
	z-index:15; 
}
.header{
	background: #4a464f; 
	@include background-image(linear-gradient(#48444d 0%, #4a464f 3%, #44414a 24%, #322d37 63%, #242029 100%));
	box-shadow:0 0 7px 4px rgba(0, 0, 0, 0.45);
	height:60px;
	min-width:1280px;
	position: relative;
	z-index:20;
	.h-box{
		border-right:1px solid #2e2b32;
		box-shadow:1px 0 0 0 rgba(white,.1);
		float: left;
		height:60px;
		position: relative;
	}
	.h-box_form{
		padding:15px 15px 0 12px;
		height:45px;
		.input-text{
			background:#66616c;
			border:1px solid #2a2630;
			box-shadow:0 1px 1px 0 rgba(0,0,0,.4) inset, 0 1px 1px 0 rgba(white,.05);
			color:#e1e0e2;
			font-size:12px;
			line-height:20px;
			padding:4px 4px 4px 38px;
			border-radius:4px;
			width:184px;
			height:20px;
		}
		.input-plus{
			@include sized-sprite($icons, 'input-plus');
			border-right:1px solid #544f5c;
			position: absolute;
			left:14px;
			top:21px;
			cursor:pointer;
		}
	}
	.logo-block{
		float: left;
		margin: 19px 12px 0 28px;
		&:hover{
			.drop{display: block;}
			.logo{@include sized-sprite($icons, 'logo_active');}
		}
	}
	.logo{
		@include sized-sprite($icons, 'logo');
		display: block;
	}
	.nav-item{
		float:left;
		margin:0 15px 0 11px;
		position:relative;
		line-height: 60px;
		.nav-item__text{
			color:#aeacb6;
			font-weight:bold;
			font-size:14px;
			text-decoration: none;
		}
		.nav-item__text_yellow{color:#f2ba06;}
		&:hover{
			.drop{display: block;}
			.nav-arr{
				@include sized-sprite($icons, 'arr-01_active');
				top:8px;
				margin:0 -2px 0 3px;
			}
		}
	}
	.nav-arr{
		@include sized-sprite($icons, 'arr-01');
		display: inline-block;
		position: relative;
		top: 5px;
		margin-left:5px;
		cursor:pointer;
	}
	.nav{
		list-style: none;
		@include background-image(linear-gradient( #3e3a43 0%, #3a363e 21%, #231f28 76%, #1d1b22 97%, #1d1b24 100%));
		box-shadow:0 1px 0 0 #3e3c47 inset;
		height:60px;
		margin-left:1px;
		li{
			float:left;
			height:44px;
			width:60px;
			padding:8px 0;
			text-align: center;
			cursor:pointer;
			line-height:15px;
			position: relative;
			&:hover{
				background: #302d37;
				@include background-image(linear-gradient(#302d37, #232127));
				.icon-chat{@include sized-sprite($icons, 'icon-chat_active');}
				.icon-eye{@include sized-sprite($icons, 'icon-eye_active');}
				.icon-mike{@include sized-sprite($icons, 'icon-mike_active');}
				.icon-phone{@include sized-sprite($icons, 'icon-phone_active');}
				.icon-pencil{@include sized-sprite($icons, 'icon-pencil_active');}
				.icon-graph{
					@include sized-sprite($icons, 'icon-graph_active');
					margin: 1px 0 0 9px;
				}
				.drop{display:block;}
			}
			.nav__link{
				border-left:1px solid rgba(white,.05);
				box-shadow:-1px 0 0 0 rgba(0,0,0,.15);
				display: block;
				text-decoration: none;
				height:41px;
				padding-top:3px;
				span{
					color:#656167;
					font-size:11px;
					font-weight:bold;
				}
				.mark-count{
					box-shadow:0 1px 2px rgba(0,0,0,.5);	
				}
				i{
					display: block;
					margin:0 auto 10px;
				}
			}
			&:first-child .nav__link{
				border:0;
				box-shadow:none;
			}		
			.icon-graph{
				@include sized-sprite($icons, 'icon-graph');
				display: block;
				margin:1px 0 0 11px;
			}
		}
	}
	.icon-win{
		@include sized-sprite($icons, 'icon-win');
		margin:12px 10px 0 11px;
	}
	.icon-medal{
		@include sized-sprite($icons, 'icon-medal');
		float:left;
		margin:17px 0 18px 12px;
	}
	.inf-medal{
		margin:0 10px 0 33px;
		text-align:center;
		strong{
			font-size:18px;
			color:#f2ba06;
			display: block;
			width:26px;
			margin:8px 0 0;
		}
		span{
			color:#656167;
			font-size:11px;
			font-weight:bold;
			display: block;
			width:26px;
			border-top:1px solid #45404a;
			padding:8px 0 0;
		}
	}
	.h-box_time{
		font-size:24px;
		color:#b2b2bf;
		padding:0 11px 0 12px;
		line-height:60px;
		.nav-arr{
			top:2px;
			margin:0;
		}
		&:hover{
			.nav-arr{
				@include sized-sprite($icons, 'arr-01_active');
				top:5px;
				margin:0 -3px 0 -1px;
			}
			.drop{display: block;}
		}
	}
	.icon-pause{
		@include sized-sprite($icons, 'icon-pause');
		display: inline-block;
		margin: 0 0 0 2px;
		position: relative;
		cursor:pointer;
		top:2px;
	}
	.userpic{margin:7px 2px 0 12px;}
	.h-box_user{
		border:0;
		box-shadow:none;
		.nav-arr{margin-top:16px;}
		&:hover{
			.drop{display: block;}
		}
	}
}
.icon-chat{@include sized-sprite($icons, 'icon-chat');}
.icon-eye{@include sized-sprite($icons, 'icon-eye');}
.icon-mike{@include sized-sprite($icons, 'icon-mike');}
.icon-phone{@include sized-sprite($icons, 'icon-phone');}
.icon-pencil{@include sized-sprite($icons, 'icon-pencil');}
.mark-count{
	display: inline-block;
	color:#eccdcd;
	font-size:11px;
	font-weight:bold;
	background: #e00d0d;
	@include background-image(linear-gradient(#e00d0d, #b10606));
	height:13px;
	line-height:13px;
	padding:1px 4px 1px;
	text-align:center;
	border-radius:3px;
	margin-left:5px;
	font-family: Arial,sans-serif;
	text-decoration: none;
}
.mark-count_dark{
	background:#1f2026;
	color:#949798;
}
.mark-count_yl{
	background:#ffcc00;
	color:#6f3c00;
}
.userpic{
	border:1px solid #000;
	border-radius:3px;
	height:39px;
	width:39px;
	padding:3px;
	box-shadow:0 -1px 2px 0px rgba(255, 255, 255, 0.14) inset;
	margin:7px 2px 0 12px;
	float: left;
	@include background-image(linear-gradient(rgba(255,255,255,0.26) 0%, rgba(255,255,255,0.26) 2%, rgba(255,255,255,0.01) 7%, rgba(255,255,255,0) 9%, rgba(255,255,255,0) 100%));
	a{
		border:1px solid #030303;
		display: block;
		@include sized-sprite($icons, 'userpic');
		background-color: #292a32;
	}
}

.radio_light{
	display: inline-block;
	.radio{
		height: 11px;
		width: 11px;
		border:1px solid #c0c0c0;
		border-radius:50%;
		box-shadow:0 1px 1px rgba(0,0,0,.1);
		display: inline-block;
		background: #fff;
		&.checked span{
			background: #85c300;
			border-radius:50%;
			box-shadow:0 1px 5px #396373 inset;
			display: block;
			height: 5px;
			width: 5px;
			margin:3px 0 0 3px; 
		}
	}
}
.radio_dark{
	display: inline-block;
	position: relative;
	top: 3px;
	.radio{
		height: 14px;
		width: 14px;
		border:1px solid rgba(2,1,2,.5);
		border-radius:50%;
		box-shadow:0 2px 2px rgba(white,.12) inset, 0 2px 4px rgba(0,0,0,.46);
		display: inline-block;
		background: #393939;
		@include background-image(linear-gradient(#393939, #272727));
		span{
			background: #202020;
			border-radius:50%;
			height: 4px;
			width: 4px;
			margin:4px 0 0 4px;
			display: block;
			border:1px solid #000;
		}
		&.checked span{
			background: #7ca129;
			box-shadow:0 -1px 0 rgba(0,0,0,.35);
			margin:5px 0 0 5px;
			border:0;
		}
	}
}

.input-holder{
	position: relative;
	display: block;
	width: 100%;
	z-index:15; 
	box-sizing: border-box;
}
.input-holder_err, .input-holder_ok{
	&:before{
		box-shadow:0 1px 2px rgba(0,0,0,.75), 0 1px 0 rgba(white,.4) inset;
		width: 100%;
		height: 100%;
		position: absolute;
		padding:4px;
		border-radius:4px;   
		background: #207191 url(../img/input-bg.png);
		z-index:10; 
		content:"";
		top:-4px;
		left:-4px;
	}
}
.input-holder_err{
	&:before{
		background-color: #c75c00; 
	}
}

.hint{
	position: absolute;
	width: 90px; 
	.hint__arr{
		position: absolute;
	}
	strong{
		font-size: 16px;
		color: #fff;
		display: block;
	}
	span{
		color: #ffd800; 
		font-size:11px;
		display: block;
	}
}
.hint_top-left{
	@extend .hint;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-t-l');
		top:-20px;
		left:-55px;
	}
}
.hint_top-right{
	@extend .hint;
	text-align: right;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-t-r');
		top:-20px;
		right:-55px;
	}
}
.hint_right-top{
	@extend .hint;
	text-align: right;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-t-r2');
		top:-53px;
		right:-20px;
	}
}
.hint_right-bottom{
	@extend .hint;
	text-align: right;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-b-r');
		bottom:-53px;
		right:-20px;
	}
}
.hint_bottom-right{
	@extend .hint;
	text-align: right;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-b-r2');
		top:12px;
		right:-55px;
	}
}
.hint_left-top{
	@extend .hint;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-t-l2');
		top:-53px;
		left:-20px;
	}
}
.hint_left-bottom{
	@extend .hint;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-b-l');
		bottom:-53px;
		left:-20px;
	}
}
.hint_bottom-left{
	@extend .hint;
	.hint__arr{
		@include sized-sprite($icons, 'arc-arr-b-l2');
		top:12px;
		left:-55px;
	}
}