@import "base";

.wrapper-button{
    background: #000;
    display:inline-block;
    padding: 6px;
    @include border-radius(50%);
    background: #000;
    text-decoration: none;
}
.wrapper-button.white{
    background: #fff;
    .button-hint-right, .button-hint-left{
        background: #fff;
        color: #000;
    }
}
// styles for big buttons
.wrapper-button_big{
    height: 128px;
    width: 128px;
    .button{
        width: 128px;
        height: 128px;
        line-height: 128px;
        span{
            line-height: 128px;
            font-size: 48px;
        }
    }
    .preloader{
        width: 110px;
        height: 110px;
        margin: -55px 0 0 -55px;
        background: url(../img/preloader-biggest.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 20px;
        left: 75px;
        height: 100px;
        line-height: 100px;
        @include border-radius(0 50px 50px 0);
        font-size: 50px;
        span{
            padding: 0 40px;
        }
    }
    .button-hint-left{
        top: 20px;
        right: 40px;
        height: 100px;
        line-height: 100px;
        @include border-radius(50px 0 0 50px);
        font-size: 50px;
        span{
            padding: 0 40px;
        }
    }
    &:hover .button-hint-right {
        left: 160px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 108px;
    }
}
.arr-right_big{
    &:before{
        content: "";
        position: absolute;
        bottom: 10px;
        left: 4px;
        @include s($buttons, button-corner-biggest);
    }
}
// styles for big buttons
.wrapper-button_mid{
    width: 96px;
    height: 96px;
    .button{
        width: 96px;
        height: 96px;
        line-height: 96px;
        span{
            line-height: 96px;
            font-size: 30px;
        }
    }
    .preloader{
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
        background: url(../img/preloader-mid.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 18px;
        left: 75px;
        height: 76px;
        line-height: 76px;
        @include border-radius(0 38px 38px 0);
        font-size: 36px;
        span{
            padding: 0 35px;
        }
    }
    .button-hint-left{
        top: 18px;
        right: 40px;
        height: 76px;
        line-height: 76px;
        @include border-radius(38px 0 0 38px);
        font-size: 36px;
        span{
            padding: 0 35px;
        }
    }
    &:hover .button-hint-right {
        left: 125px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 89px;
    }
}
.arr-right_mid{
    &:before{
        content: "";
        position: absolute;
        bottom: 10px;
        left: 4px;
        @include s($buttons, button-corner-bigger);
    }
}
// styles for small buttons
.wrapper-button_small{
    width: 64px;
    height: 64px;
    .button{
        width: 64px;
        height: 64px;
        line-height: 64px;
        span{
            line-height: 64px;
            font-size: 24px;
        }
    }
    .preloader{
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;
        background: url(../img/preloader-small.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 12px;
        left: 55px;
        height: 55px;
        line-height: 55px;
        @include border-radius(0 30px 30px 0);
        font-size: 28px;
        span{
            padding: 0 25px;
        }
    }
    .button-hint-left{
        top: 12px;
        right: 20px;
        height: 55px;
        line-height: 55px;
        @include border-radius(30px 0 0 30px);
        font-size: 28px;
        span{
            padding: 0 25px;
        }
    }
    &:hover .button-hint-right {
        left: 90px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 60px;
    }
}
.arr-right_small{
    &:before{
        content: "";
        position: absolute;
        bottom: 5px;
        left: 5px;
        @include s($buttons, button-corner-big);
    }
}
// styles for smallest buttons
.wrapper-button_smallest{
    width: 32px;
    height: 32px;
    padding: 4px;
    .button{
        width: 32px;
        height: 32px;
        line-height: 32px;
        span{
            line-height: 32px;
            font-size: 12px;
        }
    }
    .preloader{
        width: 26px;
        height: 26px;
        margin: -13px 0 0 -13px;
        background: url(../img/preloader-smallest.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 6px;
        left: 25px;
        height: 28px;
        line-height: 28px;
        @include border-radius(0 30px 30px 0);
        font-size: 20px;
        span{
            padding: 0 25px;
        }
    }
    .button-hint-left{
        top: 6px;
        right: 5px;
        height: 28px;
        line-height: 28px;
        @include border-radius(30px 0 0 30px);
        font-size: 20px;
        span{
            padding: 0 25px;
        }
    }
    &:hover .button-hint-right {
        left: 37px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 28px;
    }
}
.arr-right_smallest{
    &:before{
        content: "";
        position: absolute;
        bottom: 1px;
        left: 4px;
        @include s($buttons, button-corner);
    }
}
.button{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    @include border-radius(50%);
    @include background-image(linear-gradient(top, #fdc700 0%, #ad5f00 100%));
    z-index: 2;
    img{
        display: inline-block;
        vertical-align: middle;
    }
    span{
        display: block;
        height: 100%;
        width: 100%;
        @include font-B;
        font-weight: bold;
        text-align: center;
        color: #965300;
        text-shadow: 1px 1px 1px #e3ba00;
    }
}
.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
}
.button-hint-right{
	position: absolute;
    white-space:nowrap;
    margin-left: -1em;
    opacity: 0;
    z-index: 1;
    @include transition(600ms ease-in-out);
    background: #000;
    @include font-B;
    color: #fff;
    span{
        display: inline-block;
    }
}
.button-hint-left{
	position: absolute;
    left: auto;
    white-space:nowrap;
    margin-left: -1em;
    z-index: 1;
    opacity: 0;
    @include transition(600ms ease-in-out);
    background: #000;
    @include font-B;
    color: #fff;
    span{
        display: inline-block;
    }
}
.arr-right_big.white{
    &:before{
        content: "";
        position: absolute;
        bottom: 10px;
        left: 4px;
        @include s($buttons, button-corner-biggest-white);
    }
}
.arr-right_mid.white{
    &:before{
        content: "";
        position: absolute;
        bottom: 10px;
        left: 4px;
        @include s($buttons, button-corner-bigger-white);
    }
}
.arr-right_small.white{
    &:before{
        content: "";
        position: absolute;
        bottom: 5px;
        left: 5px;
        @include s($buttons, button-corner-big-white);
    }
}
.arr-right_smallest.white{
    &:before{
        content: "";
        position: absolute;
        bottom: 1px;
        left: 4px;
        @include s($buttons, button-corner);
    }
}