@import "base";

.wrapper-button{
    display:inline-block;
    padding: 6px;
    @include border-radius(50%);
    text-decoration: none;
}
.wrapper-button.white{
    .button{
        @include box-shadow(0 0 0 6px #fff);
    }
    .button-hint-right, .button-hint-left{
        background: #fff;
        color: #000;
        &:hover{
            color: #ffc600;
        }
    }
}

// styles for big buttons
.wrapper-button_big{
    height: 128px;
    width: 128px;
    .button{
        width: 128px;
        height: 128px;
        line-height: 128px;
        span{
            line-height: 128px;
            font-size: 48px;
        }
    }
    .preloader{
        width: 110px;
        height: 110px;
        margin: -55px 0 0 -55px;
        background: url(../img/preloader-biggest.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 20px;
        left: 75px;
        height: 100px;
        line-height: 100px;
        @include border-radius(0 50px 50px 0);
        font-size: 50px;
        span{
            padding: 0 40px;
        }
    }
    .button-hint-left{
        top: 20px;
        right: 40px;
        height: 100px;
        line-height: 100px;
        @include border-radius(50px 0 0 50px);
        font-size: 50px;
        span{
            padding: 0 40px;
        }
    }
    &:hover .button-hint-right {
        left: 160px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 108px;
    }
}
.arr-right_big{
    position: absolute;
    bottom: 10px;
    left: 4px;
    @include s($buttons, button-corner-biggest);
}
.arr-left_big{
    position: absolute;
    bottom: 10px;
    right: 4px;
    @include s($buttons, button-corner-biggest);
    @include rotate(270deg);
}
// styles for big buttons
.wrapper-button_mid{
    width: 96px;
    height: 96px;
    .button{
        width: 96px;
        height: 96px;
        line-height: 96px;
        span{
            line-height: 96px;
            font-size: 30px;
        }
    }
    .preloader{
        width: 80px;
        height: 80px;
        margin: -40px 0 0 -40px;
        background: url(../img/preloader-mid.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 18px;
        left: 75px;
        height: 76px;
        line-height: 76px;
        @include border-radius(0 38px 38px 0);
        font-size: 36px;
        span{
            padding: 0 35px;
        }
    }
    .button-hint-left{
        top: 18px;
        right: 40px;
        height: 76px;
        line-height: 76px;
        @include border-radius(38px 0 0 38px);
        font-size: 36px;
        span{
            padding: 0 35px;
        }
    }
    &:hover .button-hint-right {
        left: 125px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 89px;
    }
}
.arr-right_mid{
    position: absolute;
    bottom: 10px;
    left: 4px;
    @include s($buttons, button-corner-bigger);
}
.arr-left_mid{
    position: absolute;
    bottom: 10px;
    right: 4px;
    @include s($buttons, button-corner-bigger);
    @include rotate(270deg);
}
// styles for small buttons
.wrapper-button_small{
    width: 64px;
    height: 64px;
    .button{
        width: 64px;
        height: 64px;
        line-height: 64px;
        span{
            line-height: 64px;
            font-size: 24px;
        }
    }
    .preloader{
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;
        background: url(../img/preloader-small.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 12px;
        left: 55px;
        height: 55px;
        line-height: 55px;
        @include border-radius(0 30px 30px 0);
        font-size: 28px;
        span{
            padding: 0 25px;
        }
    }
    .button-hint-left{
        top: 12px;
        right: 20px;
        height: 55px;
        line-height: 55px;
        @include border-radius(30px 0 0 30px);
        font-size: 28px;
        span{
            padding: 0 25px;
        }
    }
    &:hover .button-hint-right {
        left: 90px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 60px;
    }
}
.arr-right_small{
    position: absolute;
    bottom: 5px;
    left: 5px;
    @include s($buttons, button-corner-big);
}
.arr-left_small{
    position: absolute;
    bottom: 5px;
    right: 5px;
    @include s($buttons, button-corner-big);
    @include rotate(270deg);
}
// styles for smallest buttons
.wrapper-button_smallest{
    width: 32px;
    height: 32px;
    padding: 4px;
    .button{
        width: 32px;
        height: 32px;
        line-height: 32px;
        span{
            line-height: 32px;
            font-size: 12px;
        }
    }
    .preloader{
        width: 26px;
        height: 26px;
        margin: -13px 0 0 -13px;
        background: url(../img/preloader-smallest.png) 50% 50% no-repeat;
    }
    .button-hint-right{
        top: 6px;
        left: 25px;
        height: 28px;
        line-height: 28px;
        @include border-radius(0 30px 30px 0);
        font-size: 20px;
        span{
            padding: 0 25px;
        }
    }
    .button-hint-left{
        top: 6px;
        right: 5px;
        height: 28px;
        line-height: 28px;
        @include border-radius(30px 0 0 30px);
        font-size: 20px;
        span{
            padding: 0 25px;
        }
    }
    &:hover .button-hint-right {
        left: 37px;
        opacity: 1;
    }
    &:hover .button-hint-left {
        opacity: 1;
        right: 28px;
    }
}
.arr-right_smallest{
    position: absolute;
    bottom: 1px;
    left: 4px;
    @include s($buttons, button-corner);
}
.arr-left_smallest{
    position: absolute;
    bottom: 1px;
    right: 4px;
    @include s($buttons, button-corner);
    @include rotate(270deg);
}
.button{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    @include border-radius(50%);
    @include box-shadow(0 0 0 6px #000);
    background: #d28e00;
    @include background-image(linear-gradient(top, #fdc700 0%, #ad5f00 100%));
    z-index: 2;
    img{
        display: inline-block;
        vertical-align: middle;
    }
    span{
        display: block;
        height: 100%;
        width: 100%;
        @include font-B;
        font-weight: bold;
        text-align: center;
        color: #965300;
        text-shadow: 1px 1px 1px #e3ba00;
    }
}
.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
}
.preloader.is-loading{
    @include animation(round 2s linear infinite);
}
.button-hint-right{
	position: absolute;
    white-space:nowrap;
    margin-left: -1em;
    opacity: 0;
    z-index: 0;
    @include transition(600ms ease-in-out);
    background: #000;
    @include font-B;
    color: #fff;
    span{
        display: inline-block;
    }
    &:hover{
        color: #ffc600;
    }
}
.button-hint-left{
	position: absolute;
    left: auto;
    white-space:nowrap;
    margin-left: -1em;
    z-index: 0;
    opacity: 0;
    @include transition(600ms ease-in-out);
    background: #000;
    @include font-B;
    color: #fff;
    span{
        display: inline-block;
    }
    &:hover{
        color: #ffc600;
    }
}
.white .arr-right_big, .white .arr-left_big{
     @include s($buttons, button-corner-biggest-white);
}
.white .arr-right_mid, .white .arr-left_mid{
    @include s($buttons, button-corner-bigger-white);

}
.white .arr-right_small, .white .arr-left_small{
    @include s($buttons, button-corner-big-white);
}
.white .arr-right_smallest, .white .arr-left_smallest{
     @include s($buttons, button-corner);
}

// buttons on the edge of the screen

.wrapper-button_big.wrapper-right{
    position: fixed;
    right: 10px;
    top: 50px;
    @include transition(600ms ease-in-out);
    .button-hint-right{
        opacity: 1;
        left: 160px;
        @include border-radius(0);
    }
}
.wrapper-button_big.wrapper-right.is-active{
    right: 245px;
}
.wrapper-button_mid.wrapper-right{
    position: fixed;
    right: 15px;
    top: 200px;
    @include transition(600ms ease-in-out);
    .button-hint-right{
        opacity: 1;
        left: 125px;
        @include border-radius(0);
    }
}
.wrapper-button_mid.wrapper-right.is-active{
    right: 185px;
}
.wrapper-button_small.wrapper-right{
    position: fixed;
    right: 5px;
    top: 320px;
    @include transition(600ms ease-in-out);
    .button-hint-right{
        opacity: 1;
        left: 90px;
        @include border-radius(0);
    }
}
.wrapper-button_small.wrapper-right.is-active{
    right: 143px;
}
.wrapper-button_smallest.wrapper-right{
    position: fixed;
    right: 2px;
    top: 420px;
    @include transition(600ms ease-in-out);
    .button-hint-right{
        opacity: 1;
        left: 37px;
        @include border-radius(0);
    }
}
.wrapper-button_smallest.wrapper-right.is-active{
    right: 100px;
}
.wrapper-button_big.wrapper-left{
    position: fixed;
    left: 10px;
    top: 50px;
    @include transition(600ms ease-in-out);
    .button-hint-left{
        opacity: 1;
        right: 108px;
        @include border-radius(0);
    }
}
.wrapper-button_big.wrapper-left.is-active{
    left: 245px;
}
.wrapper-button_mid.wrapper-left{
    position: fixed;
    left: 15px;
    top: 200px;
    @include transition(600ms ease-in-out);
    .button-hint-left{
        opacity: 1;
        right: 89px;
        @include border-radius(0);
    }
}
.wrapper-button_mid.wrapper-left.is-active{
    left: 185px;
}
.wrapper-button_small.wrapper-left{
    position: fixed;
    left: 5px;
    top: 320px;
    @include transition(600ms ease-in-out);
    .button-hint-left{
        opacity: 1;
        right: 60px;
        @include border-radius(0);
    }
}
.wrapper-button_small.wrapper-left.is-active{
    left: 142px;
}
.wrapper-button_smallest.wrapper-left{
    position: fixed;
    left: 10px;
    top: 420px;
    @include transition(600ms ease-in-out);
    .button-hint-left{
        opacity: 1;
        right: 28px;
        @include border-radius(0);
    }
}
.wrapper-button_smallest.wrapper-left.is-active{
    left: 110px;
}