@import "base";

// ============== button ==============
.button{
	position: relative;
	display: block;
	height: 42px;
	width: 118px;
	padding-left: 42px;
	line-height: 42px;
	text-decoration: none;
	text-transform: uppercase;
	@include border-radius(15px);
	font-weight: bold;
	font-size: 15px;
	background: #000;
	color: #fff;
	&:hover{
		color: #ffce00;
	}
}
.button_mini{
	padding-left: 0px;
	width: 40px;
	@include border-radius(15px 0 0 15px);
}
.button__logo{
	position: absolute;
	top: 0px;
	left: -7px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	@include border-radius(22px);
	border: 3px solid #000;
	background: #ffce00;
	text-align: center;
	@include background-image(linear-gradient(top, #ffdd00, #aa5d00));
	img{
		vertical-align: middle;
		line-height: 1;
	}
	.button__corner{
		position: absolute;
		left: 0px;
		bottom: 0px;
		@include sized-sprite($buttons, button-corner);
	}
	.button__corner-big{
		position: absolute;
		left: 0px;
		bottom: 0px;
		@include sized-sprite($buttons, button-corner-big);
	}
	.button__corner-bigger{
		position: absolute;
		left: -2px;
		bottom: -2px;
		@include sized-sprite($buttons, button-corner-bigger);
	}
	.button__corner-biggest{
		position: absolute;
		left: 0px;
		bottom: 0px;
		@include sized-sprite($buttons, button-corner-biggest);
	}
}
.button_white{
	background: #fff;
	color: #000;
	.button__logo{
		border: 3px solid #fff;
	}
}
.button_slim{
	height: 30px;
	line-height: 30px;
	.button__logo{
		top: -7px;
	}
}
.button_big{
	width: 275px;
	height: 64px;
	padding-left: 60px;
	font: bold 36px Arial, sans-serif;
	line-height: 64px;
	@include border-radius(31px);
	.button__logo{
		width: 58px;
		height: 58px;
		line-height: 53px;
		top: 0px;
		left: -15px;
		@include border-radius(31px);
	}
}
.button_big-mini{
	width: 60px;
	padding-left: 0px;
	@include border-radius(31px 0 0 31px);
}
.button_bigger{
	width: 370px;
	height: 96px;
	padding-left: 90px;
	font: bold 48px Arial, sans-serif;
	line-height: 96px;
	@include border-radius(44px);
	.button__logo{
		width: 86px;
		height: 86px;
		line-height: 79px;
		top: 0px;
		left: -15px;
		border: 5px solid #000;
		@include border-radius(51px);
	}
}
.button_bigger-mini{
	width: 90px;
	padding-left: 0px;
	@include border-radius(50px 0 0 50px);
}
.button_biggest{
	width: 368px;
	height: 142px;
	padding-left: 163px;
	@include border-radius(50px);
	font: bold 50px Tahoma, sans-serif;
	line-height: 142px;
	.button__logo{
		left: -22px;
		height: 130px;
		line-height: 130px;
		width: 130px;
		border: 6px solid #000;
		@include border-radius(71px);
	}
}
.button_biggest-slim{
	height: 99px;
	line-height: 99px;
	font-weight: normal;
	.button__logo{
		top: -20px;
	}
}