@import "base";

// player
.player{
	position: relative;
	width: 640px;
	padding: 7px;
	border: 1px solid rgba(191,191,191,.9);
	@include border-radius(6px);
	@include box-shadow(0 0 9px rgba(0,0,0,.34));
	background-color: #fff;
}
.player__title{
	overflow: hidden;
	height: 20px;
	padding-top: 4px;
}
.player__close{
	float: left;
	@include sized-sprite($video, cast-close);
	&:hover{
		@include sized-sprite($video, cast-close-hover);
	}
}
.player__minimize{
	float: left;
	margin-left: 5px;
	@include sized-sprite($video, cast-mini);
	&:hover{
		@include sized-sprite($video, cast-mini-hover);
	}
}
.media{
	position: relative;
	height: 390px;
	@include background-image(linear-gradient(#263a58, #62636d));
	h1{
		padding-left: 13px;
		line-height: 44px;
		background: rgba(0,0,0,.5);
		@include font-B;
		font-size: 18px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		color: #ececec;
	}
	.advertize_media{
	 	position: relative;
	 	padding: 13px 74px;
	 	border-top: 1px solid #515f79;
	 	background: rgba(0,0,0,.5) url(../img/adv.png) 10px 10px no-repeat;

	 	p{
	 		width: 100%;
	 	}
	 	.media__advertize-close{
	 		position: absolute;
	 		bottom: -12px;
	 		left: 50%;
	 		margin: -12px 0 0 -12px;
	 		@include sized-sprite($video, close-growl);
	 	}
	}
	.cast__full-scr{
		position: absolute;
		top: 50%;
		left: 43%;
		width: 36px;
		height: 36px;
		background: url(../img/cast-full-scr.png) 0 0;
		z-index: 10; 
	}
	.cast__size{
		position: absolute;
		top: 50%;
		left: 52%;
		width: 36px;
		height: 36px;
		background: url(../img/cast-size.png) 0 0;
		z-index: 10; 
	}
	.icon-tabs{
		position: absolute;
		bottom: 10px;
		left: 50%;
		margin-left: -22px;
	}
}
.wrapper-controls{
	position: absolute;
	top: 0;
	left: 0;
	right:0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
}
.controls{
	position: absolute;
	bottom: 0px;
	left: 50%;
	width: 268px;
	height: 44px;
	margin-left: -134px;
	border: 1px solid #000;
	text-align: center;
	@include border-radius(2px);
	background: rgba(27,27,27,.8);
	@include box-shadow(inset 0 1px 2px rgba(255,255,255,.15));
	@include background-image(linear-gradient(bottom, #1f1f22, #2c2d32));
}
.wrapper-controls__video, .wrapper-controls__volume,
.wrapper-controls__playlist, .wrapper-controls__camera,
.wrapper-controls__chat, .wrapper-controls__settings{
	position: relative;
	display: inline-block;
	width: 37px;
	height: 37px;
}
.controls__item{
	position: absolute;
	top: -4px;
	left: 0;
	vertical-align: middle;
	cursor: pointer;
	z-index: 5;
}
.controls__video{
	@include sized-sprite($video, control-video);
	&:hover{
		@include sized-sprite($video, control-video-hover);
	}
}
.controls__panel{
	position: absolute;
	left: 1px;
	top: -167px;
	width: 35px;
	height: 142px;
	padding: 4px 0px 52px;
	background: #323232;
	@include background-image(linear-gradient(#373737, #2a2a2a));
	@include border-radius(16px);
	z-index: 4;
	span{
		display: block;
		width: 26px;
		height: 22px;
		margin: 0 auto;
		padding-top: 5px;
		@include border-radius(50%);
		background: #2d2d2d;
		border: 1px solid rgba(2,1,2,.21);
		@include box-shadow(0 2px 4px rgba(2,1,2,.19), inset 0 2px 2px rgba(255,255,255,.12));
		@include background-image(linear-gradient(bottom, #272727 0%, #272727 1.25%, #393939 100%));
		color: #adadbb;
		font-size: 14px;
		font-weight: bold;
		@include text-shadow(0 1px 4px rgba(0,0,0,.6));
		cursor: pointer;
		i{
			display: block;
			margin: 0px auto;
			@include sized-sprite($video, colors);
		}
	}
	ul{
		margin-top: 8px;
		li{
			height: 25px;
			line-height: 25px;
			border-top: 1px solid #3f3f3f;
			border-bottom: 1px solid #1b1b1b;
			text-align: center; 
			color: #bdbdbd;
			@include font-B;
			font-size: 9px;
			font-weight: bold;
			text-transform: uppercase;
			@include text-shadow(0 -1px 0 rgba(0,0,0,.4));
			cursor: pointer;
			&:hover{
				border-top: 1px solid #000;
				border-bottom: 1px solid #000;
				background: #2c7eb5;
				@include background-image(linear-gradient(#4d9fc9, #085aa0));
			}
		}
	}
}
.volume-toggle{
	margin-top: 8px;
}
.volume-toggle__base{
	position: relative;
	height: 114px;
	width: 5px;
	margin: 0 auto;
	border: 1px solid #161616;
	background-color: #1e1e1e;
	@include border-radius(6px);
	@include box-shadow(inset 0 1px 2px #000, 0 0 1px #000);
}
.volume-toggle__progress{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 5px;
	min-height: 0%;
	max-height: 100%;
	@include background-image(linear-gradient(bottom, #406610, #83b30d));
	cursor: pointer;
	&:after{
		content: "";
		position: absolute;
		top: -6px;
		left: -5px;
		@include sized-sprite($video, volume-toggle);
	}
}
.controls__volume{
	@include sized-sprite($video, control-volume1);
	&:hover{
		@include sized-sprite($video, control-volume1-hover);
	}
}
.controls__settings{
	@include sized-sprite($video, control-settings);
	&:hover{
		@include sized-sprite($video, control-settings-hover);
	}
}
.controls__separate{
	display: inline-block;
	width: 1px;
	height: 32px;
	margin: 6px 8px;
	border-left: 2px solid #242428;
	border-right: 2px solid #242428;
	background: #343438;
}
.controls__playlist{
	@include sized-sprite($video, control-playlist);
	&:hover{
		@include sized-sprite($video, control-playlist-hover);
	}
}
.controls__playlist.is-active{
	@include sized-sprite($video, control-playlist-hover);
}
.controls__camera{
	@include sized-sprite($video, control-camera);
	&:hover{
		@include sized-sprite($video, control-camera-hover);
		i{
			display: block;
		}
	}
	i{
		display: none;
		position: absolute;
		top: -30px;
		left: -28px;
		width: 90px;
		height: 18px;
		line-height: 18px;
		@include border-radius(10px);
		background: #000;
		text-align: center;
		font-size: 12px;
		font-weight: bold;
		font-style: normal;
		color: #fff;
		z-index: 11;
		&:after{
			content: "";
			position: absolute;
			bottom: -4px;
			left: 50%;
			width: 8px;
			height: 8px;
			margin: -5px 0 0 -5px;
			@include rotate(45deg);
			background: #000;
		}
	}
}
.controls__chat{
	@include sized-sprite($video, control-chat);
}

// playlist
.media-gallery{
	display: none;
	position: absolute;
	top: 62px;
	height: 229px;
	width: 546px;
	padding: 18px 47px;
	@include box-shadow(0 1px 0 rgba(255,255,255,.23), inset 0 0 6px rgba(0,0,0,.4));
	background: url(../img/bg-win.png);
	h2{
		padding-left: 12px;
		color: #cdcdcd;
		font-family: "Myriad Pro";
		font-size: 16px;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
	&:after{
		content: "";
		position: absolute;
		left: 50%;
		bottom: -7px;
		width: 12px;
		height: 12px;
		margin-left: -8px;
		border-right: 1px solid #6d7282;
		border-bottom: 1px solid #6d7282;
		@include rotate(45deg);
		background: url(../img/bg-win.png);
		}
}
.media-gallery.is-active{
	display: block;
}
.cycle-slideshow{
	margin: 12px 0 0 -4px;
	height: 175px;
	width: 554px;
}
.media-gallery__item{
	overflow: hidden;
	width: 172px;
	height: 175px;
	margin: 0 9px 0 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	h3{
		margin-top: 9px;
		padding: 0 4px;
		color: #cdcdcd;
		font-size: 13px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		white-space: normal;
	}
	p{
		margin: 5px 0;
		padding: 0 4px;
		color: #8b8b91;
		font-size: 11px;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		white-space: normal;
	}
	&:hover{
		.wrapper-media-gallery__video{
			background: #207191 url(../img/input-bg.png);
		}
		.video-play{
			display: block;
		}
	}
}
.wrapper-media-gallery__video{
	width: 164px;
	height: 104px;
	padding: 4px;
	@include border-radius(4px);
}
.media-gallery__video{
	position: relative;
	width: 160px;
	height: 100px;
	background: url(../img/video1.png);
	border: 2px solid #171717;
	@include border-radius(2px);
	.video-duration{
		position: absolute;
		bottom: 8px;
		left: 7px;
		width: 67px;
		height: 17px;
		line-height: 17px;
		text-align: center;
		color: #e9e9e9;
		font-size: 10px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		@include border-radius(10px);
		background: #000;
	}
	i{
		position: absolute;
		bottom: 0px;
		right: 0px;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 9px;
		border-color: #7aaa0b #272727 #272727 #7aaa0b;
	}
	.video-play{
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -27px 0 0 -27px;
		@include sized-sprite($video, play);
		cursor: pointer;
	}
}
#prev, #prev2, #prev3, #prev4{
	position: absolute;
	top: 36%;
	left: 0;
	@include sized-sprite($video, video-prev);
	cursor: pointer;
}
#next, #next2, #next3, #next4{
	position: absolute;
	top: 36%;
	right: 0;
	@include sized-sprite($video, video-next);
	cursor: pointer;
}

// video progress-bar
.video-progress{
	overflow: hidden;
	height: 21px;
	margin-bottom: -7px;
	padding-top: 5px;
	.video-progress__play{
		float: left;
		width: 42px;
		cursor: pointer;
		.video-play-small{
			display: block;
			margin: 0 auto;
			@include sized-sprite($video, video-play-small);
		}
	}
	.video-progress__line{
		float: left;
	}
	.video-progress__base{
		position: relative;
		width: 515px;
		height: 8px;
		margin-top: 4px;
		@include border-radius(10px);
		background: rgba(0,0,0,.26);
		@include box-shadow(0 1px 0 rgba(255,255,255,.16), inset 0 1px 2px rgba(0,0,0,.48));
		.video-progress__point1, .video-progress__point2, .video-progress__point3, .video-progress__point4{
			position: absolute;
			top: 2px;
			left: 22.5%;
			width: 5px;
			height: 5px;
			@include border-radius(50%);
			background: #323232;
		}
		.video-progress__point2{
			left: 45%;
		}
		.video-progress__point3{
			left: 67.5%;
		}
		.video-progress__point4{
			left: 90%;
		}
		.video-progress__loading{
			height: 8px;
			min-width: 0%;
			max-width: 100%;
			@include background-image(linear-gradient(bottom, rgba(58,58,58,.44) 0%, rgba(106,106,106,.44) 100%));
			@include border-radius(10px);
		}
		.video-progress__progress{
			position: absolute;
			height: 8px;
			min-width: 0%;
			max-width: 100%;
			@include background-image(linear-gradient(bottom, #3b6703 0%, #77a70b 100%));
 			@include border-radius(10px);
 			cursor: pointer;
 			&:after{
 				content: "";
 				position: absolute;
 				top: -5px;
 				right: -5px;
 				@include sized-sprite($video, video-toggle);
 			}
		}
	}
	.video-progress__time{
		float: right;
		color: #3b3b3b;
        @include font-B;
		font-size: 10px;
		font-weight: bold;
	}
}
.cast-announce{
	text-align: center;
	background: url(../img/bg-win.png);
	h1{
		background: transparent;
		color: #cdcdcd;
		@include font-B;
		font-size: 24px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
	p{
		margin: 0px 0 22px;
		color: #969595;
		@include font-B;
		font-size: 13px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
	.media-gallery__video{
		margin: 0 auto;
		.video-play{
			display: block;
		}
	}	
}
.cast-announce__img{
	padding: 26px 0 14px;
	span{
		display: inline-block;
		vertical-align: middle;
	}
}
.cast-announce__logo{
	@include sized-sprite($video, logo2);
}
.cast-announce__plus{
	@include sized-sprite($video, plus);
}
.cast-announce__break{
	@include sized-sprite($video, cup);
}
.media__dev{
	width: 270px;
	margin: 19px auto;
	height: 0;
	border-top: 1px solid #000100;
	border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}
.cast-announce__alert{
	color: #efb51e;
	@include font-B;
	font-size: 16px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
}
.cast-announce__timer{
	line-height: 140px;
	color: #cdcdcd;
	@include font-B;
	font-size: 48px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
}

// small-window
.wrapper-small-window{
	width: 270px;
	border: 1px solid #000;
	@include border-radius(2px);
	background-color: rgba(27,27,27,.8);
	@include box-shadow(0 0 6px rgba(0,0,0,.33), inset 0 1px 2px rgba(255,255,255,.15));
	@include background-image(linear-gradient(bottom, rgba(0,0,0,.2) 0%, rgba(255,255,255,.2) 100%));
}
.small-window{
	position: relative;
	width: 256px;
	height: 156px;
	margin: 6px auto;
	border: 1px solid #000;
	background: url(../img/bg-win.png);
	@include box-shadow(inset 0 1px 2px rgba(0,0,0,.15));
	text-align: center;
	p{
		margin: 10px 0 5px;
		color: #969595;
		@include font-B;
		font-size: 13px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
	a{
		color: #73bad8;
	}
}
.small-window__title{
	position: relative;
	height: 20px;
	border: none;
}
.small-window__close{
	position: absolute;
	top: 3px;
	left: 4px;
	cursor: pointer;
	@include sized-sprite($icons, bullet-red);
}
.small-window__connecting{
	margin-top: 18px;
}
.small-window__error{
	margin-top: 70px;
}
.small-window__loading{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.5);
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -28px 0 0 -28px;
	}
}
.small-window__button{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.2);
	cursor: pointer;
	img{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -27px 0 0 -27px;
	}
}

// window
.window{
	position: relative;
	overflow: hidden;
	width: 270px!important;
	min-width: 270px!important;
	.small-window{
		margin: auto;
	}
}
.window__content{
	padding: 6px;
	background: #1d1d1d;
}
.window__controls{
	margin: 10px 0 0;
	text-align: center;
}

// Equalizer
.equalizer{
	position: relative;
	width: 320px;
	min-width: 320px;
	background: #222428;
	border: 1px solid #000;
	.win__title{
		border: none;
		background: #222428;
		@include background-image(linear-gradient(top, #4f5155, #222428));
	}
}
.equalizer__toggle{
	position: relative;
	width: 34px;
	height: 12px;
	margin: 13px 0 16px 19px;
	@include border-radius(6px);
	background: rgba(17,17,17,.35);
	@include box-shadow(0 1px 0 rgba(255,255,255,.35), inset 0 1px 2px rgba(0,0,0,.5));
	cursor: pointer;
	.equalizer__handle{
		position: absolute;
		top: -1px;
		width: 14px;
		height: 14px;
		border: 1px solid rgba(2,1,2,.5);
		@include border-radius(8px);
		background-color: #000;
		@include box-shadow(0 2px 4px rgba(2,1,2,.35), inset 0 2px 2px rgba(255,255,255,.12));
		@include background-image(linear-gradient(bottom, #272727 0%, #272727 1.25%, #393939 100%));
		span{
			display: block;
			width: 4px;
			height: 4px;
			margin: 5px;
			background-color: #d90d0d;
			@include border-radius(2px);
			@include transition(background 0.2s ease);
			@include transition-delay(0.1s);
		}
	}
}
.equalizer__toggle.on{
	span{
		background-color: #7ca129;
		@include transition(background 0.2s ease);
		@include transition-delay(0.1s);
	}
}
.equalizer__controls{
	margin: 0 23px 16px;
	overflow: hidden;
}
.equalizer__item{
	float: left;
	width: 17px;
	padding-left: 10px;
	background: url(../img/eq-bg.png) 0 0 no-repeat;
	.equalizer__base{
		position: relative;
		width: 3px;
		height: 112px;
		margin: 0 auto;
		border: 1px solid #161616;
		@include border-radius(10px);
		@include box-shadow(0 0 1px 1px #2f2f2f);
		background: #1e1e1e; 
	}
	.equalizer__progress{
		@include sized-sprite($video, volume-toggle);
		margin-left: -6px;
		cursor: pointer;
	}
}
.equalizer__text{
	width: 49px;
	float: left;
	padding-right: 6px; 
	text-align: right;
	p{
		margin-top: 45px;
		color: #8b8b91;
		@include font-B;
		font-size: 9px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		&:first-child{
			margin-top: 0;
		}
	}
}

// adjustments
.adjustments{
	padding: 21px 15px 9px;
	border-bottom: 1px solid #000;
	@include box-shadow(1px 0 1px #434549);
}
.adjustments__item{
	overflow: hidden;
	margin-top: 12px;
	text-align: right;
	&:first-child{
		margin-top: 0;
	}
}
.adjustments__name{
	float: left;
	width: 65px;
	color: #8b8b91;
	@include font-B;
	font-size: 11px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
}
.adjustments__toggle{
	float: left;
	width: 225px;
	height: 20px;
	background: url(../img/eq-bg2.png) 32px 15px no-repeat;
	.adjustments__progress{
		position: relative;
		width: 182px;
		margin-left: 18px;
		.adjustments__base{
			position: relative;
 			width: 170px;
 			height: 5px;
 			margin: 6px 10px 0;
 			@include border-radius(10px);
 			border: 1px solid #2f2f2f;
			background: #1e1e1e;	
			@include box-shadow(inset 0 1px 2px #000);	
 		}
 		.adjustments__slider{
 			position: absolute;
 			top: -5px;
 			@include sized-sprite($video, volume-toggle);
 			cursor: pointer;
 		}
	}
}
.adjustments__brightness{
	&:before{
		content: "";
		position: absolute;
		top: -3px;
		left: -10px;
		@include sized-sprite($video, brightness-down);
	}
	&:after{
		content: "";
		position: absolute;
		top: -3px;
		right: -26px;
		@include sized-sprite($video, brightness-up);
	}
}
.adjustments__contrast{
	&:before{
		content: "";
		position: absolute;
		top: -4px;
		left: -10px;
		@include sized-sprite($video, contrast-down);
	}
	&:after{
		content: "";
		position: absolute;
		top: -4px;
		right: -21px;
		@include sized-sprite($video, contrast-up);
	}
}
.adjustments__saturation{
	&:before{
		content: "";
		position: absolute;
		top: -4px;
		left: -10px;
		@include sized-sprite($video, saturation-down);
	}
	&:after{
		content: "";
		position: absolute;
		top: -4px;
		right: -21px;
		@include sized-sprite($video, saturation-up);
	}
}
.adjustments__smooth{
	&:before{
		content: "";
		position: absolute;
		top: -4px;
		left: -10px;
		@include sized-sprite($video, smooth-down);
	}
	&:after{
		content: "";
		position: absolute;
		top: -4px;
		right: -21px;
		@include sized-sprite($video, smooth-up);
	}
}

// widget
.chat__audio{
	height: 141px;
	margin-bottom: 17px;
	@include box-shadow(2px 0px 8px 3px #000);
}
.widget{
	width: 656px;
	.input-message__text form{
		width: 497px;
	}
	.input-message__text{
		width: 90%;
	}
}
.form-search .input-search_widget{
	width: 572px;
	padding: 3px 27px 3px 24px;
}
.widget__video{
	position: relative;
	left: -7px;
	top: -13px;
	width: 640px;
	height: 390px;
	@include box-shadow(0 0 6px 1px #000);
}
.player_widget{
	left: -15px;
	top: -20px;
	@include border-radius(6px 6px 0 0);
	border: none;
}
.win .win__content_widget{
	@include border-radius(6px);
}