@import "base";

// ===================  chat  =========================
.win_chat{
	width: 350px;
	h3{
		color: #cdcdcd;
		font-size: 13px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	}
}
.win div.chat{
	position: relative;
	padding: 0 15px;
}
.chat__icons{
	position: relative;
	.chat__text-tab, .chat__files-tab{
		position: relative;
		display: inline-block;
		height: 11px;
		width:40px;
		padding-top: 40px;
		margin: 0 5px;
		@include font-B;
		text-decoration: none;
		text-align: center;
		font-size: 11px;
		color: #8b8c92;
		background: url(../img/text.png) 0 0 no-repeat;
		.chat__message-ind{
			position: absolute;
			top: 0px;
			right: 0px;
			width: 16px;
			height: 16px;
			@include border-radius(8px);
			background: #3f3933;
			@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25));
			@include background-image(linear-gradient(bottom, #900010 0%, #e40000 100%));
			@include text-shadow(0 -1px 0 rgba(0,0,0,.4));
			line-height: 16px;
			text-align: center;
			font-size: 10px;
			color: #fff;
		}
	}
	.chat__text-tab.is-active {
		background: url(../img/text-active.png) 0 0 no-repeat;
		&:after{
			content: "";
			position: absolute;
			left: 35%;
			bottom: -23px;
			width: 12px;
			height: 12px;
			border-top: 1px solid #42434c;
			border-left: 1px solid #42434c;
			@include rotate(45deg);
			background: url(../img/bg-win.png);
		}
	}
	.chat__files-tab{
		background: url(../img/files.png) 0 0 no-repeat;
	}
	.chat__files-tab.is-active{
		background: url(../img/files-active.png) 0 0 no-repeat;
	}
}
.form-search_chat{
	position: absolute;
	top: 0;
	right: 10px;
	width: 182px;
	margin: 1px 0 0;
	.input-search{
		width: 149px;
	}
}
.win .win__dev_chat{
	margin: 14px 0;
}
.chat__operator{
	overflow: hidden;
	h3{
		float: left;
		width: 250px;
		margin-left: 10px;
	}
}
.chat__outcoming{
	position: relative;
	margin: 17px 0;
	padding: 0 12px;
	@include border-radius(5px);
	background: #cce3ef;
	@include box-shadow(0 0 6px rgba(0,0,0,.75));
	&:before{
		content: "";
		position: absolute;
		top: 17px;
		left: -5px;
		width: 10px;
		height: 10px;
		background: #cce3ef;
		@include rotate(45deg);
	}
	li{
		position: relative;
		padding: 12px 0;
		border-top: 1px solid #abbfc9;
		.message-time{
			position: absolute;
			top: -6px;
			right: 0px;
			padding: 0 5px;
			background: #cce3ef;
			color: #7ba0b0;
			@include font-B;
			font-size: 11px;
			@include text-shadow(0 1px 0 rgba(255,255,255,.65));
		}
		&:first-child{
			border-top: none;
			.message-time{
				top: 17px;
			}
		}
		p{
			@include font-B;
			font-size: 13px;
			color: #456a7a;
		}
	}
}
.user{
	margin-bottom: 12px;
	@include font-B;
	font-size: 12px;
	color: #2b3a41;
	@include text-shadow(0 1px 0 rgba(255,255,255,.65));
	.operator-config{
		position: relative;
		display: inline-block;
		top: 3px;
		@include sized-sprite($icons, config);
	}
}
.sending-file{
	overflow: hidden;
	padding-left: 36px;
	background: url(../img/sending-file.png) 0% 0% no-repeat;
}
.sending-file__info{
	float: left;
	width: 100%;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	@include font-N;
	line-height: 1.5;
}
.sending-file__name{
	color: #3d95cb;			
	font-size: 13px;
}
.sending-file__weight{
	color: #8b8b92;
	font-size: 11px;
	font-weight: bold;
}
.sending-file__buttons{
	float: right;
}
.btn_chat{
	width: 84px;
	margin: 0 0 0 8px;
}
.chat__incoming{
	position: relative;
	margin: 17px 0;
	padding: 0 12px;
	@include border-radius(5px);
	background: #eaebf3;
	@include box-shadow(0 0 6px rgba(0,0,0,.75));
	&:after{
		content: "";
		position: absolute;
		top: 17px;
		right: -5px;
		width: 10px;
		height: 10px;
		background: #eaebf3;
		@include rotate(45deg);
	}
	li{
		position: relative;
		padding: 12px 0;
		border-top: 1px solid #c9cacf;
		.message-time{
			position: absolute;
			top: -6px;
			right: 0px;
			padding: 0 5px;
			background: #eaebf3;
			color: #7ba0b0;
			@include font-B;
			font-size: 11px;
			@include text-shadow(0 1px 0 rgba(255,255,255,.65));
		}
		.user{
			color: #000;
		}
		&:first-child{
			border-top: none;
			.message-time{
				top: 17px;
			}
		}
		p{
			@include font-B;
			font-size: 13px;
			color: #456a7a;
		}
	}
}
.chat__incoming_pink{
	background: #f5d3d3;
	&:after{
		content: "";
		background: #f5d3d3;
	}
	li{
		.message-time{
			background: #f5d3d3;
		}
	} 
}
.chat__censored{
	position: relative;
	margin: 17px 0;
	padding: 15px 12px;
	@include border-radius(5px);
	background: #9799a3;
	@include box-shadow(0 0 6px rgba(0,0,0,.75));
	&:after{
		content: "";
		position: absolute;
		top: 17px;
		right: -5px;
		width: 10px;
		height: 10px;
		background: #9799a3;
		@include rotate(45deg);
	}
	div{
		width: 68px;
		padding: 6px 9px;
		@include border-radius(10px);
		@include background-image(linear-gradient(bottom, #414247 0%, #212228 100%)); 
		@include font-B;
		font-weight: bold;
		text-transform: uppercase;
		color: #cdcdcd;
	} 
}
.chat__loading{
	.sending-file{
		background: url(../img/downloading-file.png) 0% 0% no-repeat;
	}
	.sending-file_upload{
		background: url(../img/uploading-file.png) 0% 0% no-repeat;
	}
}
.download__cancel{
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
.chat__user-status{
	position: relative;
	padding-left: 20px;
	line-height: 30px;
	@include font-B;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	color: #cdcdcd;
	i{
		position: absolute;
		top: 6px;
		left: -2px;
		@include sized-sprite($icons, bullet-red);
	}
	span{
		color: #bc262c;
	}
}
.chat__user-status_online{
	i{
		top: 8px;
		left: 0;
		@include sized-sprite($icons, bullet-green);
	}
	span{
		color: #83b30d;
	}
}
.chat__user-status_notify{
	i{
		top: 8px;
		left: 0;
		@include sized-sprite($icons, bullet-yellow);
	}
	span{
		color: #ffc000;
	}
}
.chat__counter{
	overflow: hidden;
}
.chat__progress-bar{
	float: left;
	width: 85%;
	height: 1px;
	margin-top: 5px;
	padding: 1px;
	@include border-radius(1px);
	background-color: #131417;
	@include box-shadow(0 1px 0 rgba(255,255,255,.06), inset 0 1px 0 rgba(0,0,0,.51));
	.chat__counter-progress{
		height: 1px;
		background: #a8c85c;
	}
}
.chat__counter-nunber{
	float: left;
	margin-left: 10px;
	color: #8b8b92;
	font-size: 11px;
	font-weight: bold;
}
.input-message{
	position: relative;
	overflow: hidden;
	margin: 5px 0;
}
.input-message__text{
	overflow: hidden;
	width: 85%;
	@include border-radius(5px);
	background: #eaebf3;
	.input-message__config{
		float: left;
		width: 37px;
		height: 20px;
		margin: 10px 8px;
		border-right: 1px solid #bdbec8;
		a{
			position: relative;
		}
		.config-message{
			position: absolute;
			top: 3px;
			left: 5px;
			@include sized-sprite($icons, config-message);
		}
		.arr-15{
			position: absolute;
			top: 7px;
			left: 24px;
			@include sized-sprite($icons, arr-15);
		}
	}
	form{
		float: left;
		overflow: hidden;
		width: 206px;
		padding: 5px 10px 0px 0px;
		.input-message__input{
			max-width: 100%;
			width: 100%;
			height: 100%;
			outline: none;
			border:none;
			background: transparent;
		}
	}
}
.button-round{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	@include border-radius(20px);
	@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25));
	background: #629508;
	@include background-image(linear-gradient(bottom, #457b03 0%, #8bb90d 100%));
	border: none;
	cursor: pointer;
	i{
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -6px 0 0 -6px;
		@include sized-sprite($icons, arr-16);
	}
	&:hover{
		@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25), inset 0 20px 18px rgba(255,255,255,.32));
		background: #76a90a;
		@include background-image(linear-gradient(bottom, #477b03 0%, #477b03 1%, #87b50d 100%));
	}
	&:active{
		background: #649708;
		@include background-image(linear-gradient(bottom, #8bb90d 0%, #457b03 100%));
	}
}
.button-round_red{
	@include background-image(linear-gradient(bottom, #8a000f 0%, #d4061d 100%));
	&:hover{
		@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25), inset 0 7px 18px rgba(255,255,255,.65));
		@include background-image(linear-gradient(bottom, #8b000f 0%, #cd0017 100%));
	}
	&:active{
		@include box-shadow(0 0 3px rgba(0,0,0,.5), 0 0 5px rgba(0,0,0,.25));
		@include background-image(linear-gradient(bottom, #d30018 0%, #87000f 100%));

	}
}
.button-round_send-message{
	position: absolute;
	top: 0px;
	right: 0px;
}

// chat files-tab
.upload-file{
	position: relative;
	overflow: hidden;
	height: 77px;
	margin-bottom: 25px;
	@include border-radius(5px); 
	border: 1px dashed #66686e;
	button{
		position: absolute;
		top: 5px;
		left: 18px;
	}
	p{
		float: right;
		width: 135px;
		padding: 15px;
		@include font-B;
		font-size: 13px;
		font-weight: bold;
		color: #8b8c92;
	}
}
.files-history{
	margin: 25px 0 0 0;
	ul{
		margin: 12px -15px 0;
	}
	li{
		overflow: hidden;
		padding: 0 15px;
		height: 27px;
		line-height: 27px;
		border-top: 1px solid #000;
		@include box-shadow(inset 0px 1px 1px #46474d);
		@include font-N;
		font-size: 13px;
		text-transform: uppercase;
		color: #8b8c92;
		&:first-child{
			text-transform: none;
			font-size: 11px;
			@include background-image(linear-gradient(top, #505050, #212121));
			.files-history__name{
				cursor: pointer;
				color: #8b8c92;
				margin-left: -15px;
				padding-left: 15px;
			}
			.files-history__kind, .files-history__size{
				border-left: 1px solid #292929;
				cursor: pointer;
			}
			.files-history__size{
				margin-right: -15px;
				padding-right: 15px;
			}
			.is-sorted{
				position: relative;
				background: #545454 url(../img/arr-04.png) 0 0 no-repeat;
				@include background-image(linear-gradient(top, #545454, #383838)); 
				&:after{
					content: "";
					position: absolute;
					top: 11px;
					right: 10px;
					@include sized-sprite($icons, arr-04);
				}
			}
		}
		.files-history__name{
			float: left;
			width: 168px;
			text-transform: none;
			color: #3e96cc;
		}
		.files-history__kind, .files-history__size{
			float: left;
			width: 74px;
			text-align: center;
		}
	}	
}

// chat settings
.chat-settings{
	position: relative;
	.chat-settings__close{
		position: absolute;
		top: -12px;
		left: 50%;
		margin-left: -12px;
		i{
			display: block;
			@include sized-sprite($icons, close-growl);
		}
	}
}
.chat-settings__ptofile{
	overflow: hidden;
	padding: 10px 0;
	margin: 0px 13px 0px 22px;
	.chat-begin__name{
		float: left;
		width: 145px;
		margin-left: 22px;
		color: #8b8b92;
		@include font-B;
		font-size: 12px;
		font-weight: bold;
		@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		h3{
			padding-bottom: 5px;
			color: #cdcdcd;
			@include font-B;
			font-size: 16px;
			font-weight: bold;
			@include text-shadow(0 1px 0 rgba(0,0,0,.75));
		}
	}
}
.chat-settings__list{
	position: relative;
	color: #cdcdcd;
	@include font-B;
	font-size: 13px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	li{
		position: relative;
		height: 40px;
		line-height: 40px;
		padding: 0 30px;
		border-top: 1px solid #2f2f2f;
		border-bottom: 1px solid #0a0a0a;
		background: #1c1c1c;
		cursor: pointer;
		i{
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}
		&:hover{
			border-top: 1px solid #75b5d5;
			background: #3a8cbd;
			@include background-image(linear-gradient(top, #4ea0c9, #07599f));
		}
		.chat-settings__langs{
			position: absolute;
			top: 5px;
			left: 70px;
			.select{
				width: 250px;
			}
		} 
	}
	.chat-settings__info{
		@include sized-sprite($icons, info);
	}
	.chat-settings__language{
		@include sized-sprite($icons, language-small);
	}
	.chat-settings__ban{
		@include sized-sprite($icons, ban);
	}
	.chat-settings__filter{
		@include sized-sprite($icons, filter);
	}
	.chat-settings__message{
		@include sized-sprite($icons, message);
	}
	.chat-settings__save{
		@include sized-sprite($icons, save);
	}
	.chat-settings__print{
		@include sized-sprite($icons, print2);
	}
	.chat-settings__delete{
		@include sized-sprite($icons, delete);
	}
	.chat-settings__lib{
		@include sized-sprite($icons, lib);
	}
}
.btn_small{
	height: 25px;
	line-height: 25px;
}

// q-lib window
.q-lib{
	position: relative;
	height: 50px;
	padding: 0 10px;
	.input-search{
		width: 275px;
		padding: 3px 27px 3px 24px;
	}
}
.q-lib-results{
	li{
		height: 40px;
		line-height: 40px;
		border-top: 1px solid #2f2f2f;
		border-bottom: 1px solid #0a0a0a;
		background: #1c1c1c;
		a{
			display: block;
			height: 100%;
			padding: 0 10px;
			color: #cdcdcd;
			@include font-B;
			text-decoration: none;
			font-size: 13px;
			font-weight: bold;
			&:hover{
				border-top: 1px solid #75b5d5;
				background: #3a8cbd;
				@include background-image(linear-gradient(top, #4ea0c9, #07599f));
			}
		}
	}
}
.input-search__cancel{
	position: absolute;
	top: 6px;
	right: 6px;
	@include sized-sprite($icons, cancel3);
}
.win_rate{
	overflow: hidden;
	width: 350px;
	margin-left: 0px;
	@include border-radius(6px);
}
.quality-selection{
	overflow: hidden;
	margin: 36px 0 33px;
	.quality-selection__item{
		display: inline-block;
		width: 16px;
		margin: 0 5px;
	}
	label{
		position: relative;
		display: block;
		width: 16px;
		height: 17px;
		input{
			opacity: 0;
		}
		input + span{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../img/input.png) no-repeat;
			cursor: pointer;
		}
		input:checked + span{
			background: url(../img/input-checked.png) no-repeat;
		}
	}
}
.multi-filter{
	overflow: hidden;
	height: 26px;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #2a2a2a;
	@include background-image(linear-gradient(top, #505050, #212121));
	color: #919191;
	@include font-B;
	font-size: 11px;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
}
.multi-filter__name{
	position: relative;
	float: left;
	width: 93px;
	padding-left: 15px;
	line-height: 26px;
	border-right: 1px solid #2b2b2b;
	cursor: pointer;
	&:after{
		content: "";
		position: absolute;
		top: 11px;
		right: 10px;
		@include sized-sprite($icons, arr-04);
	}
	&:hover{
		background: #545454;
		@include background-image(linear-gradient(top, #545454, #383838));
	}
}
.multi-filter__select{
	float: left;
	text-align: center;
	height: 26px;
	line-height: 23px;
	padding: 0 12px;
	span{
		display: inline-block;
		width: 106px;
		height: 19px;
		line-height: 19px;
		vertical-align: middle;
		@include border-radius(9px);
		cursor: pointer;
	}
	span.is-active{
		color: #3e96cc;
		background-color: rgba(0,0,0,.35);
		@include box-shadow(0 1px 0 rgba(255,255,255,.35), inset 0 1px 2px rgba(0,0,0,.5));
	}
}
.users-to-upload{
	overflow: hidden;
	background: #1c1c1c;
	color: #cdcdcd;
    @include font-B;
	font-size: 13px;
	font-weight: bold;
	@include text-shadow(0 1px 0 rgba(0,0,0,.75));
	li{
		height: 41px;
		line-height: 41px;
		padding: 0 15px;
		border-top: 1px solid #2f2f2f;
		border-bottom: 1px solid #0a0a0a;
	}
	label{
		position: relative;
		display: block;
		cursor: pointer;
		input{
			opacity: 0;
		}
		input + span{
			position: absolute;
			top: 50%;
			left: -2px;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			background: url(../img/checkbox.png) no-repeat;
		}
		input:checked + span{
			background: url(../img/checkbox-active.png) no-repeat;
		}
	}
}
.users-to-upload_mod{
	li{
		height: 60px;
		line-height: 60px;
		overflow: hidden;
		clear: both;
		.chat-begin__logo{
			margin: 8px 0px 8px 20px;
		}
	}
}
.chat-begin__buttons_right{
	padding: 0;
	button.btn{
		float: right;
		margin-left: 15px;
	}
}