@import "base";

.drop, .drop_sub{
	border-radius:6px;
	background:#29262f;
	border:1px solid #000;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.75), 0 1px 0 0 rgba(white,.1) inset;
	padding:3px;
	position: absolute;
	top:100%;
	left:23px;
	display: none;
	width:180px;
	z-index:70; 
	&:before{
		content:'';
		position: absolute;
		@include sized-sprite($icons, 'drop-arr');
		top:-20px;
		left:20px;
	}
	h3{
		font-size:13px;
		color:#cecece;
		font-family:Helvetica, Arial, sans-serif;
		margin:9px 0 9px 13px;
		&:first-child{margin-top:5px;}
		line-height:15px;
	}
}

.drop_center{
	&:before{
		left:50%;
		margin-left:-10px;
	}
}

.drop_sub{
	top:-18px;
	left:184px;;
	&:before{
		@include sized-sprite($icons, 'drop-arr-v');
		top:20px;
		left:-21px;
	}
}

.drop_search{
	width:275px;
	left:-1px;
}

.drop_user-list{
	width:275px;
	left:1px;
}

.form-search{
	position: relative;
	margin: 6px 0 0;
	.input-search{
		background:#1f2026;
		border-radius:3px;
		border:1px solid #000;
		box-shadow:0 1px 1px -1px rgba(0,0,0,.75) inset, 0 1px 0 0 #454754;
		font-size:12px;
		height:20px;
		line-height:20px;
		padding: 3px 7px 3px 24px;
		width: 242px;
		color:#fff;
	}
}
.form-search .cancel, .cancel-gray{
	@include sized-sprite($icons, 'cancel');
	position: absolute;
	top:7px;
	right:6px;
	opacity:.1;
	cursor:pointer;
	&:hover{
		opacity:.3;
	}
}
.icon-search{
	@include sized-sprite($icons, 'btn-search');
	position: absolute;
	top:1px;
	left:-1px;
	border:0;
	color:transparent;
	font:0/0 a;
}
.form-search_sm .input-search{width:168px;}
.drop__list{
	list-style: none;
	box-shadow:0 0 3px 2px rgba(0,0,0,.75);
	background:#eaebf3;
	border-radius:5px;
	li{
		font-size:13px;
		line-height:28px;
		padding:0 10px;
		font-weight:bold;
		position: relative;
		background:#eaebf3;
		color:#2c2c37;
		&:first-child{
			border-top-right-radius:5px;
			border-top-left-radius:5px;
		}
		&:last-child{
			border-bottom-right-radius:5px;
			border-bottom-left-radius:5px;
		}
		&:nth-child(even){
			background:#f7f8fc;
			border-top:1px solid #cad2dc;
			border-bottom:1px solid #d1d2d7;
			line-height:26px;
			a{height: 26px; }
		}
		a{
			color:#2c2c37;
			display:block;
			text-decoration: none;
			padding:0 10px;
			margin:0 -10px;
			height:28px;
			&:hover{
				color:#fff;
				text-shadow:rgba(0,0,0,.4) 0 1px 0;
				.search_link{color:#fff;}
			}
			.search_link{
				color:#7a7a8c;
				font-size:10px;
				position: absolute;
				left:142px;
				margin-top:1px;
			}
		}
		&:hover{
			background:#4ea0c9;
			@include background-image(linear-gradient(#4ea0c9, #085aa0));
			border-top-color:#75b5d5;
			border-bottom-color:#010b13;
			.drop-arr{
				@include sized-sprite($icons, 'arr-02_active');
				margin-top:-6px;
			}
			.drop_sub{display: block;}
		}
		.drop__list{
			li{
				background:#eaebf3;
				line-height:28px;
				border:0;
				&:nth-child(even){
					background:#f7f8fc;
					border-top:1px solid #cad2dc;
					border-bottom:1px solid #d1d2d7;
					line-height:26px;
				}
				&:hover{
					background:#4ea0c9;
					@include background-image(linear-gradient(#4ea0c9, #085aa0));
					border-top-color:#75b5d5;
					border-bottom-color:#010b13;
				}
			}
		}
		
	}
	input, .radio_light{margin-right:10px;}
	.icon{
		display: inline-block;
		margin-right:10px;
		vertical-align:middle;
	}
	.drop-arr{
		@include sized-sprite($icons, 'arr-02');
		position:absolute;
		right:9px;
		top:50%;
		margin-top:-5px;
	}
}

.icon-history{@include sized-sprite($icons, 'icon-history');}
.icon-pay{@include sized-sprite($icons, 'icon-pay');}
.icon-file{@include sized-sprite($icons, 'icon-file');}
.icon-widget{@include sized-sprite($icons, 'icon-widget');}
.icon-user{@include sized-sprite($icons, 'icon-user');}
.icon-forms{@include sized-sprite($icons, 'icon-forms');}
.icon-device{@include sized-sprite($icons, 'icon-device');}
.icon-card{@include sized-sprite($icons, 'icon-card');}
.icon-audio-big{
	@include sized-sprite($icons, 'icon-device-5');
	display: inline-block;
	margin: 0 0 0 3px;
}
.icon-eye-big{
	@include sized-sprite($icons, 'icon-eye-2');
	display: inline-block;
	position: relative;
	top: 3px;
}
.drop_user{
	width: 232px;
	left: -149px;
	padding:7px 6px; 
	&:before{
		left:auto;
		right: 11px; 	
	}
	.row{
		margin: 7px 0 0;
		display: inline-block;
		width: 100%; 
		.icon-eye-big, .icon-audio-big{float: left; }
		.selectbox{float: right;}
		.select{width: 196px;}
	}
	h3{
		margin: 9px 0 9px 2px;
	}
	.text-note{
		margin: 13px 0 13px 8px;
	}
	.rating{
		float: right;
		.rating__img{
			@include sized-sprite($icons, 'icon-medal-2');
			display: inline-block;
			margin: 0 4px -5px 0;
			position: relative;
			top: -1px;
		}
		.rating__inf{
			display: inline-block;
			color: #66616c;
			font-size:11px;
			font-weight:bold;
			vertical-align: middle;
			strong{
				font-size:13px;
				font-weight: bold;
				color: #f2ba06;  
			}
		}
	}
}
.btn_testing{
	height: 35px;
	line-height:35px;
	width: 100%;
	margin:9px 0 0;   
}
.drop__dev{
	border-bottom: 1px solid #4C4B53;
	border-top: 1px solid #000100;
	height: 0;
	width: 100%;
	margin: 12px 0 10px;
}
.btn-purple{
	background: #6b2bb3;
	@include background-image(linear-gradient(#6b2bb3, #301565));
	box-shadow:0 2px 1px 0 rgba(0,0,0,.15), 0 1px 0 0 rgba(white,.23) inset, 0 -1px 0 0 rgba(0,0,0,.56) inset;
	height: 24px;
	border-radius:12px;
	color: #a791c2;
	font-size:11px;
	font-weight: bold;
	padding:0 10px;
	cursor: pointer; 
	margin: 4px 8px 2px 0;
}
.browser-list{
	padding-left:2px;  
	li{
		list-style: none;
		color: #66616c;
		font-size:11px;
		font-weight:bold;
		margin-bottom: 5px; 
	}	
}

.drop .user-list{
	margin:7px -3px;
	border-bottom:0;
	.user-item{
		padding-left:7px;
		&:first-child{
			box-shadow:none;
			border-top:1px solid #29262f;
		}
	}
}