@import "base";
.win_big{
	width:1232px;
	.win__content{
		background:url(../img/bg-win2.png);
		padding-top:0;
		height: 330px; 
	}
	.win__content_larger{
		height: 394px;
		.win__cols .win__col3, .scroll .scrollbar, .scroll .track, .scroll .viewport{
			height: 394px;
		}
		.win__cols .win__col1{
			height: 342px; 
		}
	}
	.tabs{
		padding-top:0; 
		.tabs__nav{
			.active{
				@include background-image(linear-gradient(rgba(0,0,0,.35), rgba(0,0,0,.17)));
			}
		}
		.tabs__contant{
			@include background-image(linear-gradient(rgba(0,0,0,.17), transparent 25%, transparent));
			padding: 10px 18px 0 9px;
		}
		.win__header{
			padding-right:17px; 
		}
	}
}


.win__cols{
	overflow: hidden;
	width:100%;
	.win__col3{
		float:left;
		width:917px;
		height:330px;
	}
	.win__col1{
		float:right;
		width:294px;
		border-left:5px solid #413d46;
		background:url(../img/bg-win.png);
		height:278px;
		padding:12px 7px 40px;
		position: relative;
		.win__dev{
			width: 294px;
			margin:11px auto; 
		}
		.win__dev2{margin: 13px auto 5px;}
	}
	.scroll .overview{width:917px;}
	.row-btn{
		margin:0 -7px 10px;
		text-align: right;
		.btn{
			margin:0 8px;
			&:nth-child(2){margin-left:1px; }
		}
	}
	.row-btn_bottom{
		position: absolute;
		bottom:0;
		left:0;
		height:30px;
		margin:0 0 10px;
	}
}


.win__header{
	height:45px;
	padding:4px 9px 0;
	.form-search{
		float: left;
		padding:0;
		margin:7px 15px 0 0;
	}
	.tabs__nav{
		float: left;
		padding:0;
		margin-right:10px;  
	}
	.dev-vert{float: left;}
	.r-btn-gray{float: left;}
}


.right-block{
	float: right;
	padding-top:3px;
}


.dev-vert{
	border-left: 1px solid rgba(0,0,0,.3);
	border-right:1px solid rgba(white,.1);
	height:36px;
	width:0;
	margin:0 11px;
}

.scroll{
	position: relative;
	.scrollbar{
		position: absolute;
		width: 12px;
		height: 330px;
		z-index:30;
		top:0;
		right:-2px;
	}
	.track{
		@include background-image(linear-gradient(to right, rgba(0,0,0,.42) 0%, rgba(0,0,0,.20) 50%, rgba(0,0,0,.42) 100%));
		height: 330px;
		width:10px;
		position:
		relative;
	}
	.thumb{
		background-color:#5c5a60;
		height:20px;
		width:6px;
		cursor: pointer;
		overflow: hidden;
		position: absolute;
		top: 0;
		border-radius:3px;
		left:2px;
	}
	.viewport{
		height: 330px;
		overflow: hidden;
		position: relative;
	}
	.overview{
		list-style: none;
		position: absolute;
		left: 0;
		top: 0;
		padding-bottom:8px;
	}
	.disable{display: none;}
}
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

.select{
	position: relative;
	background:#1f2026;
	border-radius:3px;
	border:1px solid #000;
	box-shadow:0 1px 1px 0 rgba(0,0,0,.7) inset, 0 1px 0 0 #454754;
	font-size:12px;
	height:20px;
	line-height:20px;
	height:26px;
	width: 292px;
	color:#fff;
	.trigger{
		@include background-image(linear-gradient(rgba(51,51,51,1) 0%, rgba(66,66,66,1) 4%, rgba(59,59,59,1) 20%, rgba(42,42,42,1) 48%, rgba(33,33,33,1) 100%));
		border:1px solid #000;
		box-shadow: 0 0 5px rgba(0,0,0,.4);
		border-radius:0 4px 4px 0;
		height:26px;
		width:35px;
		position: absolute;
		top:-1px;
		right:-1px;
		cursor:pointer;
	}
	.arrow{
		@include sized-sprite($icons, 'arr-06');
		display: block;
		margin: 11px 0 0 12px;
	}
	.select__sel{
		position: absolute;
		top:0;
		left:0;
		height:28px;
		opacity:0;
		width:292px;
	}
	.text{
		padding: 3px 7px;
		font-size:13px;
		color:#cecece;
		text-shadow:0 -1px 0 rgba(0,0,0,.75);
		font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
		line-height:20px;
		display: block;
	}
}
.selectbox{
	.dropdown{
		background: #212121;
		width: 100%; 
		overflow: visible !important;
		&:after{
			width:35px;
			height:4px;
			background: #212121;
			position: absolute;
			top:-3px;
			right: 0;
			border-right:1px solid #000;
			content:"";
		}
		&:before{
			width: 1px;
			height: 1px;
			background: #000;
			position: absolute;
			top: -1px;
			left: 0;
			content:"";
		}
		ul{
			border-top:1px solid #404040;
		}
		li{
			color:#cecece;
			font-family: 'HelveticaNeue', Helvetica, Arial, sans-serif;
			font-size:13px;
			height: 27px;
			line-height:27px;
			border:1px solid #080808;
			border-top:1px solid #404040;
			text-indent:7px;
			cursor: pointer;
			&:hover{
				@include background-image(linear-gradient(#4fa1ca, #05579e));
				/*box-shadow:0 1px 0 #6fb2d4 inset, 0 -1px 0 #011424 inset, 1px 0 0 rgba(white,.1) inset, -1px 0 0 rgba(0,0,0,.3) inset;*/
				border-color:#6fb2d4 #17415d #011424 #408bbd;
			}
			&:first-child{
				border-top-color:#212121;
				&:hover{
					border-top-color:#6fb2d4;
				}
			}
			&:last-child{
				border-radius:0 0 3px 3px;
			}
		}
	}
}
.selest_search{
	.icon-search{top:0;}
	.select__text{padding-left:24px;}
}
.select_green{
	@include background-image(linear-gradient(#8ab90e, #4b7f05));
	.select__text{color:#fff;}
}
.select_small{
	width: 99px;
	display: inline-block;
	.select__sel{
		width: 99px;
	}
}
.filter-list{
	margin:18px -7px 0;
}
.filter__item{
	background:#1c1c1c;
	border-top:1px solid #2f2f2f;
	border-bottom:1px solid #1c1c1c;
	line-height: 20px;
	padding:10px 0 10px 8px;
	font-size:13px; 
	color: #cecece;
	position: relative;
	font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
	&:nth-child(even){
		background:#222;
	}
	.radiobtn{
		display: inline-block;
		margin-right: 10px;
	}
	.filter__arr{
		@include sized-sprite($icons, 'arr-07');
		display: inline-block;
		margin: 0 6px;
	}
	.cancel-gray{
		top:50%;
		margin-top:-7px;
		right: 12px;  
	}
}
.array_left,
.array_right{
	position: absolute;
	top:50%;
	margin-top: -19px;
	&:hover{opacity:0.5; }
}
.array_left{
	@include sized-sprite($icons, 'array-l');
	left:21px;
}
.array_right{
	@include sized-sprite($icons, 'array-r');
	right:21px;
}
.new-doc-holder{
	position: absolute;
	top:50%;
	left:50%;
	margin:-35px 0 0 -100px;
	@include sized-sprite($icons, 'plus-holder');

}
.new-doc{
	margin-top:39px;
	color:#fff;
	font-size:13px;
	border:1px solid #00284a;
	@include background-image(linear-gradient(#4a9cc7, #0a5ca1)); 
	box-shadow:0 2px 2px 0 rgba(white,.12) inset, 0 15px 15px -15px rgba(white,.3) inset, 0 2px 4px 0 rgba(0,0,0,.25);
	border-radius:4px;
	width: 200px;
	margin:39px 0 0;
	font-weight:bold; 
	height: 40px; 
	cursor:pointer;
	&:hover{
		@include background-image(linear-gradient(#0a5ca1, #4a9cc7 ));
		box-shadow:0 2px 2px 0 rgba(white,.12) inset, 0 -15px 15px -15px rgba(white,.3) inset, 0 2px 4px 0 rgba(0,0,0,.25);
	}
}

.filter-list_light{ 
	box-shadow:0 0 5px rgba(0,0,0,.75);
	margin:10px 0;
}
.filter__item_light{
	background: #f5f8fc;
	@include background-image(linear-gradient( #f5f7fc 0%, #f7f8fb 41%, #ebeef4 78%, #eaedf3 100% ));
	border:0;
	border-bottom:1px solid #bbc6d3;
	color:#2c2c37;
	padding: 9px 0 9px 10px;
	&:nth-child(even){
		background:#eaebf3;
		background-image:none; 
	}
	&:first-child{
		border-radius:5px 5px 0 0;
	}
	&:last-child{
		border-radius:0 0 5px 5px;
		border-color:#bbc6d3;
	}
	.cancel-gray{
		@include sized-sprite($icons, 'cancel2');
		opacity:1;
		&:hover{opacity:0.6;}
		right: 8px; 
	}
}
.icon-pencil_gray{
	@include sized-sprite($icons, 'icon-pencil_gray');
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.icon-pencil_blue{
	@include sized-sprite($icons, 'icon-pencil_blue');
	display: inline-block;
	position: relative;
	top: 2px;
	margin-right: 5px;
}
.datepicker{
	float: left;
	margin: 7px 15px 0 0;
	position: relative;
}
.date-input{
	width: 184px;
	position: relative;
	.date-input__text{
		font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
		font-size:13px;
		color:#cecece;
	}
	.date-input__dev{
		font-size:13px;
		color:#f2ba06;
		font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
	}
}
.date__btn{
	@include background-image(linear-gradient(rgba(51,51,51,1) 0%, rgba(66,66,66,1) 4%, rgba(59,59,59,1) 20%, rgba(42,42,42,1) 48%, rgba(33,33,33,1) 100%));
	border:1px solid #000;
	box-shadow: 0 0 5px rgba(0,0,0,.4);
	border-radius:0 4px 4px 0;
	height:28px;
	width:37px;
	position: absolute;
	top:-1px;
	right:-1px;
	cursor:pointer;
}
.icon-points{
	@include sized-sprite($icons, 'points');
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top:-2px;
}

.datepicker__drop{
	border-radius:5px;
	background:#29262f;
	border:1px solid #000;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.75), 0 1px 0 0 rgba(white,.1) inset;
	padding:4px;
	position: absolute;
	top:100%;
	margin-top:4px; 
	left:70px;
	width:210px;
	display: none;
	&:before{
		content:'';
		position: absolute;
		@include sized-sprite($icons, 'drop-arr');
		top:-20px;
		left:99px;
	}
}
.datepicker__header{
	@include background-image(linear-gradient(#62646f, #42444e));
	box-shadow:0 1px 3px rgba(0,0,0,.5), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset, 0 -1px 0 0 rgba(47, 77, 0, 0.09) inset;
	position: relative;
	border-radius:3px 3px 0 0;
	padding:6px 0 7px;
	text-align: center;
	.date-prev, .date-next{
		top:50%;
		position: absolute;
		margin-top:-6px;
		cursor:pointer;
	}
	.date-prev{
		@include sized-sprite($icons, 'arr-09');
		left:8px;
	}
	.date-next{
		@include sized-sprite($icons, 'arr-10');
		right:8px;
	}
	.date-m,.date-y{
		font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
		color:#fff;
		font-size:13px;
		height: 18px;
		line-height:18px;
		border:1px solid rgba(0,0,0,.15);
		padding:0 9px;
		border-radius:9px;
		display: inline-block;
		text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
		margin: 0 13px;
		cursor: pointer;
		&.active{
			border:1px solid rgba(0,0,0,.11);
			background: #3d3d47;
			box-shadow:0 1px 1px rgba(0,0,0,.5) inset, 0 1px 0 rgba(white,.2); 
		}
	}
}
.date-table{
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	height: 169px;
	th{
		background: #e3e3e3;
		color: #646464;
		font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
		font-size:9px;
		font-weight:normal;
		height: 20px; 
	}
	td{
		background: #fff;
		height: 29px;
		border-bottom:1px solid #eaeaea;
		border-left:1px solid #eaeaea;
		text-align: center;
		color: #454545;
		font-size:12px;
		font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
		width: 29px; 
	}
	.today{
		@include background-image(linear-gradient(rgba(224,224,224,1), rgba(255,255,255,0)));
		color: #000; 
	}
	.chosen{
		@include background-image(linear-gradient(#c3db86, #a6c082));
	}
	.chosen2{
		@include background-image(linear-gradient(#67b9e8, #1a7fb8));
		box-shadow:0 0 4px 1px rgba(0,70,110,.40) inset;
		color:#fff;
	}
	.inactive{
		color:#c8c8c8;
	}
	tr:last-child{
		td{
			border-bottom:0;
		}
		td:first-child{
			border-radius:0 0 0 3px;
		}
		td:last-child{
			border-radius:0 0 3px 0;
		}
	}
	td:first-child{
		border-left:0;
	}
}
.date-table_m{
	td{
		width: 69px;
		height: 41px;
	}
	tr:first-child td{height: 42px;}
	tr:last-child td{height: 42px;}
}
.datepicker__footer{
	padding:5px 0 0;
	overflow: hidden;
	.btn{
		height: 28px;
		border-radius:3px;
	}
	.btn_75{margin-right:4px;}
	.btn_45{float: right;}
}

.input_half{
	width: 129px;
	display: inline-block; 

}
.input_full{
	width: 277px; 
}
.input_180{
	width: 183px; 
}
.form-row{
	margin-bottom:12px;
	line-height:27px; 
}
.form-row_radio{
	margin-top:17px; 	
}
.label{
	font-size:13px; 
	color: #cecece;
	margin:0 5px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
}
.label_bold{
	font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
}
.help-link{
	font-size:13px;
	color: #3e96cc;
	text-shadow:0 1px 0 rgba(0,0,0,.75); 
	text-decoration: none;
	margin-left:6px; 
	&:hover{
		text-decoration: underline;
	}
}

.form-note{
	font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
	font-size:11px;
	color:#8b8c92;
	line-height: 1.6;
	margin-bottom: 8px;
	a{
		color:#3e96cc;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	} 
}

.pagi{
	a{

	}
	
	.pagi__right
	.pagi__left{
		
	}
	.pagi__right{
		
	}
}