@import "base";
.win{
	position: absolute;
	border-radius:6px;
	width:340px;
	box-shadow:0 0 15px 0 rgba(0,0,0,0.75);
	left:50%;
	top:100px;
	margin-left:-170px;
	.win__header{
		background:#414141;
		@include background-image(linear-gradient(#414141, #212121));
		border:1px solid #000;
		border-radius:6px 6px 0 0;
		box-shadow:0 1px 0 0 rgba(white,.06) inset;
		text-align: center;
		line-height:30px;
		height:30px;
		position: relative;
		h1{
			font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
			color:#cecece;
			font-size:13px;
			text-shadow:rgba(0,0,0,0.75) 0 1px 0;
			padding-left:9px;
		}
	}
	.win__close{
		@include sized-sprite($icons, 'bullet-red');
		position: absolute;
		top:6px;
		left:4px;
		cursor:pointer;
	}
	.win__content{
		background:url(../img/bg-win.png);
		border-radius:0 0 6px 6px;
		border:1px solid #000;
		border-top:0;
	}
	.win__box{
		padding-top:9px;
	}
	.win__text-box{
		padding:13px 0 5px;
	}
	.win__dev{
		width:322px;
		margin:0 auto;
		height:0;
		border-top:1px solid #000100;
		border-bottom:1px solid #4c4b53;
	}
	.win__footer{
		background: #222;
		border-top:1px solid #000;
		border-radius:0 0 6px 6px;
		box-shadow:0 1px 0 0 #414141 inset;
		text-align:center;
		padding:14px 0;
	}
}
.h2{
	color:#cecece;
	font-size:13px;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	font-weight:bold;
	margin: 7px 23px 10px;
}
.chat-title{
	font-size:18px;
	color:#e3ad12;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	margin:0 23px 15px;
}
.h2 + .chat-title{margin-top:-6px;}

.user-list{text-align:left;}
.user-item{
	overflow:hidden;
	padding:6px 0 0 17px;
	background:#1c1c1c;
	border-top:1px solid #29262f;
	border-bottom:1px solid #1c1c1c;
	height:52px;
	position: relative;
	&:nth-child(even){
		background:#252525;
		border-top-color:#3a3a3a;
		border-bottom-color:#0f0f0f;
	}
	&:first-child{
		box-shadow:0 6px 6px -6px rgba(0,0,0,0.7) inset;
		border-top-color:#000;
	}
	.userpic{
		margin:0;
		a{padding:0;}
	}
	.user__name{
		font-size:12px;
		color:#cecece;
		font-weight:bold;
		text-shadow:rgba(0,0,0,.75) 0 1px 0;
		float:left;
		margin:1px 10px 0 11px;
		width:90px;
		line-height: 16px;
		span{
			display: block;
		}
	}
	.user__lang{
		font-size:11px;
		color:#8b8c92;
		font-family:Helvetica, Arial, sans-serif;
		float:left;
		margin-left:14px;
		width:60px;
		font-weight:bold;
	}
	.user__time{
		color:#eeb411;
		font-size:11px;
		font-family:Helvetica, Arial, sans-serif;
		float:left;
		margin-left:7px;
		font-weight:bold;
	}
	.user__time_gr{color:#a7cc14;}
	.user__time_rd{color:#e10030;}
	.user__mic{
		@include sized-sprite($icons, 'icon-device-2');
		float: right;
		margin: 8px 8px 0 0;
	}
	.user__block{
		float: left;
		*{
			float: none;
			margin-left:0;
			margin-right:0;
		}
	}
	.user__link {
		color:#3686b8;
		font-size:11px;
		font-weight:bold;
		a{
			text-decoration: none;	
			color:#3686b8;
			&:hover{text-decoration: underline;}
		}
	}
	.user__phone-pic{
		@include sized-sprite($icons, 'icon-phone-2');
		float: left;
		margin-right:3px;
	}
	.user__mic-pic{
		@include sized-sprite($icons, 'icon-device-4');
		float: left;
		margin-right:3px;
	}
}

.call-box{
	background:rgba(0,0,0,.44);
	position: absolute;
	top:0;
	left:0;
	height:48px;
	width: 287px;
	padding: 10px 19px 0 24px;
	.call-box_btn{
		float: right;
	}
	.r-btn_inf{
		float: left;
	}

}

.user-item_blur{
	*{color:transparent  !important;}
	.user__name{text-shadow:0 0 5px #cecece !important;}
	.user__lang{text-shadow:0 0 5px #8b8c92 !important;}
	.user__time{text-shadow:0 0 5px #eeb411 !important;}
	.user__time_gr{text-shadow:0 0 5px #a7cc14 !important;}
	.user__time_rd{text-shadow:0 0 5px #e10030 !important;}
}

.user-item_big{
	padding: 9px 11px 0 9px;
	border:0;
	background:none;
	box-shadow:none;
	height:auto;
	margin-bottom: 10px;
	.user__name{
		font-size:18px;
		line-height: 22px;
		margin: 3px 0 0 9px;
	}
	.user__block{
		float: right;
		text-align: right;
		line-height: 18px;
		*{margin-bottom:3px;}
	}
	.user__add{
		width:261px;
		clear: both;
		padding:14px 0 0 57px;
	}
	.user__link{margin: 0 0 7px;}
}

.user-list-header{
	height:27px;
	line-height:27px;
	border:1px solid #000;
	border-width:1px 0;
	background:#424242;
	@include background-image(linear-gradient(#424242, #212121));
	box-shadow:0 1px 0 0 #505050 inset;
	box-shadow:0 0 3px 0 rgba(0,0,0,.09);
	position: relative;
	li{
		float: left;
		list-style: none;
		color:#919192;
		font-weight:bold;
		font-size:11px;
	}
	.user__name{
		padding-left:81px;
		width:97px;
	}
	.user__lang{
		background:#4c4c4c;
		@include background-image(linear-gradient(#4c4c4c, #2c2c2c));
		box-shadow:0 1px 0 0 #595959 inset, 1px 0 0 0 rgba(0,0,0,0.2), -1px 0 0 0 rgba(0,0,0,0.2);
   		width: 93px;
   		text-align: center;
   		cursor:pointer;
   		.sort-arr{margin: 0 -11px 0 3px;}
	}
	.user__time{
		margin-left: 7px;
	}
}
.sort-arr{
	@include sized-sprite($icons, 'arr-04');
	display: inline-block;
	position: relative;
}
.text-note{
	background:#eaebf3;
	box-shadow:0 0 6px 0 rgba(0,0,0,0.75);
	color:#686a78;
	font-size:13px;
	line-height:19px;
	font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
	margin:0 8px 11px 17px;
	border-radius:5px;
	position: relative;
	padding:11px 9px;
	min-height:57px;
	&:after{
		content:"";
		height:12px;
		width:12px;
		background:#eaebf3;
		position: absolute;
		@include rotate(45);
		top:19px;
		left:-5px;
		box-shadow:-3px 3px 3px 0px rgba(0,0,0,0.35);
	}
	textarea{
		border:0;
		padding:0;
		font-size:13px;
		line-height:19px;
		font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
		background:none;
		width:100%;
		color:#686a78;
		min-height:57px;
		display: block;
		resize:vertical;
	}
}
.r-btn{
	height:40px;
	width:40px;
	text-align: center;
	line-height:40px;
	border-radius:20px;
	cursor:pointer;
	border:0;
	margin:0 5px;
	box-shadow:0 1px 0 0 rgba(white,0.4) inset, 0 -1px 0 0 rgba(46,77,0,0.09) inset, 0 0 3px 0 rgba(0,0,0,0.5);
	span{
		display: inline-block;
		position: relative;
	}
	&:hover{
		box-shadow:0 -1px 0 0 rgba(white,0.4) inset, 0 1px 0 0 rgba(46,77,0,0.09) inset, 0 0 3px 0 rgba(0,0,0,0.5);
	}
}
.r-btn_up{
	background:#87b60d;
	@include background-image(linear-gradient(#87b60d, #417204));
	span{
		@include sized-sprite($icons, 'ph-pick-up');
		top: 3px;
	}
	&:hover{
		background:#417204;
		@include background-image(linear-gradient(#417204, #87b60d));
	}
}
.r-btn_down{
	background:#d70018;
	@include background-image(linear-gradient(#d70018, #7f0211));
	span{
		@include sized-sprite($icons, 'ph-hang-up');
		top: -1px;
	}
	&:hover{
		background:#7f0211;
		@include background-image(linear-gradient(#7f0211, #d70018));
	}
}
.r-btn_arr{
	background:#636570;
	@include background-image(linear-gradient(#636570, #42434d));
	span{@include sized-sprite($icons, 'ph-arr');}
	&:hover{
		background:#42434d;
		@include background-image(linear-gradient(#42434d, #636570));
	}
}
.r-btn_inf{
	background:#4c9ec8;
	@include background-image(linear-gradient(#4c9ec8, #0d5fa3));
	span{@include sized-sprite($icons, 'ph-inf');}
	&:hover{
		background:#0d5fa3;
		@include background-image(linear-gradient(#0d5fa3, #4c9ec8));
	}
}
.icon-audio{
	@include sized-sprite($icons, 'icon-device-3');
	display: inline-block;
	margin: 0 3px -11px -15px;
	position: relative;
	top: -3px;
}

.sidebar{
	background:url(../img/bg-win.png);
	width:330px;
	border-right:5px solid #413d46;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	.form-search{
		margin:0 25px 8px;
		.input-search{width:225px;}
	}
	.user-item{
		padding-left:25px;
		.user__name{
			width:102px;
		}
	}
	.sidebar__arr{
		position: absolute;
		background:#413d46;
		border-radius:50%;
		box-shadow:1px 0 0 rgba(white,.2) inset, 0 0 4px 0 rgba(0,0,0,.3);
		right:-24px;
		top:50%;
		margin-top:-26px;
		height:48px;
		width:48px;
		cursor:pointer;
		i{
			@include sized-sprite($icons, 'arr-05');
			display: block;
			margin: 17px 0 0 10px;
		}
	}
}
.tabs{
	overflow: hidden;
	.tabs__nav{
		padding-left:25px;
		height:45px;
		li{
			float: left;
			margin-right:5px;
			font-size:12px;
			font-family: 'HelveticaNeue-B', Helvetica, Arial, sans-serif;
			@include background-image(linear-gradient(rgba(white,.1), rgba(0,0,0,.1)));
			box-shadow: 0 2px 3px 0 rgba(0,0,0,.23), 0 1px 0 0 rgba(white,.10) inset, 0 -1px 0 0 rgba(0,0,0,.55) inset, 0 0 0 1px rgba(white,.05) inset;
			border-radius:3px;
			height:40px;
			line-height:40px;
			list-style: none;
			&:hover{
				@include background-image(linear-gradient(rgba(0,0,0,.1), rgba(white,.1)));
			}
		}
		a{
			display: block;
			color:#aeacb6;
			text-decoration: none;
			padding:0 21px;
		}
		.active{
			border:1px solid rgba(white,.13);
			border-bottom:0;
			box-shadow:0 2px 2px 0 rgba(0,0,0,.25) inset;
			@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.07)));
			border-radius:3px 3px 0 0;
			height:44px;
			position: relative;
			&:hover{@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.07)));}
			a{
				padding:0 20px;
				color: #f2ba06;
				height:45px
			}
			&:before, &:after{
				content:"";
				position: absolute;
				bottom:-1px;
				width:330px;
				box-shadow:0 3px 3px 0 rgba(0,0,0,.32);
				border-top:1px solid rgba(white,.13);
				height:0;
			}
			&:before{
				left:100%;
			}
			&:after{
				right:100%;
			}
		}
	}
	.tabs__nav_w{
		li a{
			padding:0;
			width:90px;
			text-align: center;
		}
		.active a{
			padding:0;
			width:88px;
		}
		.mark-count{
			margin-right:-10px;
			position: relative;
		}
	}
	.tabs__contant{
		@include background-image(linear-gradient(rgba(0,0,0,.07), transparent 25%, transparent));
		padding-top:15px;
		display: none;
	}
}
.nav-sm{
	display: inline-block;
	@include background-image(linear-gradient(rgba(white,.1), rgba(0,0,0,.1)));
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.23), 0 1px 0 0 rgba(white,.10) inset, 0 -1px 0 0 rgba(0,0,0,.55) inset, 0 0 0 1px rgba(white,.05) inset;
	border-radius:4px;
	margin:1px 0 11px 25px;
	li{
		float: left;
		list-style: none;
		border-right:1px solid rgba(0,0,0,.3);
		box-shadow:1px 0 0 0 rgba(white,.1);
		&:last-child{
			border:0;
			box-shadow:none;
			a{
				border-radius:0 4px 4px 0;
				width:53px;
				padding:1px;
			}
		}
		&:first-child a{
			border-radius:4px 0 0 4px;
		}
	}
	a{
		display: block;
		width:54px;
		text-align: center;
		height:38px;
		padding:1px 0 1px 1px;
		line-height:38px;
		text-decoration: none;
		&:hover{
			background:#202127;
			@include background-image(linear-gradient(#202127, #393b44));
			.icon-chat{@include sized-sprite($icons, 'icon-chat_active');}
			.icon-eye{@include sized-sprite($icons, 'icon-eye_active');}
			.icon-mike{@include sized-sprite($icons, 'icon-mike_active');}
			.icon-phone{@include sized-sprite($icons, 'icon-phone_active');}
			.icon-pencil{@include sized-sprite($icons, 'icon-pencil_active');}
			background-clip:content-box;
		}
	}
	i{
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}
	.mark-count{
		margin: 0 -6px 0 3px;
	}
}

.control{
	padding:73px 0 0;
	.control__block{
		
	}
	.control__title{
		height:40px;
		line-height:40px;
		padding:0 24px 0 25px;
		text-shadow:1px 0 0 rgba(0,0,0,.57);
		font-family: 'HelveticaNeue-M', Helvetica, Arial, sans-serif;
		font-size:16px;
		box-shadow:0 1px 2px 0 rgba(0,0,0,.15), 0 1px 0 0 rgba(white,.15) inset, 0 -1px 0 0 rgba(0,0,0,.45) inset;
		background:#6e726a;
		@include background-image(linear-gradient(#6e726a, #3f413c));
		color:#b3b2b9;
		overflow: hidden;
		.btn-arr-up, .btn-close{
			float: right;
			margin:10px 0 0 4px;
		}
	}
	.control__title_violet{
		background:#6b2bb3;
		@include background-image(linear-gradient(#6b2bb3, #301565));
		color:#d5d3dd;
	}
	.control__title_orange{
		background:#c3693f;
		@include background-image(linear-gradient(#c3693f, #822b24));
		color:#bbb1b8;
	}
	.control__inf{
		padding:1px 0 13px;
		display: none;
	}
}
.btn-close{
	@include sized-sprite($icons, 'close');
	display: block;
	cursor:pointer;
}
.btn-arr-up{
	@include sized-sprite($icons, 'arr-03');
	display: block;
	cursor:pointer;
}