@import "base";
.win-bg{
	/*@include background-image(radial-gradient(660px 660px, rgba(0,0,0,.7) 50%, rgba(0,0,0,.95) 150%));*/
	@include background-image(radial-gradient(rgba(0,0,0,.7) 50%, rgba(0,0,0,.95) 100%));
	position:fixed;
	top:0;
	bottom:0;
	z-index:10;
	width:100%;
	height:100%;
}
.win{
	position: absolute;
	border-radius:6px;
	width:340px;
	box-shadow:0 0 15px 0 rgba(0,0,0,0.75);
	left:50%;
	top:100px;
	margin-left:-170px;
	z-index:15;
	.win__title{
		background:#414141;
		@include background-image(linear-gradient(#3f3f3f 0%, #2c2c2c 32%, #212121 100%));
		border:1px solid #000;
		border-radius:6px 6px 0 0;
		box-shadow:0 1px 0 0 rgba(white,.06) inset;
		text-align: center;
		line-height:30px;
		height:30px;
		position: relative;
		h1{
			@include font-B;
			color:#cecece;
			font-size:13px;
			text-shadow:rgba(0,0,0,0.75) 0 1px 0;
			padding-left:9px;
		}
	}
	.win__close{
		@include sized-sprite($icons, 'bullet-red');
		position: absolute;
		top:6px;
		left:4px;
		cursor:pointer;
	}
	.win__content{
		background:url(../img/bg-win.png);
		border-radius:0 0 6px 6px;
		border:1px solid #000;
		border-top:0;
		padding-top:1px;
	}
	.win__box{
		padding-top:9px;
	}
	.win__text-box{
		margin-top:13px;
	}
	.win__dev{
		width:322px;
		margin:0 auto;
		height:0;
		border-top:1px solid #000100;
		border-bottom:1px solid rgba(white,.13);
	}
	.win__footer{
		background: #222;
		border-top:1px solid #000;
		border-radius:0 0 6px 6px;
		box-shadow:0 1px 0 0 #414141 inset;
		text-align:center;
		padding:14px 0;
	}
	.win__footer-tr{
		padding:14px 10px;
		overflow: hidden;
		.btn{
			float:right;
			margin-left:16px;
		}
	}
}
.h2{
	color:#cecece;
	font-size:13px;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	font-weight:bold;
	margin:6px 23px 10px;
}
.chat-title{
	font-size:18px;
	color:#e3ad12;
	text-shadow:0 1px 0 rgba(0,0,0,0.75);
	margin:0 23px 15px;
}
.h2 + .chat-title{margin-top:-6px;}


.text-note{
	background:#eaebf3;
	box-shadow:0 0 6px 2px rgba(0,0,0,0.75);
	color:#686a78;
	font-size:13px;
	line-height:19px;
	@include font-M;
	margin:0 8px 11px 17px;
	border-radius:5px;
	position: relative;
	padding:11px 9px;
	min-height:57px;
	&:after{
		content:"";
		height:12px;
		width:12px;
		background:#eaebf3;
		position: absolute;
		@include rotate(45deg);
		top:19px;
		left:-5px;
		box-shadow:-3px 3px 3px 0px rgba(0,0,0,0.35);
	}
	textarea{
		border:0;
		padding:0;
		font-size:13px;
		line-height:19px;
		@include font-M;
		background:none;
		width:100%;
		color:#686a78;
		min-height:57px;
		display: block;
		resize:vertical;
	}
}


.r-btn{
	height:40px;
	width:40px;
	text-align: center;
	line-height:40px;
	border-radius:50%;
	cursor:pointer;
	border:0;
	margin:0 5px;
	box-shadow:0 1px 0 0 rgba(white,0.4) inset, 0 -1px 0 0 rgba(46,77,0,0.09) inset, 0 0 3px 0 rgba(0,0,0,0.5);
	position: relative;
	span{
		display:block;
		position: relative;
		position: absolute;
		top:50%;
		left:50%;
	}
	&:hover{
		box-shadow:0 -1px 0 0 rgba(white,0.4) inset, 0 1px 0 0 rgba(46,77,0,0.09) inset, 0 0 3px 0 rgba(0,0,0,0.5);
	}
}

.r-btn_l{
	height:34px;
	width:34px;
	line-height:34px;
	margin:0 2px;
	box-shadow:0 0 3px rgba(0,0,0,.5);
}
.r-btn_up, .r-btn_plus{
	background:#87b60d;
	@include background-image(linear-gradient(#87b60d, #417204));
	span{
		@include sized-sprite($icons, 'ph-pick-up');
		margin: -10px 0 0 -9px;
	}
	&:hover{
		background:#417204;
		@include background-image(linear-gradient(#417204, #87b60d));
	}
}
.r-btn_plus span{
	@include sized-sprite($icons, 'ph-plus');
	margin: -7px 0 0 -6px;
}
.r-btn_down, .r-btn_cansel{
	background:#d70018;
	@include background-image(linear-gradient(#d70018, #7f0211));
	span{
		@include sized-sprite($icons, 'ph-hang-up');
		margin:-5px 0 0 -11px;
	}
	&:hover{
		background:#7f0211;
		@include background-image(linear-gradient(#7f0211, #d70018));
	}
}
.r-btn_cansel span{
	@include sized-sprite($icons, 'ph-cansel');
	margin: -7px 0 0 -7px;
}
.r-btn_arr, .r-btn_arr1{
	background:#636570;
	@include background-image(linear-gradient(#636570, #42434d));
	span{
		@include sized-sprite($icons, 'ph-arr');
		margin: -9px 0 0 -7px;
		}
	&:hover{
		background:#42434d;
		@include background-image(linear-gradient(#42434d, #636570));
	}
}
.r-btn_arr1 span{
	@include sized-sprite($icons, 'ph-arr1');
	margin: -8px 0 0 -5px;
}
.r-btn_inf{
	background:#4c9ec8;
	@include background-image(linear-gradient(#4c9ec8, #0d5fa3));
	span{
			@include sized-sprite($icons, 'ph-inf');
			margin: -9px 0 0 -3px;
		}
	&:hover{
		background:#0d5fa3;
		@include background-image(linear-gradient(#0d5fa3, #4c9ec8));
	}
}

.r-btn-gray{
	height:36px;
	width:36px;
	line-height:36px;
	margin:0 2px;
	border:1px solid #252731;
	text-align: center;
	border-radius:50%;
	cursor:pointer;
	margin: 0 2px 0 6px;
	box-shadow:0 1px 0 0 rgba(white,0.21) inset, 0 1px 1px 0 rgba(0,0,0,.3);
	@include background-image(linear-gradient(#605e64, #413d46));
	span{
		display: inline-block;
		position: relative;
		vertical-align: middle;
	}
	&:hover{
		@include background-image(linear-gradient(#404040, #282828));
	}
	&.active, &:active{
		@include background-image(linear-gradient(#fecd19, #b06200));
		.btn-icon-doc{@include sized-sprite($icons, 'btn-doc_active');}
		.btn-icon-graph{@include sized-sprite($icons, 'btn-fraph_active');}
	}
}
.btn-icon-doc{
	@include sized-sprite($icons, 'btn-doc');
	left: 2px;
	top: -2px;
}
.btn-icon-graph{
	@include sized-sprite($icons, 'btn-fraph');
	top: -1px;
}
.btn-icon-save{
	@include sized-sprite($icons, 'btn-save');
	left: 1px;
	top: -1px;
}

.icon-audio{
	@include sized-sprite($icons, 'icon-device-3');
	display: inline-block;
	position: relative;
}

.h2 .icon-audio{
	top: -3px;
	margin: 0 3px -11px -15px;
}

.tabs{
	padding-top:8px;
	overflow: hidden;
	.tabs__nav{
		padding-left:9px;
		height:45px;
		li{
			float: left;
			margin-right:5px;
			font-size:12px;
			@include font-B;
			@include background-image(linear-gradient(rgba(white,.1), rgba(0,0,0,.1)));
			box-shadow: 0 2px 3px 0 rgba(0,0,0,.23), 0 1px 0 0 rgba(white,.10) inset, 0 -1px 0 0 rgba(0,0,0,.55) inset, 0 0 0 1px rgba(white,.05) inset;
			border-radius:3px;
			height:40px;
			line-height:40px;
			list-style: none;
			&:hover{
				@include background-image(linear-gradient(rgba(0,0,0,.1), rgba(white,.1)));
			}
		}
		a{
			display: block;
			color:#aeacb6;
			text-decoration: none;
			width:90px;
			text-align: center;
		}
		.active{
			border:1px solid rgba(white,.13);
			border-bottom:0;
			box-shadow:0 2px 2px 0 rgba(0,0,0,.25) inset;
			@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.07)));
			border-radius:3px 3px 0 0;
			height:44px;
			position: relative;
			&:hover{@include background-image(linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,.07)));}
			a{
				width:88px;
				color: #f2ba06;
				height:45px
			}
			&:before, &:after{
				content:"";
				position: absolute;
				bottom:-1px;
				width:1500px;
				box-shadow:0 1px 1px 0 rgba(0,0,0,.32);
				border-top:1px solid rgba(white,.13);
				height:0;
			}
			&:before{
				left:100%;
			}
			&:after{
				right:100%;
			}
		}
		.mark-count{
			margin-right:-10px;
			position: relative;
		}
	}
	.tabs__nav_b{
		a{
			width:105px;
		}
		.active a{width:103px;}
	}
	.tabs__contant{
		@include background-image(linear-gradient(rgba(0,0,0,.07), transparent 25%, transparent));
		padding-top:8px;
		display: none;
	}
}

.room{
	.room__header{
		@include background-image(linear-gradient(#544169, #403255));
		overflow: hidden;
		box-shadow:0 5px 4px -4px rgba(0,0,0,.8) inset;
		padding:0 6px 0 12px;
		min-height:56px;
		border-top:1px solid #1e1725;
	}
	.room__title{
		float: left;
		display: table;
		width:190px;
		height:56px;
		h2{
			font-size:16px;
			color:#b2b2bf;
			text-shadow:0 1px 0 rgba(0,0,0,.75);
			line-height:1.3;
			display: table-cell;
			vertical-align:middle;
			.mark-count{
				font-weight:normal;
				padding: 1px 5px;
				position: relative;
				top: -2px;
			}
		}
	}
	.room__btns{
		padding:10px 0 0;
		float: right;
	}
	.room__meta{
		background: #403255; 
		@include background-image(linear-gradient(#403255, #362a4b));
		border-bottom:1px solid #47474e;
		box-shadow:0 -5px 4px -4px rgba(0,0,0,.8) inset;
		margin-bottom:7px;
		ul{
			padding:4px 8px 1px 13px;
			height:24px;
		}
		li{
			list-style-type: none;
			color:#66537b;
			font-size:11px;
			float: left;
			margin-left:29px;
			font-weight:bold;
			&:last-child{
				float: right;
			}
			&:first-child{
				margin-left:0;
			}
		}
		span{
			font-size:16px;
			color: #b1b1be;
			vertical-align:baseline;
			min-width:41px;
			display: inline-block;
		}
		.icon-audio{
			margin: 1px 0 0 3px;
			top: -3px;
			vertical-align: middle;
		}
	}
	.user-list{
		border-bottom:0;
	}
}
